openapi: 3.0.2
info:
  title: Konnect Organization Settings API - Beta
  version: 0.0.0
  description: The management API for Kong Konnect Organization Settings resources.
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://global.api.konghq.com/v2'
    description: Global Base URL
paths:
  /audit-log-replay-job:
    put:
      summary: Create or replace a job to replay audit logs
      description: |-
        _The audit logs feature is currently in beta and is subject to change._

        Creates or replaces a job to replay/re-send audit logs to an organization's webook.
      operationId: create-audit-log-replay-job
      x-unstable: true
      requestBody:
        $ref: '#/components/requestBodies/CreateAuditLogReplayJob'
      tags: [Audit Logs]
      responses:
        '202':
          $ref: '#/components/responses/AuditLogReplayJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
    get:
      summary: Get Audit Log Replay Job
      description: |-
        _The audit logs feature is currently in beta and is subject to change._

        Returns the audit log replay job's configuration and status.
      operationId: get-audit-log-replay-job
      x-unstable: true
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogReplayJob'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'

  /audit-log-webhook:
    put:
      summary: Update Audit Log Webhook
      description: |-
        _The audit logs feature is currently in beta and is subject to change._

        Sets configuration for a webhook to receive audit logs.
      operationId: update-audit-log-webhook
      x-unstable: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuditLogWebhook'
      tags: [Audit Logs - Webhook]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
    get:
      summary: Get Audit Log Webhook
      description: |-
        _The audit logs feature is currently in beta and is subject to change._

        Returns configuration for the audit log webhook.
      operationId: get-audit-log-webhook
      x-unstable: true
      tags: [Audit Logs - Webhook]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'

components:
  responses:
    AuditLogReplayJob:
      description: Get response for an audit log replay job
      content:
        application/json:
          schema:
            type: object
            properties:
              start_at:
                type: string
                format: date-time
                example: '2017-07-21T17:32:28Z'
                description: The start of a date-time range.
              end_at:
                type: string
                format: date-time
                example: '2017-07-21T17:32:28Z'
                description: The end of a date-time range.
              region:
                type: string
                example: us
                description: The konnect region.
                enum: [us, eu]
              status:
                type: string
                enum: [accepted, canceled, completed, running, failed]
              created_at:
                type: string
                description: Timestamp of when the audit log replay job was created.
                format: date-time
                readOnly: true
    AuditLogWebhook:
      description: Get response for audit log webhook
      content:
        application/json:
          schema:
            type: object
            properties:
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              enabled:
                type: boolean
                example: true
                description: Indicates whether audit data should be sent to the webhook.
          examples:
            Get Audit Log Webhook:
              $ref: '#/components/examples/Get-Audit-Log-Webhook'
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            type: object
            description: The error object
            properties:
              status:
                type: integer
                description: The HTTP response code
                example: 400
              title:
                type: string
                example: Bad Request
                description: The Error response
              instance:
                type: string
                description: The Konnect traceback ID.
                example: 'konnect:trace:3674017986744198214'
              invalid_parameters:
                type: array
                description: An array of objects that contains information related to the error response.
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    reason:
                      type: string
          examples:
            Request Format is Invalid:
              $ref: '#/components/examples/400-request-format-is-invalid'
            Authorization Cannot be Blank:
              $ref: '#/components/examples/400-authorization-cannot-be-blank'
            Endpoint Cannot be Blank:
              $ref: '#/components/examples/400-endpoint-cannot-be-blank'
            Endpoint Must be a valid URL:
              $ref: '#/components/examples/400-endpoint-must-be-valid-url'
    PermissionDenied:
      description: Permission denied
      content:
        application/problem+json:
          schema:
            type: object
            x-examples:
              Example 1:
                status: 403
                title: Permission denied
                instance: 'konnect:trace:2822394689570210664'
                detail: Only enterprise organizations can set audit log webhooks
            description: The error object.
            properties:
              status:
                type: integer
                description: HTTP status code.
                example: 403
              title:
                type: string
                example: Bad Request
                description: HTTP status code
              instance:
                type: string
                description: Konnect traceback error code.
                example: 'konnect:trace:3674017986744198214'
              detail:
                type: string
                description: Information about the error response.
                example: Only enterprise organizations can set audit log webhooks
          examples:
            Permission Denied:
              $ref: '#/components/examples/403-permission-denied'
            Invalid Permissions:
              $ref: '#/components/examples/403-invalid-permissions'
            Username or Password invalid:
              $ref: '#/components/examples/403-auth-invalid'
    Unauthenticated:
      description: Unauthenticated
      content:
        application/problem+json:
          schema:
            type: object
            x-examples:
              Example 1:
                status: 401
                title: Unauthenticated
                instance: 'konnect:trace:952172606039454040'
                detail: A valid token is required
            description: The error response object.
            properties:
              status:
                type: integer
                example: 401
                description: The HTTP status code.
              title:
                type: string
                description: The Error Response.
                example: Unauthenticated
              instance:
                type: string
                description: The Konnect traceback code.
                example: 'konnect:trace:952172606039454040'
              detail:
                type: string
                description: Details about the error response.
                example: A valid token is required
          examples:
            Unauthorized:
              $ref: '#/components/examples/401-unauthenticated'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            type: object
            x-examples:
              Example:
                status: 403
                title: Unauthorized
                instance: 'konnect:trace:952172606039454040'
                detail: You do not have permission to perform this action
            description: The error response object.
            properties:
              status:
                type: integer
                example: 403
                description: The HTTP status code.
              title:
                type: string
                description: The Error Response.
                example: Unauthorized
              instance:
                type: string
                description: The Konnect traceback code.
                example: 'konnect:trace:952172606039454040'
              detail:
                type: string
                description: Details about the error response.
                example: You do not have permission to perform this action
          examples:
            Unauthorized:
              $ref: '#/components/examples/403-permission-denied'
  requestBodies:
    CreateAuditLogReplayJob:
      description: The request schema to create/replace an audit log replay job.
      content:
        application/json:
          schema:
            type: object
            required:
              - start
              - end
              - region
            properties:
              start_at:
                type: string
                format: date-time
                description: |- 
                  The start of a date-time range in RFC3339 format e.g. 2017-07-21T17:32:28Z.
                  Within the last 7 days.
              end_at:
                type: string
                format: date-time
                description: |-
                  The end of a date-time range in RFC3339 format e.g. 2017-07-21T17:32:28Z.
                  Within the last 7 days.
              region:
                type: string
                example: us
                description: The konnect region.
                enum: [us, eu]
              cancel:
                type: boolean
                description: Cancel an existing job with status accepted or running.

    UpdateAuditLogWebhook:
      description: The request schema to update an audit log webhook.
      content:
        application/json:
          schema:
            type: object
            required: 
              - endpoint
              - authorization
            properties:
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              authorization:
                type: string
                example: 'Bearer sometoken'
                description: The value to include in the `Authorization` header when sending audit logs
              enabled:
                type: boolean
                example: true
                description: Indicates if the data should be sent to the webhook.

          examples:
            Example Request Body:
              $ref: '#/components/examples/Update-Audit-Log-Webhook'

  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs.
        You can generate a Personal Access Token (PAT) from the [personal access token page](https://cloud.konghq.com/global/tokens/) in the Konnect dashboard.
        The PAT token must be passed in the header of a request, for example:
         `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer kpat_xgfT...'`
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The system account access token is meant for automations and integrations that are not directly associated with a human identity.
        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.
        The access token must be passed in the header of a request, for example:
         `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer spat_i2Ej...'`
  examples:
    400-request-format-is-invalid:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:3674017986744198214'
        invalid_parameters:
          - field: body
            reason: request format is invalid
    400-authorization-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: authorization
            reason: cannot be blank
    400-endpoint-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: endpoint
            reason: cannot be blank
    400-endpoint-must-be-valid-url:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: endpoint
            reason: must be a valid URL
    404-not-found:
      value:
        status: 404
        title: Not Found
        instance: 'konnect:trace:2287285207635123011'
        detail: The requested resource was not found
    403-permission-denied:
      value:
        status: 403
        title: Permission denied
        instance: 'konnect:trace:2822394689570210664'
        detail: Only enterprise organizations can perform this action
    403-invalid-permissions:
      value:
        status: 403
        title: Invalid Permissions
        detail: 'You must have the [administrator] role to perform this action'
        instance: 'konnect:trace:6c1ef33ae5bce33634d7d7d695c7f203'
    403-auth-invalid:
      value:
        type: 'https://kongapi.info/konnect/invalid-permissions'
        status: 403
        title: Invalid Permissions
        detail: 'You must have the [administrator] role to perform this action'
        instance: 'konnect:trace:6c1ef33ae5bce33634d7d7d695c7f203'
    429-rate-limited:
      value:
        status: 429
        title: Rate Limited
        instance: 'konnect:trace:6644808935508571943'
        detail: Too many requests
    401-unauthenticated:
      value:
        status: 401
        title: Unauthenticated
        instance: 'konnect:trace:952172606039454040'
        detail: A valid token is required
    Update-Audit-Log-Webhook:
      value:
        endpoint: https://example.com/audit-log
        authorization: 'Bearer sometoken'
        enabled: true
    Get-Audit-Log-Webhook:
      value:
        endpoint: https://example.com/audit-log
        authorization: 'Bearer sometoken'
        enabled: true

security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Audit Logs
