# All APIs need review from team-aip
*       @Kong/team-aip

# IdentityAPI
konnect/definitions/identity/**    @Kong/team-platform-services
konnect/definitions/portal-rbac/**   @Kong/team-platform-services

# Portal
portal/    @Kong/team-devx
portal/definitions/authentication/**    @Kong/team-platform-services
