openapi: 3.1.0
info:
  contact:
    email: support@konghq.com
    name: Kong
    url: https://cloud.konghq.com
  description: The Konnect platform API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Konnect API
  version: 2.0.0
servers:
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
  - url: https://global.api.konghq.com
paths:
  /v0/serverless-cloud-gateways:
    post:
      x-speakeasy-entity-operation: ServerlessCloudGateway#create
      operationId: create-serverless-cloud-gateway
      summary: Create a new serverless cloud gateway
      description: Create a new serverless cloud gateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerlessCloudGatewayRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateServerlessCloudGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Serverless Cloud Gateways
      servers:
        - url: https://global.api.konghq.com/
  /v0/serverless-cloud-gateways/{controlPlaneId}:
    parameters:
      - description: Id of the Serverless Cloud Gateway control plane
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        in: path
        name: controlPlaneId
        required: true
        schema:
          format: uuid
          type: string
        x-speakeasy-match: control_plane.id
    get:
      x-speakeasy-entity-operation: ServerlessCloudGateway#read
      operationId: get-serverless-cloud-gateway
      summary: Get the serverless cloud gateway
      description: Get the serverless cloud gateway
      responses:
        '200':
          $ref: '#/components/responses/RetrieveServerlessCloudGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Serverless Cloud Gateways
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-entity-operation: ServerlessCloudGateway#delete
      operationId: delete-serverless-cloud-gateway
      summary: Delete the serverless cloud gateway
      description: Delete the serverless cloud gateway
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Serverless Cloud Gateways
      servers:
        - url: https://global.api.konghq.com/
  /v1/mesh/control-planes:
    post:
      x-speakeasy-entity-operation: MeshControlPlane#create
      operationId: create-cp
      summary: Create a new control plane
      description: Create a new control plane
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeshControlPlaneRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/CreateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
      tags:
        - Mesh
  /v1/mesh/control-planes/{cpId}:
    parameters:
      - description: Id of the Konnect resource
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        in: path
        name: cpId
        required: true
        schema:
          format: uuid
          type: string
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: MeshControlPlane#read
      operationId: get-mesh-control-plane
      summary: Get the control plane
      description: Get the control plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveMeshControlPlaneResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    patch:
      x-speakeasy-entity-operation: MeshControlPlane#update
      operationId: update-mesh-control-plane
      summary: Update control plane
      description: Update an individual control plane.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeshControlPlaneRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/UpdateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/UpdateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    delete:
      x-speakeasy-entity-operation: MeshControlPlane#delete
      operationId: delete-mesh-control-plane
      summary: Delete the control plane
      description: Delete the control plane
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
  /v2/api-products:
    post:
      x-speakeasy-entity-operation: ApiProduct#create
      operationId: create-api-product
      summary: Create API Product
      description: >
        An API Product packages together associated APIs and their operations,
        backed by thorough documentation,

        with the objective of making API consumption straightforward for
        developers.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
  /v2/api-products/{apiProductId}/documents:
    parameters:
      - description: The API product identifier
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
    post:
      x-speakeasy-entity-operation: APIProductDocument#create
      operationId: create-api-product-document
      summary: Create API Product Document
      description: Creates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
  /v2/api-products/{apiProductId}/documents/{id}:
    parameters:
      - description: The API product identifier
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
      - description: The document identifier related to the API product
        in: path
        name: id
        required: true
        schema:
          example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
          format: uuid
          type: string
    get:
      x-speakeasy-entity-operation: APIProductDocument#read
      operationId: get-api-product-document
      summary: Fetch API Product Document
      description: Returns a document for the API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
    patch:
      x-speakeasy-entity-operation: APIProductDocument#update
      operationId: update-api-product-document
      summary: Update an API Product Document
      description: Updates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
    delete:
      x-speakeasy-entity-operation: APIProductDocument#delete
      operationId: delete-api-product-document
      summary: Delete API Product Documentation
      description: Removes a document from an API product.
      responses:
        '204':
          description: Document for the API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
  /v2/api-products/{apiProductId}/product-versions:
    parameters:
      - description: The API Product ID
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
    post:
      x-speakeasy-entity-operation: ApiProductVersion#create
      operationId: create-api-product-version
      summary: Create API Product Version
      description: Creates a version of an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
  /v2/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications:
    parameters:
      - description: The API product identifier
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
      - description: The API product version identifier
        in: path
        name: apiProductVersionId
        required: true
        schema:
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          format: uuid
          type: string
    post:
      x-speakeasy-entity-operation: APIProductSpecification#create
      operationId: create-api-product-version-spec
      summary: Create API Product Version Specification
      description: |
        Creates a specification for a version of an API product.
        **Note:** You can only have one specification for a product version.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
  /v2/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications/{specificationId}:
    parameters:
      - description: The API product identifier
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
      - description: The API product version identifier
        in: path
        name: apiProductVersionId
        required: true
        schema:
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          format: uuid
          type: string
      - description: The API product version specification identifier
        in: path
        name: specificationId
        required: true
        schema:
          example: 742ff9f1-fb89-4aeb-a599-f0e278c7aeaa
          format: uuid
          type: string
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: APIProductSpecification#read
      operationId: get-api-product-version-spec
      summary: Fetch API Product Version Specification
      description: Returns a specification for the version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
    patch:
      x-speakeasy-entity-operation: APIProductSpecification#update
      operationId: update-api-product-version-spec
      summary: Update an API Product Version Specification
      description: Updates a specification from an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
    delete:
      x-speakeasy-entity-operation: APIProductSpecification#delete
      operationId: delete-api-product-version-spec
      summary: Delete API Product Version Specification
      description: Removes a specification from a verion of an API product.
      responses:
        '204':
          description: >-
            Specification for the version of an API product was deleted
            successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
  /v2/api-products/{apiProductId}/product-versions/{id}:
    parameters:
      - description: The API product identifier
        in: path
        name: apiProductId
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
      - description: The API product version identifier
        in: path
        name: id
        required: true
        schema:
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          format: uuid
          type: string
    get:
      x-speakeasy-entity-operation: ApiProductVersion#read
      operationId: get-api-product-version
      summary: Fetch API Product Version
      description: Returns a version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
    patch:
      x-speakeasy-entity-operation: ApiProductVersion#update
      operationId: update-api-product-version
      summary: Update an API Product Version
      description: Updates an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
    delete:
      x-speakeasy-entity-operation: ApiProductVersion#delete
      operationId: delete-api-product-version
      summary: Delete API Product Version
      description: Removes an API product version.
      responses:
        '204':
          description: API product version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  /v2/api-products/{id}:
    parameters:
      - description: API product identifier
        in: path
        name: id
        required: true
        schema:
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          format: uuid
          type: string
    get:
      x-speakeasy-entity-operation: ApiProduct#read
      operationId: get-api-product
      summary: Fetch API product
      description: Returns an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
    patch:
      x-speakeasy-entity-operation: ApiProduct#update
      operationId: update-api-product
      summary: Update an individual API product
      description: Updates an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad Request
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
    delete:
      x-speakeasy-entity-operation: ApiProduct#delete
      operationId: delete-api-product
      summary: Delete API Product
      description: Removes an individual API product.
      responses:
        '204':
          description: API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  /v2/application-auth-strategies:
    post:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#create
      operationId: create-app-auth-strategy
      summary: Create App Auth Strategy
      description: Creates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/CreateAppAuthStrategy'
      responses:
        '201':
          $ref: '#/components/responses/CreateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - App Auth Strategies
  /v2/application-auth-strategies/{authStrategyId}:
    parameters:
      - $ref: '#/components/parameters/AuthStrategyId'
    get:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#read
      operationId: get-app-auth-strategy
      summary: Get App Auth Strategy
      description: Returns an application auth strategy.
      responses:
        '200':
          $ref: '#/components/responses/GetAppAuthStrategy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    patch:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#update
      operationId: update-app-auth-strategy
      summary: Update App Auth Strategy
      description: Updates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAppAuthStrategy'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    delete:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#delete
      operationId: delete-app-auth-strategy
      summary: Delete App Auth Strategy
      description: >-
        Deletes an application auth strategy. An application auth strategy can
        be deleted ONLY if it's not used by any product version within any
        portal regardless of their publication statuses. If an application auth
        strategy is still in use the request will result in an HTTP 409
        CONFLICT.
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - App Auth Strategies
  /v2/cloud-gateways/configurations:
    put:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#create,update
      operationId: create-configuration
      summary: Create Configuration
      description: >
        Creates a new configuration for a control-plane (restricted by permitted
        control-plane permissions for

        configurations). This request will replace any existing configuration
        for the requested control_plane_id and

        control_plane_geo by performing a diff. From this diff, new resources
        detected in the requested configuration

        will be added, resources not found in the request configuration but in
        the previous will be deleted, and

        resources found in both will be updated to the requested configuration.
        Networks referenced in this request that

        are in an offline state will automatically initialize (i.e. move to an
        initializing state).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CreateConfigurationResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/CloudGatewaysConflict'
      tags:
        - Data-Plane Group Configurations
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/configurations/{configurationId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#get
      operationId: get-configuration
      summary: Get Configuration
      description: >-
        Retrieves a configuration by ID (restricted by permitted control-plane
        read).
      responses:
        '200':
          $ref: '#/components/responses/RetrieveConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Data-Plane Group Configurations
      parameters:
        - $ref: '#/components/parameters/ConfigurationId'
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/custom-domains:
    post:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#create
      operationId: create-custom-domains
      summary: Create Custom Domain
      description: >
        Creates a new custom domain for a control-plane (restricted by permitted
        control-plane associate-custom-domain

        action).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateCustomDomainResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Custom Domains
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/custom-domains/{customDomainId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#read
      operationId: get-custom-domain
      summary: Get Custom Domain
      description: >-
        Retrieves a custom domain by ID (restricted by permitted control-plane
        reads).
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCustomDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#delete
      operationId: delete-custom-domain
      summary: Delete Custom Domain
      description: >-
        Deletes a custom domain by ID (restricted by permitted control-plane
        reads).
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      servers:
        - url: https://global.api.konghq.com/
      x-speakeasy-retries:
        backoff:
          exponent: 1.5
          initialInterval: 10000
          maxElapsedTime: 1800000
          maxInterval: 60000
        retryConnectionErrors: false
        statusCodes:
          - 400
        strategy: backoff
  /v2/cloud-gateways/networks:
    post:
      x-speakeasy-entity-operation: CloudGatewayNetwork#create
      operationId: create-network
      summary: Create Network
      description: Creates a new network for a given provider account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
      servers:
        - url: https://global.api.konghq.com/
  /v2/cloud-gateways/networks/{networkId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayNetwork#read
      operationId: get-network
      summary: Get Network
      description: Retrieves a network by ID.
      responses:
        '200':
          $ref: '#/components/responses/RetrieveNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      servers:
        - url: https://global.api.konghq.com/
    patch:
      x-speakeasy-entity-operation: CloudGatewayNetwork#update
      operationId: update-network
      summary: Update Network
      description: Updates a network by ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchNetworkRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PatchNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-entity-operation: CloudGatewayNetwork#delete
      operationId: delete-network
      summary: Delete Network
      description: Deletes a network by ID.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      servers:
        - url: https://global.api.konghq.com/
      x-speakeasy-retries:
        backoff:
          exponent: 1.5
          initialInterval: 10000
          maxElapsedTime: 1800000
          maxInterval: 60000
        retryConnectionErrors: false
        statusCodes:
          - 400
        strategy: backoff
  /v2/cloud-gateways/networks/{networkId}/transit-gateways:
    post:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#create
      operationId: create-transit-gateway
      summary: Create Transit Gateway
      description: Creates a new transit gateway for a given network.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransitGatewayRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateTransitGatewayResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Transit Gateways
      parameters:
        - description: The network to operate on.
          in: path
          name: networkId
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
      servers:
        - url: https://global.api.konghq.com/
      x-speakeasy-retries:
        backoff:
          exponent: 1.5
          initialInterval: 30000
          maxElapsedTime: 3600000
          maxInterval: 60000
        retryConnectionErrors: false
        statusCodes:
          - 400
        strategy: backoff
  /v2/cloud-gateways/networks/{networkId}/transit-gateways/{transitGatewayId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#read
      operationId: get-transit-gateway
      summary: Get Transit Gateway
      description: Retrieves a transit gateway by ID for a given network.
      responses:
        '200':
          $ref: '#/components/responses/RetrieveTransitGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
      parameters:
        - description: The network to operate on.
          in: path
          name: networkId
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      servers:
        - url: https://global.api.konghq.com/
    delete:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#delete
      operationId: delete-transit-gateway
      summary: Delete Transit Gateway
      description: Deletes a transit gateway by ID for a given network.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
      parameters:
        - description: The network to operate on.
          in: path
          name: networkId
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      servers:
        - url: https://global.api.konghq.com/
      x-speakeasy-retries:
        backoff:
          exponent: 1.5
          initialInterval: 10000
          maxElapsedTime: 1800000
          maxInterval: 60000
        retryConnectionErrors: false
        statusCodes:
          - 400
        strategy: backoff
  /v2/cloud-gateways/provider-accounts:
    get:
      x-speakeasy-entity-operation: CloudGatewayProviderAccountList#read
      operationId: list-provider-accounts
      summary: List Provider Accounts
      description: >-
        Returns a a paginated collection of provider accounts for an
        organization.
      responses:
        '200':
          $ref: '#/components/responses/ListProviderAccountsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Provider Accounts
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      servers:
        - url: https://global.api.konghq.com/
  /v2/control-planes:
    parameters: []
    post:
      x-speakeasy-entity-operation: GatewayControlPlane#create
      operationId: create-control-plane
      summary: Create Control Plane
      description: Create a control plane in the Konnect Organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCACertificate#create
      operationId: create-ca_certificate
      summary: Create a new CA Certificate
      description: Create a new CA Certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
        description: Description of the new CA Certificate for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
          description: Successfully created CA Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates/{CACertificateId}:
    parameters:
      - $ref: '#/components/parameters/CACertificateId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayCACertificate#read
      operationId: get-ca_certificate
      summary: Fetch a CA Certificate
      description: Get a CA Certificate using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
          description: Successfully fetched CA Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - CA Certificates
    put:
      x-speakeasy-entity-operation: GatewayCACertificate#update
      operationId: upsert-ca_certificate
      summary: Upsert a CA Certificate
      description: Create or Update CA Certificate using ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
        description: Description of the CA Certificate
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
          description: Successfully upserted CA Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
    delete:
      x-speakeasy-entity-operation: GatewayCACertificate#delete
      operationId: delete-ca_certificate
      summary: Delete a CA Certificate
      description: Delete a CA Certificate
      responses:
        '204':
          description: Successfully deleted CA Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
      parameters:
        - $ref: '#/components/parameters/CACertificateId'
  /v2/control-planes/{controlPlaneId}/core-entities/certificates:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCertificate#create
      operationId: create-certificate
      summary: Create a new Certificate
      description: Create a new Certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: Description of the new Certificate for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successfully created Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
  /v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}:
    parameters:
      - $ref: '#/components/parameters/CertificateId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayCertificate#read
      operationId: get-certificate
      summary: Fetch a Certificate
      description: Get a Certificate using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successfully fetched Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Certificates
    put:
      x-speakeasy-entity-operation: GatewayCertificate#update
      operationId: upsert-certificate
      summary: Upsert a Certificate
      description: Create or Update Certificate using ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: Description of the Certificate
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successfully upserted Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
    delete:
      x-speakeasy-entity-operation: GatewayCertificate#delete
      operationId: delete-certificate
      summary: Delete a Certificate
      description: Delete a Certificate
      responses:
        '204':
          description: Successfully deleted Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
      parameters:
        - $ref: '#/components/parameters/CertificateId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumerGroup#create
      operationId: create-consumer_group
      summary: Create a new Consumer Group
      description: Create a new Consumer Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
        description: Description of the new Consumer Group for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
          description: Successfully created Consumer Group
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}:
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayConsumerGroup#read
      operationId: get-consumer_group
      summary: Fetch a Consumer Group
      description: Get a Consumer Group using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupInsideWrapper'
          description: Successfully fetched Consumer Group
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumer Groups
    put:
      x-speakeasy-entity-operation: GatewayConsumerGroup#update
      operationId: upsert-consumer_group
      summary: Upsert a Consumer Group
      description: Create or Update Consumer Group using ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
        description: Description of the Consumer Group
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
          description: Successfully upserted Consumer Group
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
    delete:
      x-speakeasy-entity-operation: GatewayConsumerGroup#delete
      operationId: delete-consumer_group
      summary: Delete a Consumer Group
      description: Delete a Consumer Group
      responses:
        '204':
          description: Successfully deleted Consumer Group or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers:
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#create
      operationId: add-consumer-to-group
      summary: Add consumer to consumer group
      description: Add a consumer to a consumer group
      requestBody:
        content:
          application/json:
            schema:
              properties:
                consumer:
                  example: cf4c7e60-11db-49dd-b300-7c7e5f0f7e6b
                  type: string
                  x-speakeasy-name-override: consumer_id
              type: object
      responses:
        '201':
          description: Consumer added to group
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers/{ConsumerId}:
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - in: path
        name: ConsumerId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ControlPlaneId'
    delete:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#delete
      operationId: remove-consumer-from-group
      summary: Remove consumer from consumer group
      description: Remove a consumer from a consumer group
      responses:
        '204':
          description: Consumer removed from group
      tags:
        - Consumer Groups
  /v2/control-planes/{controlPlaneId}/core-entities/consumers:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumer#create
      operationId: create-consumer
      summary: Create a new Consumer
      description: Create a new Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
        description: Description of the new Consumer for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully created Consumer
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}:
    parameters:
      - $ref: '#/components/parameters/ConsumerId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayConsumer#read
      operationId: get-consumer
      summary: Fetch a Consumer
      description: Get a Consumer using ID or username.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully fetched Consumer
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumers
    put:
      x-speakeasy-entity-operation: GatewayConsumer#update
      operationId: upsert-consumer
      summary: Upsert a Consumer
      description: Create or Update Consumer using ID or username.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
        description: Description of the Consumer
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully upserted Consumer
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
    delete:
      x-speakeasy-entity-operation: GatewayConsumer#delete
      operationId: delete-consumer
      summary: Delete a Consumer
      description: Delete a Consumer
      responses:
        '204':
          description: Successfully deleted Consumer or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayACL#create
      operationId: create-acl-with-consumer
      summary: Create a new ACL associated with a Consumer
      description: Create a new ACL associated with a Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLWithoutParents'
        description: Description of new ACL for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: Successfully created ACL
      tags:
        - ACLs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls/{ACLId}:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayACL#read
      operationId: get-acl-with-consumer
      summary: Fetch an ACL associated with a Consumer
      description: Get an ACL associated with a Consumer using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: Successfully fetched ACL
        '404':
          description: Resource does not exist
      tags:
        - ACLs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
    delete:
      x-speakeasy-entity-operation: GatewayACL#delete
      operationId: delete-acl-with-consumer
      summary: Delete a an ACL associated with a a Consumer
      description: Delete a an ACL associated with a a Consumer using ID.
      responses:
        '204':
          description: Successfully deleted ACL or the resource didn't exist
      tags:
        - ACLs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayBasicAuth#create
      operationId: create-basic-auth-with-consumer
      summary: Create a new Basic-auth credential associated with a Consumer
      description: Create a new Basic-auth credential associated with a Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthWithoutParents'
        description: Description of new Basic-auth credential for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
          description: Successfully created Basic-auth credential
      tags:
        - Basic-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth/{BasicAuthId}:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayBasicAuth#read
      operationId: get-basic-auth-with-consumer
      summary: Fetch a Basic-auth credential associated with a Consumer
      description: Get a Basic-auth credential associated with a Consumer using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
          description: Successfully fetched Basic-auth credential
        '404':
          description: Resource does not exist
      tags:
        - Basic-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
    delete:
      x-speakeasy-entity-operation: GatewayBasicAuth#delete
      operationId: delete-basic-auth-with-consumer
      summary: Delete a a Basic-auth credential associated with a a Consumer
      description: Delete a a Basic-auth credential associated with a a Consumer using ID.
      responses:
        '204':
          description: >-
            Successfully deleted Basic-auth credential or the resource didn't
            exist
      tags:
        - Basic-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayHMACAuth#create
      operationId: create-hmac-auth-with-consumer
      summary: Create a new HMAC-auth credential associated with a Consumer
      description: Create a new HMAC-auth credential associated with a Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HMACAuthWithoutParents'
        description: Description of new HMAC-auth credential for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
          description: Successfully created HMAC-auth credential
      tags:
        - HMAC-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth/{HMACAuthId}:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayHMACAuth#read
      operationId: get-hmac-auth-with-consumer
      summary: Fetch a HMAC-auth credential associated with a Consumer
      description: Get a HMAC-auth credential associated with a Consumer using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
          description: Successfully fetched HMAC-auth credential
        '404':
          description: Resource does not exist
      tags:
        - HMAC-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
    delete:
      x-speakeasy-entity-operation: GatewayHMACAuth#delete
      operationId: delete-hmac-auth-with-consumer
      summary: Delete a a HMAC-auth credential associated with a a Consumer
      description: Delete a a HMAC-auth credential associated with a a Consumer using ID.
      responses:
        '204':
          description: >-
            Successfully deleted HMAC-auth credential or the resource didn't
            exist
      tags:
        - HMAC-auth credentials
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayJWT#create
      operationId: create-jwt-with-consumer
      summary: Create a new JWT associated with a Consumer
      description: Create a new JWT associated with a Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTWithoutParents'
        description: Description of new JWT for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
          description: Successfully created JWT
      tags:
        - JWTs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt/{JWTId}:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayJWT#read
      operationId: get-jwt-with-consumer
      summary: Fetch a JWT associated with a Consumer
      description: Get a JWT associated with a Consumer using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
          description: Successfully fetched JWT
        '404':
          description: Resource does not exist
      tags:
        - JWTs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
    delete:
      x-speakeasy-entity-operation: GatewayJWT#delete
      operationId: delete-jwt-with-consumer
      summary: Delete a a JWT associated with a a Consumer
      description: Delete a a JWT associated with a a Consumer using ID.
      responses:
        '204':
          description: Successfully deleted JWT or the resource didn't exist
      tags:
        - JWTs
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKeyAuth#create
      operationId: create-key-auth-with-consumer
      summary: Create a new API-key associated with a Consumer
      description: Create a new API-key associated with a Consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAuthWithoutParents'
        description: Description of new API-key for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
          description: Successfully created API-key
      tags:
        - API-keys
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth/{KeyAuthId}:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayKeyAuth#read
      operationId: get-key-auth-with-consumer
      summary: Fetch an API-key associated with a Consumer
      description: Get an API-key associated with a Consumer using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
          description: Successfully fetched API-key
        '404':
          description: Resource does not exist
      tags:
        - API-keys
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
    delete:
      x-speakeasy-entity-operation: GatewayKeyAuth#delete
      operationId: delete-key-auth-with-consumer
      summary: Delete a an API-key associated with a a Consumer
      description: Delete a an API-key associated with a a Consumer using ID.
      responses:
        '204':
          description: Successfully deleted API-key or the resource didn't exist
      tags:
        - API-keys
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
  /v2/control-planes/{controlPlaneId}/core-entities/key-sets:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKeySet#create
      operationId: create-key-set
      summary: Create a new KeySet
      description: Create a new KeySet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeySet'
        description: Description of the new KeySet for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
          description: Successfully created KeySet
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
  /v2/control-planes/{controlPlaneId}/core-entities/key-sets/{KeySetId}:
    parameters:
      - $ref: '#/components/parameters/KeySetId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayKeySet#read
      operationId: get-key-set
      summary: Fetch a KeySet
      description: Get a KeySet using ID or name.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
          description: Successfully fetched KeySet
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - KeySets
    put:
      x-speakeasy-entity-operation: GatewayKeySet#update
      operationId: upsert-key-set
      summary: Upsert a KeySet
      description: Create or Update KeySet using ID or name.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeySet'
        description: Description of the KeySet
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
          description: Successfully upserted KeySet
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
    delete:
      x-speakeasy-entity-operation: GatewayKeySet#delete
      operationId: delete-key-set
      summary: Delete a KeySet
      description: Delete a KeySet
      responses:
        '204':
          description: Successfully deleted KeySet or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
      parameters:
        - $ref: '#/components/parameters/KeySetId'
  /v2/control-planes/{controlPlaneId}/core-entities/keys:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKey#create
      operationId: create-key
      summary: Create a new Key
      description: Create a new Key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        description: Description of the new Key for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successfully created Key
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
  /v2/control-planes/{controlPlaneId}/core-entities/keys/{KeyId}:
    parameters:
      - $ref: '#/components/parameters/KeyId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayKey#read
      operationId: get-key
      summary: Fetch a Key
      description: Get a Key using ID or name.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successfully fetched Key
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Keys
    put:
      x-speakeasy-entity-operation: GatewayKey#update
      operationId: upsert-key
      summary: Upsert a Key
      description: Create or Update Key using ID or name.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        description: Description of the Key
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successfully upserted Key
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
    delete:
      x-speakeasy-entity-operation: GatewayKey#delete
      operationId: delete-key
      summary: Delete a Key
      description: Delete a Key
      responses:
        '204':
          description: Successfully deleted Key or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
      parameters:
        - $ref: '#/components/parameters/KeyId'
  /v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas:
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#create
      operationId: create-plugin-schemas
      summary: Upload custom plugin schema
      description: Upload a custom plugin schema associated with a control plane.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '201':
          $ref: '#/components/responses/plugin-schemas'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Custom Plugin Schemas
  /v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas/{name}:
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - description: The custom plugin name
        in: path
        name: name
        required: true
        schema:
          example: myplugin
          type: string
    get:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#read
      operationId: get-plugin-schema
      summary: Fetch custom plugin schema
      description: Returns information about a custom plugin from a given name.
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
    put:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#update
      operationId: update-plugin-schemas
      summary: Create or update a custom plugin schema
      description: Create or update an individual custom plugin schema.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
    delete:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#delete
      operationId: delete-plugin-schemas
      summary: Delete custom plugin schema
      description: Delete an individual custom plugin schema.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
  /v2/control-planes/{controlPlaneId}/core-entities/plugins:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayPlugin#create
      operationId: create-plugin
      summary: Create a new Plugin
      description: Create a new Plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
        description: Description of the new Plugin for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Successfully created Plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPlugin#read
      operationId: get-plugin
      summary: Fetch a Plugin
      description: Get a Plugin using ID.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Successfully fetched Plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPlugin#update
      operationId: upsert-plugin
      summary: Upsert a Plugin
      description: Create or Update Plugin using ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
        description: Description of the Plugin
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: Successfully upserted Plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPlugin#delete
      operationId: delete-plugin
      summary: Delete a Plugin
      description: Delete a Plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
      parameters:
        - $ref: '#/components/parameters/PluginId'
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#ACL:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginACL#read
      operationId: get-acl-plugin
      summary: Get a ACL plugin
      description: Get a ACL plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
          description: ACL plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginACL#update
      operationId: update-acl-plugin
      summary: Update a ACL plugin
      description: Update a ACL plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateACLPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
          description: ACL plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginACL#delete
      operationId: delete-acl-plugin
      summary: Delete a ACL plugin
      description: Delete a ACL plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptDecorator:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#read
      operationId: get-aipromptdecorator-plugin
      summary: Get a AIPromptDecorator plugin
      description: Get a AIPromptDecorator plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptDecoratorPlugin'
          description: AIPromptDecorator plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#update
      operationId: update-aipromptdecorator-plugin
      summary: Update a AIPromptDecorator plugin
      description: Update a AIPromptDecorator plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptDecoratorPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptDecoratorPlugin'
          description: AIPromptDecorator plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#delete
      operationId: delete-aipromptdecorator-plugin
      summary: Delete a AIPromptDecorator plugin
      description: Delete a AIPromptDecorator plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptGuard:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#read
      operationId: get-aipromptguard-plugin
      summary: Get a AIPromptGuard plugin
      description: Get a AIPromptGuard plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptGuardPlugin'
          description: AIPromptGuard plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#update
      operationId: update-aipromptguard-plugin
      summary: Update a AIPromptGuard plugin
      description: Update a AIPromptGuard plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptGuardPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptGuardPlugin'
          description: AIPromptGuard plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#delete
      operationId: delete-aipromptguard-plugin
      summary: Delete a AIPromptGuard plugin
      description: Delete a AIPromptGuard plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptTemplate:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#read
      operationId: get-aiprompttemplate-plugin
      summary: Get a AIPromptTemplate plugin
      description: Get a AIPromptTemplate plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptTemplatePlugin'
          description: AIPromptTemplate plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#update
      operationId: update-aiprompttemplate-plugin
      summary: Update a AIPromptTemplate plugin
      description: Update a AIPromptTemplate plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptTemplatePlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptTemplatePlugin'
          description: AIPromptTemplate plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#delete
      operationId: delete-aiprompttemplate-plugin
      summary: Delete a AIPromptTemplate plugin
      description: Delete a AIPromptTemplate plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIProxy:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginAIProxy#read
      operationId: get-aiproxy-plugin
      summary: Get a AIProxy plugin
      description: Get a AIProxy plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProxyPlugin'
          description: AIProxy plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginAIProxy#update
      operationId: update-aiproxy-plugin
      summary: Update a AIProxy plugin
      description: Update a AIProxy plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIProxyPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProxyPlugin'
          description: AIProxy plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginAIProxy#delete
      operationId: delete-aiproxy-plugin
      summary: Delete a AIProxy plugin
      description: Delete a AIProxy plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AWSLambda:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#read
      operationId: get-awslambda-plugin
      summary: Get a AWSLambda plugin
      description: Get a AWSLambda plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSLambdaPlugin'
          description: AWSLambda plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#update
      operationId: update-awslambda-plugin
      summary: Update a AWSLambda plugin
      description: Update a AWSLambda plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAWSLambdaPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSLambdaPlugin'
          description: AWSLambda plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#delete
      operationId: delete-awslambda-plugin
      summary: Delete a AWSLambda plugin
      description: Delete a AWSLambda plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#BasicAuth:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#read
      operationId: get-basicauth-plugin
      summary: Get a BasicAuth plugin
      description: Get a BasicAuth plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthPlugin'
          description: BasicAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#update
      operationId: update-basicauth-plugin
      summary: Update a BasicAuth plugin
      description: Update a BasicAuth plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBasicAuthPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthPlugin'
          description: BasicAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#delete
      operationId: delete-basicauth-plugin
      summary: Delete a BasicAuth plugin
      description: Delete a BasicAuth plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#CorrelationId:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#read
      operationId: get-correlationid-plugin
      summary: Get a CorrelationId plugin
      description: Get a CorrelationId plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationIdPlugin'
          description: CorrelationId plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#update
      operationId: update-correlationid-plugin
      summary: Update a CorrelationId plugin
      description: Update a CorrelationId plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorrelationIdPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationIdPlugin'
          description: CorrelationId plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#delete
      operationId: delete-correlationid-plugin
      summary: Delete a CorrelationId plugin
      description: Delete a CorrelationId plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#CORS:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginCORS#read
      operationId: get-cors-plugin
      summary: Get a CORS plugin
      description: Get a CORS plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CORSPlugin'
          description: CORS plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginCORS#update
      operationId: update-cors-plugin
      summary: Update a CORS plugin
      description: Update a CORS plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCORSPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CORSPlugin'
          description: CORS plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginCORS#delete
      operationId: delete-cors-plugin
      summary: Delete a CORS plugin
      description: Delete a CORS plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#ExitTransformer:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginExitTransformer#read
      operationId: get-exittransformer-plugin
      summary: Get a ExitTransformer plugin
      description: Get a ExitTransformer plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExitTransformerPlugin'
          description: ExitTransformer plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginExitTransformer#update
      operationId: update-exittransformer-plugin
      summary: Update a ExitTransformer plugin
      description: Update a ExitTransformer plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExitTransformerPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExitTransformerPlugin'
          description: ExitTransformer plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginExitTransformer#delete
      operationId: delete-exittransformer-plugin
      summary: Delete a ExitTransformer plugin
      description: Delete a ExitTransformer plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#FileLog:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginFileLog#read
      operationId: get-filelog-plugin
      summary: Get a FileLog plugin
      description: Get a FileLog plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLogPlugin'
          description: FileLog plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginFileLog#update
      operationId: update-filelog-plugin
      summary: Update a FileLog plugin
      description: Update a FileLog plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileLogPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLogPlugin'
          description: FileLog plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginFileLog#delete
      operationId: delete-filelog-plugin
      summary: Delete a FileLog plugin
      description: Delete a FileLog plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#IpRestriction:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#read
      operationId: get-iprestriction-plugin
      summary: Get a IpRestriction plugin
      description: Get a IpRestriction plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRestrictionPlugin'
          description: IpRestriction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#update
      operationId: update-iprestriction-plugin
      summary: Update a IpRestriction plugin
      description: Update a IpRestriction plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIpRestrictionPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRestrictionPlugin'
          description: IpRestriction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#delete
      operationId: delete-iprestriction-plugin
      summary: Delete a IpRestriction plugin
      description: Delete a IpRestriction plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#JQ:
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    get:
      x-speakeasy-entity-operation: GatewayPluginJQ#read
      operationId: get-jq-plugin
      summary: Get a JQ plugin
      description: Get a JQ plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JQPlugin'
          description: JQ plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    put:
      x-speakeasy-entity-operation: GatewayPluginJQ#update
      operationId: update-jq-plugin
      summary: Update a JQ plugin
      description: Update a JQ plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJQPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JQPlugin'
          description: JQ plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    delete:
      x-speakeasy-entity-operation: GatewayPluginJQ#delete
      operationId: delete-jq-plugin
      summary: Delete a JQ plugin
      description: Delete a JQ plugin
      responses:
        '204':
[...]
