openapi: 3.1.0
info:
  title: Konnect API
  description: The Konnect platform API
  version: 2.0.0
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
    email: support@konghq.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
paths:
  /v1/mesh/control-planes:
    post:
      x-speakeasy-entity-operation: MeshControlPlane#create
      operationId: create-cp
      summary: Create a new control plane
      description: Create a new control plane
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeshControlPlaneRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/CreateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
      tags:
        - Mesh
  '/v1/mesh/control-planes/{cpId}':
    parameters:
      - name: cpId
        in: path
        description: Id of the Konnect resource
        required: true
        schema:
          type: string
          format: uuid
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: MeshControlPlane#read
      operationId: get-mesh-control-plane
      summary: Get the control plane
      description: Get the control plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveMeshControlPlaneResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    delete:
      x-speakeasy-entity-operation: MeshControlPlane#delete
      operationId: delete-mesh-control-plane
      summary: Delete the control plane
      description: Delete the control plane
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    patch:
      x-speakeasy-entity-operation: MeshControlPlane#update
      operationId: update-mesh-control-plane
      summary: Update control plane
      description: Update an individual control plane.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeshControlPlaneRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/UpdateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
  '/v1/mesh/control-planes/{cpId}/api/hostnamegenerators':
    get:
      x-speakeasy-entity-operation: HostnameGeneratorList#get
      operationId: getHostnameGeneratorList
      summary: Returns a list of HostnameGenerator in the mesh.
      responses:
        '200':
          $ref: '#/components/responses/HostnameGeneratorList'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/hostnamegenerators/{name}#create':
    get:
      x-speakeasy-entity-operation: HostnameGenerator#get
      operationId: getHostnameGenerator
      summary: Returns HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/HostnameGeneratorItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - HostnameGenerator
    delete:
      x-speakeasy-entity-operation: HostnameGenerator#delete
      operationId: deleteHostnameGenerator
      summary: Deletes HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: HostnameGenerator#create
      operationId: createHostnameGenerator
      summary: Creates or Updates HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostnameGeneratorItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorCreateOrUpdateSuccessResponse'
      tags:
        - HostnameGenerator
  '/v1/mesh/control-planes/{cpId}/api/hostnamegenerators/{name}#update':
    put:
      x-speakeasy-entity-operation: HostnameGenerator#update
      operationId: updateHostnameGenerator
      summary: Creates or Updates HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostnameGeneratorItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorCreateOrUpdateSuccessResponse'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes':
    get:
      x-speakeasy-entity-operation: MeshList#get
      operationId: getMeshList
      summary: Returns a list of Mesh in the mesh.
      responses:
        '200':
          $ref: '#/components/responses/MeshList'
      tags:
        - Mesh
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs':
    get:
      x-speakeasy-entity-operation: MeshAccessLogList#get
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshAccessLog#get
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    delete:
      x-speakeasy-entity-operation: MeshAccessLog#delete
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshAccessLog#create
      operationId: createMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshAccessLog#update
      operationId: updateMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers':
    get:
      x-speakeasy-entity-operation: MeshCircuitBreakerList#get
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshCircuitBreaker#get
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    delete:
      x-speakeasy-entity-operation: MeshCircuitBreaker#delete
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshCircuitBreaker#create
      operationId: createMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshCircuitBreaker#update
      operationId: updateMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices':
    get:
      x-speakeasy-entity-operation: MeshExternalServiceList#get
      operationId: getMeshExternalServiceList
      summary: Returns a list of MeshExternalService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshExternalServiceList'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshExternalService#get
      operationId: getMeshExternalService
      summary: Returns MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshExternalServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshExternalService
    delete:
      x-speakeasy-entity-operation: MeshExternalService#delete
      operationId: deleteMeshExternalService
      summary: Deletes MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshExternalService#create
      operationId: createMeshExternalService
      summary: Creates or Updates MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshExternalServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshExternalService
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshExternalService#update
      operationId: updateMeshExternalService
      summary: Creates or Updates MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshExternalServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections':
    get:
      x-speakeasy-entity-operation: MeshFaultInjectionList#get
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshFaultInjection#get
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    delete:
      x-speakeasy-entity-operation: MeshFaultInjection#delete
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshFaultInjection#create
      operationId: createMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshFaultInjection#update
      operationId: updateMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways':
    get:
      x-speakeasy-entity-operation: MeshGatewayList#get
      operationId: getMeshGatewayList
      summary: Returns a list of MeshGateway in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayList'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshGateway#get
      operationId: getMeshGateway
      summary: Returns MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    delete:
      x-speakeasy-entity-operation: MeshGateway#delete
      operationId: deleteMeshGateway
      summary: Deletes MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshGateway#create
      operationId: createMeshGateway
      summary: Creates or Updates MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGatewayItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayCreateOrUpdateSuccessResponse'
      tags:
        - MeshGateway
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshGateway#update
      operationId: updateMeshGateway
      summary: Creates or Updates MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGatewayItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayCreateOrUpdateSuccessResponse'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits':
    get:
      x-speakeasy-entity-operation: MeshGlobalRateLimitList#get
      operationId: getMeshGlobalRateLimitList
      summary: Returns a list of MeshGlobalRateLimit in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGlobalRateLimitList'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshGlobalRateLimit#get
      operationId: getMeshGlobalRateLimit
      summary: Returns MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGlobalRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGlobalRateLimit
    delete:
      x-speakeasy-entity-operation: MeshGlobalRateLimit#delete
      operationId: deleteMeshGlobalRateLimit
      summary: Deletes MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshGlobalRateLimit#create
      operationId: createMeshGlobalRateLimit
      summary: Creates or Updates MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGlobalRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshGlobalRateLimit
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshGlobalRateLimit#update
      operationId: updateMeshGlobalRateLimit
      summary: Creates or Updates MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGlobalRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks':
    get:
      x-speakeasy-entity-operation: MeshHealthCheckList#get
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshHealthCheck#get
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    delete:
      x-speakeasy-entity-operation: MeshHealthCheck#delete
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshHealthCheck#create
      operationId: createMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshHealthCheck#update
      operationId: updateMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes':
    get:
      x-speakeasy-entity-operation: MeshHTTPRouteList#get
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshHTTPRoute#get
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    delete:
      x-speakeasy-entity-operation: MeshHTTPRoute#delete
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshHTTPRoute#create
      operationId: createMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshHTTPRoute#update
      operationId: updateMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies':
    get:
      x-speakeasy-entity-operation: MeshLoadBalancingStrategyList#get
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#get
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    delete:
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#delete
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#create
      operationId: createMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshLoadBalancingStrategy#update
      operationId: updateMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics':
    get:
      x-speakeasy-entity-operation: MeshMetricList#get
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshMetric#get
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    delete:
      x-speakeasy-entity-operation: MeshMetric#delete
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshMetric#create
      operationId: createMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshMetric#update
      operationId: updateMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices':
    get:
      x-speakeasy-entity-operation: MeshMultiZoneServiceList#get
      operationId: getMeshMultiZoneServiceList
      summary: Returns a list of MeshMultiZoneService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMultiZoneServiceList'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshMultiZoneService#get
      operationId: getMeshMultiZoneService
      summary: Returns MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMultiZoneServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMultiZoneService
    delete:
      x-speakeasy-entity-operation: MeshMultiZoneService#delete
      operationId: deleteMeshMultiZoneService
      summary: Deletes MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshMultiZoneService#create
      operationId: createMeshMultiZoneService
      summary: Creates or Updates MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMultiZoneServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshMultiZoneService
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshMultiZoneService#update
      operationId: updateMeshMultiZoneService
      summary: Creates or Updates MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMultiZoneServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshopas':
    get:
      x-speakeasy-entity-operation: MeshOPAList#get
      operationId: getMeshOPAList
      summary: Returns a list of MeshOPA in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshOPAList'
      tags:
        - MeshOPA
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshopas/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshOPA#get
      operationId: getMeshOPA
      summary: Returns MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshOPAItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshOPA
    delete:
      x-speakeasy-entity-operation: MeshOPA#delete
      operationId: deleteMeshOPA
      summary: Deletes MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshOPADeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshOPA
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshOPA#create
      operationId: createMeshOPA
      summary: Creates or Updates MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshOPAItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshOPACreateOrUpdateSuccessResponse'
      tags:
        - MeshOPA
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshopas/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshOPA#update
      operationId: updateMeshOPA
      summary: Creates or Updates MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshOPAItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshOPACreateOrUpdateSuccessResponse'
      tags:
        - MeshOPA
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs':
    get:
      x-speakeasy-entity-operation: MeshPassthroughList#get
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshPassthrough#get
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    delete:
      x-speakeasy-entity-operation: MeshPassthrough#delete
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshPassthrough#create
      operationId: createMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshPassthrough#update
      operationId: updateMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches':
    get:
      x-speakeasy-entity-operation: MeshProxyPatchList#get
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshProxyPatch#get
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    delete:
      x-speakeasy-entity-operation: MeshProxyPatch#delete
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshProxyPatch#create
      operationId: createMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshProxyPatch#update
      operationId: updateMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits':
    get:
      x-speakeasy-entity-operation: MeshRateLimitList#get
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshRateLimit#get
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    delete:
      x-speakeasy-entity-operation: MeshRateLimit#delete
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshRateLimit#create
      operationId: createMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshRateLimit#update
      operationId: updateMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries':
    get:
      x-speakeasy-entity-operation: MeshRetryList#get
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshRetry#get
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    delete:
      x-speakeasy-entity-operation: MeshRetry#delete
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshRetry#create
      operationId: createMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshRetry#update
      operationId: updateMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices':
    get:
      x-speakeasy-entity-operation: MeshServiceList#get
      operationId: getMeshServiceList
      summary: Returns a list of MeshService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshServiceList'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshService#get
      operationId: getMeshService
      summary: Returns MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshService
    delete:
      x-speakeasy-entity-operation: MeshService#delete
      operationId: deleteMeshService
      summary: Deletes MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshService#create
      operationId: createMeshService
      summary: Creates or Updates MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshService
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshService#update
      operationId: updateMeshService
      summary: Creates or Updates MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes':
    get:
      x-speakeasy-entity-operation: MeshTCPRouteList#get
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshTCPRoute#get
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    delete:
      x-speakeasy-entity-operation: MeshTCPRoute#delete
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshTCPRoute#create
      operationId: createMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshTCPRoute#update
      operationId: updateMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts':
    get:
      x-speakeasy-entity-operation: MeshTimeoutList#get
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshTimeout#get
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    delete:
      x-speakeasy-entity-operation: MeshTimeout#delete
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshTimeout#create
      operationId: createMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshTimeout#update
      operationId: updateMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses':
    get:
      x-speakeasy-entity-operation: MeshTLSList#get
      operationId: getMeshTLSList
      summary: Returns a list of MeshTLS in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSList'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshTLS#get
      operationId: getMeshTLS
      summary: Returns MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    delete:
      x-speakeasy-entity-operation: MeshTLS#delete
      operationId: deleteMeshTLS
      summary: Deletes MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshTLS#create
      operationId: createMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshTLS#update
      operationId: updateMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces':
    get:
      x-speakeasy-entity-operation: MeshTraceList#get
      operationId: getMeshTraceList
      summary: Returns a list of MeshTrace in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceList'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshTrace#get
      operationId: getMeshTrace
      summary: Returns MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    delete:
      x-speakeasy-entity-operation: MeshTrace#delete
      operationId: deleteMeshTrace
      summary: Deletes MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshTrace#create
      operationId: createMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#update':
    put:
      x-speakeasy-entity-operation: MeshTrace#update
      operationId: updateMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions':
    get:
      x-speakeasy-entity-operation: MeshTrafficPermissionList#get
      operationId: getMeshTrafficPermissionList
      summary: Returns a list of MeshTrafficPermission in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionList'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/v1/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}#create':
    get:
      x-speakeasy-entity-operation: MeshTrafficPermission#get
      operationId: getMeshTrafficPermission
      summary: Returns MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    delete:
      x-speakeasy-entity-operation: MeshTrafficPermission#delete
      operationId: deleteMeshTrafficPermission
      summary: Deletes MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTrafficPermissionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      x-speakeasy-entity-operation: MeshTrafficPermission#create
      operationId: createMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
[...]
