openapi: 3.1.0
info:
  title: Konnect API
  version: 2.0.0
  description: The Konnect platform API
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
    email: support@konghq.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
  - url: 'https://me.api.konghq.com'
  - url: 'https://in.api.konghq.com'
paths:
  /v0/serverless-cloud-gateways:
    post:
      x-speakeasy-entity-operation: ServerlessCloudGateway#create
      operationId: create-serverless-cloud-gateway
      summary: Create a new serverless cloud gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new serverless cloud gateway
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServerlessCloudGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateServerlessCloudGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Serverless Cloud Gateways
  '/v0/serverless-cloud-gateways/{controlPlaneId}':
    parameters:
      - name: controlPlaneId
        in: path
        description: Id of the Serverless Cloud Gateway control plane
        required: true
        schema:
          type: string
          format: uuid
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        x-speakeasy-match: control_plane.id
    get:
      x-speakeasy-entity-operation: ServerlessCloudGateway#read
      operationId: get-serverless-cloud-gateway
      summary: Get the serverless cloud gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the serverless cloud gateway
      responses:
        '200':
          $ref: '#/components/responses/RetrieveServerlessCloudGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Serverless Cloud Gateways
    delete:
      x-speakeasy-entity-operation: ServerlessCloudGateway#delete
      operationId: delete-serverless-cloud-gateway
      summary: Delete the serverless cloud gateway
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete the serverless cloud gateway
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Serverless Cloud Gateways
  /v1/mesh/control-planes:
    post:
      x-speakeasy-entity-operation: MeshControlPlane#create
      operationId: create-cp
      summary: Create a new control plane
      description: Create a new control plane
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeshControlPlaneRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/CreateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
      tags:
        - Mesh
  '/v1/mesh/control-planes/{cpId}':
    parameters:
      - name: cpId
        in: path
        description: Id of the Konnect resource
        required: true
        schema:
          type: string
          format: uuid
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        x-speakeasy-match: id
        x-speakeasy-param-suppress-computed-diff: true
    get:
      x-speakeasy-entity-operation: MeshControlPlane#read
      operationId: get-mesh-control-plane
      summary: Get the control plane
      description: Get the control plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveMeshControlPlaneResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    delete:
      x-speakeasy-entity-operation: MeshControlPlane#delete
      operationId: delete-mesh-control-plane
      summary: Delete the control plane
      description: Delete the control plane
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
    put:
      x-speakeasy-entity-operation: MeshControlPlane#update
      operationId: update-cp
      summary: Update a whole control plane
      description: Update a whole control plane
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMeshControlPlaneRequest'
      responses:
        '200':
          $ref: '#/components/responses/PutMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/PutMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      tags:
        - Mesh
  /v2/api-products:
    post:
      x-speakeasy-entity-operation: ApiProduct#create
      operationId: create-api-product
      summary: Create API Product
      description: |
        An API Product packages together associated APIs and their operations, backed by thorough documentation,
        with the objective of making API consumption straightforward for developers.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
  '/v2/api-products/{apiProductId}/documents':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    post:
      x-speakeasy-entity-operation: APIProductDocument#create
      operationId: create-api-product-document
      summary: Create API Product Document
      description: Creates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
  '/v2/api-products/{apiProductId}/documents/{id}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: id
        in: path
        description: The document identifier related to the API product
        required: true
        schema:
          type: string
          format: uuid
          example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
    get:
      x-speakeasy-entity-operation: APIProductDocument#read
      operationId: get-api-product-document
      summary: Fetch API Product Document
      description: Returns a document for the API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
    patch:
      x-speakeasy-entity-operation: APIProductDocument#update
      operationId: update-api-product-document
      summary: Update an API Product Document
      description: Updates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
    delete:
      x-speakeasy-entity-operation: APIProductDocument#delete
      operationId: delete-api-product-document
      summary: Delete API Product Documentation
      description: Removes a document from an API product.
      responses:
        '204':
          description: Document for the API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
  '/v2/api-products/{apiProductId}/product-versions':
    parameters:
      - name: apiProductId
        in: path
        description: The API Product ID
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    post:
      x-speakeasy-entity-operation: ApiProductVersion#create
      operationId: create-api-product-version
      summary: Create API Product Version
      description: Creates a version of an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/ApiProductImplementationConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
  '/v2/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: apiProductVersionId
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    post:
      x-speakeasy-entity-operation: APIProductSpecification#create
      operationId: create-api-product-version-spec
      summary: Create API Product Version Specification
      description: |
        Creates a specification for a version of an API product.
        **Note:** You can only have one specification for a product version.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
  '/v2/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications/{specificationId}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: apiProductVersionId
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      - name: specificationId
        in: path
        description: The API product version specification identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 742ff9f1-fb89-4aeb-a599-f0e278c7aeaa
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: APIProductSpecification#read
      operationId: get-api-product-version-spec
      summary: Fetch API Product Version Specification
      description: Returns a specification for the version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
    patch:
      x-speakeasy-entity-operation: APIProductSpecification#update
      operationId: update-api-product-version-spec
      summary: Update an API Product Version Specification
      description: Updates a specification from an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
    delete:
      x-speakeasy-entity-operation: APIProductSpecification#delete
      operationId: delete-api-product-version-spec
      summary: Delete API Product Version Specification
      description: Removes a specification from a verion of an API product.
      responses:
        '204':
          description: Specification for the version of an API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
  '/v2/api-products/{apiProductId}/product-versions/{id}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: id
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      x-speakeasy-entity-operation: ApiProductVersion#read
      operationId: get-api-product-version
      summary: Fetch API Product Version
      description: Returns a version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
    patch:
      x-speakeasy-entity-operation: ApiProductVersion#update
      operationId: update-api-product-version
      summary: Update an API Product Version
      description: Updates an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/ApiProductImplementationConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
    delete:
      x-speakeasy-entity-operation: ApiProductVersion#delete
      operationId: delete-api-product-version
      summary: Delete API Product Version
      description: Removes an API product version.
      responses:
        '204':
          description: API product version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  '/v2/api-products/{id}':
    parameters:
      - name: id
        in: path
        description: API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    get:
      x-speakeasy-entity-operation: ApiProduct#read
      operationId: get-api-product
      summary: Fetch API product
      description: Returns an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
    patch:
      x-speakeasy-entity-operation: ApiProduct#update
      operationId: update-api-product
      summary: Update an individual API product
      description: Updates an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
    delete:
      x-speakeasy-entity-operation: ApiProduct#delete
      operationId: delete-api-product
      summary: Delete API Product
      description: Removes an individual API product.
      responses:
        '204':
          description: API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  /v2/application-auth-strategies:
    post:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#create
      operationId: create-app-auth-strategy
      summary: Create App Auth Strategy
      description: Creates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/CreateAppAuthStrategy'
      responses:
        '201':
          $ref: '#/components/responses/CreateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - App Auth Strategies
  '/v2/application-auth-strategies/{authStrategyId}':
    parameters:
      - $ref: '#/components/parameters/AuthStrategyId'
    get:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#read
      operationId: get-app-auth-strategy
      summary: Get App Auth Strategy
      description: Returns an application auth strategy.
      responses:
        '200':
          $ref: '#/components/responses/GetAppAuthStrategy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    patch:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#update
      operationId: update-app-auth-strategy
      summary: Update App Auth Strategy
      description: Updates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAppAuthStrategy'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    delete:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#delete
      operationId: delete-app-auth-strategy
      summary: Delete App Auth Strategy
      description: Deletes an application auth strategy. An application auth strategy can be deleted ONLY if it's not used by any product version within any portal regardless of their publication statuses. If an application auth strategy is still in use the request will result in an HTTP 409 CONFLICT.
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - App Auth Strategies
  /v2/audit-log-destinations:
    post:
      x-speakeasy-entity-operation: AuditLogDestination#create
      operationId: create-audit-log-destination
      summary: Create Audit Log Destination
      description: Creates a configuration for the audit log destination.
      requestBody:
        $ref: '#/components/requestBodies/CreateAuditLogDestination'
      responses:
        '201':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '400':
          $ref: '#/components/responses/AuditLogDestinationBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Audit Logs
  '/v2/audit-log-destinations/{auditLogDestinationId}':
    parameters:
      - $ref: '#/components/parameters/AuditLogDestinationId'
    get:
      x-speakeasy-entity-operation: AuditLogDestination#read
      operationId: get-audit-log-destination
      summary: Get Audit Log Destination
      description: Returns configuration for the audit log destination.
      responses:
        '200':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Audit Logs
    patch:
      x-speakeasy-entity-operation: AuditLogDestination#update
      operationId: update-audit-log-destination
      summary: Update Audit Log Destination
      description: Updates configuration for the audit log destination.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuditLogDestination'
      responses:
        '200':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '400':
          $ref: '#/components/responses/AuditLogDestinationBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Audit Logs
    delete:
      x-speakeasy-entity-operation: AuditLogDestination#delete
      operationId: delete-audit-log-destination
      summary: Delete Audit Log Destination
      description: Deletes configuration for the audit log destination.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Audit Logs
  /v2/audit-log-webhook:
    patch:
      x-speakeasy-entity-operation:
        - AuditLog#create
        - AuditLog#update
      operationId: update-audit-log-webhook
      summary: Update Audit Log Webhook
      description: Updates the configuration for a webhook to receive audit logs.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuditLogWebhook'
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '400':
          $ref: '#/components/responses/WebhookBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Audit Logs
    get:
      x-speakeasy-entity-operation: AuditLog#read
      operationId: get-audit-log-webhook
      summary: Get Audit Log Webhook
      description: Returns configuration for the audit log webhook.
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Audit Logs
  /v2/cloud-gateways/configurations:
    put:
      x-speakeasy-entity-operation: 'CloudGatewayConfiguration#create,update'
      operationId: create-configuration
      summary: Create Configuration
      description: |
        Creates a new configuration for a control-plane (restricted by permitted control-plane permissions for
        configurations). This request will replace any existing configuration for the requested control_plane_id and
        control_plane_geo by performing a diff. From this diff, new resources detected in the requested configuration
        will be added, resources not found in the request configuration but in the previous will be deleted, and
        resources found in both will be updated to the requested configuration. Networks referenced in this request that
        are in an offline state will automatically initialize (i.e. move to an initializing state).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateConfigurationResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/CloudGatewaysConflict'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Data-Plane Group Configurations
      x-speakeasy-group: CloudGateways
  '/v2/cloud-gateways/configurations/{configurationId}':
    get:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#get
      operationId: get-configuration
      summary: Get Configuration
      description: Retrieves a configuration by ID (restricted by permitted control-plane read).
      parameters:
        - $ref: '#/components/parameters/ConfigurationId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Data-Plane Group Configurations
      x-speakeasy-group: CloudGateways
  /v2/cloud-gateways/custom-domains:
    post:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#create
      operationId: create-custom-domains
      summary: Create Custom Domain
      description: |
        Creates a new custom domain for a control-plane (restricted by permitted control-plane associate-custom-domain
        action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateCustomDomainResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Custom Domains
      x-speakeasy-group: CloudGateways
  '/v2/cloud-gateways/custom-domains/{customDomainId}':
    get:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#read
      operationId: get-custom-domain
      summary: Get Custom Domain
      description: Retrieves a custom domain by ID (restricted by permitted control-plane reads).
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCustomDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Custom Domains
      x-speakeasy-group: CloudGateways
    delete:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#delete
      operationId: delete-custom-domain
      summary: Delete Custom Domain
      description: Deletes a custom domain by ID (restricted by permitted control-plane reads).
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Custom Domains
      x-speakeasy-group: CloudGateways
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
  /v2/cloud-gateways/networks:
    post:
      x-speakeasy-entity-operation: CloudGatewayNetwork#create
      operationId: create-network
      summary: Create Network
      description: Creates a new network for a given provider account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Networks
      x-speakeasy-group: CloudGateways
  '/v2/cloud-gateways/networks/{networkId}':
    get:
      x-speakeasy-entity-operation: CloudGatewayNetwork#read
      operationId: get-network
      summary: Get Network
      description: Retrieves a network by ID.
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Networks
      x-speakeasy-group: CloudGateways
    patch:
      x-speakeasy-entity-operation: CloudGatewayNetwork#update
      operationId: update-network
      summary: Update Network
      description: Updates a network by ID.
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchNetworkRequest'
      responses:
        '200':
          $ref: '#/components/responses/PatchNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Networks
      x-speakeasy-group: CloudGateways
    delete:
      x-speakeasy-entity-operation: CloudGatewayNetwork#delete
      operationId: delete-network
      summary: Delete Network
      description: Deletes a network by ID.
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Networks
      x-speakeasy-group: CloudGateways
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
  '/v2/cloud-gateways/networks/{networkId}/transit-gateways':
    post:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#create
      operationId: create-transit-gateway
      summary: Create Transit Gateway
      description: Creates a new transit gateway for a given network.
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransitGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTransitGatewayResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Transit Gateways
      x-speakeasy-group: CloudGateways
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 30000
          maxInterval: 60000
          maxElapsedTime: 3600000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
  '/v2/cloud-gateways/networks/{networkId}/transit-gateways/{transitGatewayId}':
    get:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#read
      operationId: get-transit-gateway
      summary: Get Transit Gateway
      description: Retrieves a transit gateway by ID for a given network.
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveTransitGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Transit Gateways
      x-speakeasy-group: CloudGateways
    delete:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#delete
      operationId: delete-transit-gateway
      summary: Delete Transit Gateway
      description: Deletes a transit gateway by ID for a given network.
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Transit Gateways
      x-speakeasy-group: CloudGateways
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
  /v2/cloud-gateways/provider-accounts:
    get:
      x-speakeasy-entity-operation: CloudGatewayProviderAccountList#read
      operationId: list-provider-accounts
      summary: List Provider Accounts
      description: Returns a a paginated collection of provider accounts for an organization.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListProviderAccountsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      servers:
        - url: 'https://global.api.konghq.com/'
      tags:
        - Provider Accounts
      x-speakeasy-group: CloudGateways
  /v2/control-planes:
    get:
      x-speakeasy-entity-operation: GatewayControlPlaneList#read
      operationId: list-control-planes
      summary: List Control Planes
      description: Returns an array of control plane objects containing information about the Konnect Control Planes.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ControlPlaneFilter'
        - $ref: '#/components/parameters/FilterByLabels'
        - $ref: '#/components/parameters/ControlPlaneSort'
      responses:
        '200':
          $ref: '#/components/responses/ListControlPlanesResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
    parameters: []
    post:
      x-speakeasy-entity-operation: GatewayControlPlane#create
      operationId: create-control-plane
      summary: Create Control Plane
      description: Create a control plane in the Konnect Organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
  '/v2/control-planes/{controlPlaneId}/config-stores':
    post:
      x-speakeasy-entity-operation: GatewayConfigStore#create
      operationId: create-config-store
      summary: Create Config Store
      description: Create a Config Store
      parameters:
        - $ref: '#/components/parameters/controlPlaneId'
      requestBody:
        $ref: '#/components/requestBodies/CreateConfigStoreRequest'
      responses:
        '201':
          $ref: '#/components/responses/ConfigStoreResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - Config Stores
  '/v2/control-planes/{controlPlaneId}/config-stores/{configStoreId}':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - $ref: '#/components/parameters/configStoreId'
    get:
      x-speakeasy-entity-operation: GatewayConfigStore#read
      operationId: get-config-store
      summary: Fetch Config Store
      description: Returns a Config Store
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreResponse'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Config Stores
    put:
      x-speakeasy-entity-operation: GatewayConfigStore#update
      operationId: update-config-store
      summary: Update an individual Config Store
      description: Updates a Config Store
      requestBody:
        $ref: '#/components/requestBodies/UpdateConfigStoreRequest'
      responses:
        '200':
          $ref: '#/components/responses/ConfigStoreResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ConfigStoreNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - Config Stores
    delete:
      x-speakeasy-entity-operation: GatewayConfigStore#delete
      operationId: delete-config-store
      summary: Delete Config Store
      description: Removes a config store
      parameters:
        - name: force
          in: query
          description: '[Overlay change] Always cascade delete when being managed with declarative configuation'
          required: true
          schema:
            type: string
            const: 'true'
      responses:
        '204':
          description: Config Store was deleted successfully.
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ConfigStoreUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Config Stores
  '/v2/control-planes/{controlPlaneId}/core-entities/ca_certificates':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCACertificate#create
      operationId: create-ca_certificate
      summary: Create a new CA Certificate
      description: Create a new CA Certificate
      requestBody:
        description: Description of the new CA Certificate for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
      responses:
        '201':
          description: Successfully created CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
  '/v2/control-planes/{controlPlaneId}/core-entities/ca_certificates/{CACertificateId}':
    delete:
      x-speakeasy-entity-operation: GatewayCACertificate#delete
      operationId: delete-ca_certificate
      summary: Delete a CA Certificate
      description: Delete a CA Certificate
      parameters:
        - $ref: '#/components/parameters/CACertificateId'
      responses:
        '204':
          description: Successfully deleted CA Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
    get:
      x-speakeasy-entity-operation: GatewayCACertificate#read
      operationId: get-ca_certificate
      summary: Fetch a CA Certificate
      description: Get a CA Certificate using ID.
      responses:
        '200':
          description: Successfully fetched CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - CA Certificates
    parameters:
      - $ref: '#/components/parameters/CACertificateId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayCACertificate#update
      operationId: upsert-ca_certificate
      summary: Upsert a CA Certificate
      description: Create or Update CA Certificate using ID.
      requestBody:
        description: Description of the CA Certificate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
      responses:
        '200':
          description: Successfully upserted CA Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CA Certificates
  '/v2/control-planes/{controlPlaneId}/core-entities/certificates':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCertificate#create
      operationId: create-certificate
      summary: Create a new Certificate
      description: Create a new Certificate
      requestBody:
        description: Description of the new Certificate for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '201':
          description: Successfully created Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
  '/v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}':
    delete:
      x-speakeasy-entity-operation: GatewayCertificate#delete
      operationId: delete-certificate
      summary: Delete a Certificate
      description: Delete a Certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
      responses:
        '204':
          description: Successfully deleted Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
    get:
      x-speakeasy-entity-operation: GatewayCertificate#read
      operationId: get-certificate
      summary: Fetch a Certificate
      description: Get a Certificate using ID.
      responses:
        '200':
          description: Successfully fetched Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Certificates
    parameters:
      - $ref: '#/components/parameters/CertificateId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayCertificate#update
      operationId: upsert-certificate
      summary: Upsert a Certificate
      description: Create or Update Certificate using ID.
      requestBody:
        description: Description of the Certificate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '200':
          description: Successfully upserted Certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Certificates
  '/v2/control-planes/{controlPlaneId}/core-entities/consumer_groups':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumerGroup#create
      operationId: create-consumer_group
      summary: Create a new Consumer Group
      description: Create a new Consumer Group
      requestBody:
        description: Description of the new Consumer Group for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
      responses:
        '201':
          description: Successfully created Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
  '/v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}':
    delete:
      x-speakeasy-entity-operation: GatewayConsumerGroup#delete
      operationId: delete-consumer_group
      summary: Delete a Consumer Group
      description: Delete a Consumer Group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
      responses:
        '204':
          description: Successfully deleted Consumer Group or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
    get:
      x-speakeasy-entity-operation: GatewayConsumerGroup#read
      operationId: get-consumer_group
      summary: Fetch a Consumer Group
      description: Get a Consumer Group using ID.
      responses:
        '200':
          description: Successfully fetched Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupInsideWrapper'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayConsumerGroup#update
      operationId: upsert-consumer_group
      summary: Upsert a Consumer Group
      description: Create or Update Consumer Group using ID.
      requestBody:
        description: Description of the Consumer Group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
      responses:
        '200':
          description: Successfully upserted Consumer Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumer Groups
  '/v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers':
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#create
      operationId: add-consumer-to-group
      summary: Add consumer to consumer group
      description: Add a consumer to a consumer group
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer:
                  type: string
                  example: cf4c7e60-11db-49dd-b300-7c7e5f0f7e6b
                  x-speakeasy-name-override: consumer_id
      responses:
        '201':
          description: Consumer added to group
      tags:
        - Consumer Groups
  '/v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}/consumers/{ConsumerId}':
    delete:
      x-speakeasy-entity-operation: GatewayConsumerGroupMember#delete
      operationId: remove-consumer-from-group
      summary: Remove consumer from consumer group
      description: Remove a consumer from a consumer group
      responses:
        '204':
          description: Consumer removed from group
      tags:
        - Consumer Groups
    parameters:
      - $ref: '#/components/parameters/ConsumerGroupIdManageConsumers'
      - name: ConsumerId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayConsumer#create
      operationId: create-consumer
      summary: Create a new Consumer
      description: Create a new Consumer
      requestBody:
        description: Description of the new Consumer for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
      responses:
        '201':
          description: Successfully created Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}':
    delete:
      x-speakeasy-entity-operation: GatewayConsumer#delete
      operationId: delete-consumer
      summary: Delete a Consumer
      description: Delete a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      responses:
        '204':
          description: Successfully deleted Consumer or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
    get:
      x-speakeasy-entity-operation: GatewayConsumer#read
      operationId: get-consumer
      summary: Fetch a Consumer
      description: Get a Consumer using ID or username.
      responses:
        '200':
          description: Successfully fetched Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Consumers
    parameters:
      - $ref: '#/components/parameters/ConsumerId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayConsumer#update
      operationId: upsert-consumer
      summary: Upsert a Consumer
      description: Create or Update Consumer using ID or username.
      requestBody:
        description: Description of the Consumer
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
      responses:
        '200':
          description: Successfully upserted Consumer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Consumers
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayACL#create
      operationId: create-acl-with-consumer
      summary: Create a new ACL associated with a Consumer
      description: Create a new ACL associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new ACL for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLWithoutParents'
      responses:
        '201':
          description: Successfully created ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
      tags:
        - ACLs
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls/{ACLId}':
    delete:
      x-speakeasy-entity-operation: GatewayACL#delete
      operationId: delete-acl-with-consumer
      summary: Delete a an ACL associated with a Consumer
      description: Delete a an ACL associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '204':
          description: Successfully deleted ACL or the resource didn't exist
      tags:
        - ACLs
    get:
      x-speakeasy-entity-operation: GatewayACL#read
      operationId: get-acl-with-consumer
      summary: Fetch an ACL associated with a Consumer
      description: Get an ACL associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '200':
          description: Successfully fetched ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
        '404':
          description: Resource does not exist
      tags:
        - ACLs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayBasicAuth#create
      operationId: create-basic-auth-with-consumer
      summary: Create a new Basic-auth credential associated with a Consumer
      description: Create a new Basic-auth credential associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new Basic-auth credential for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthWithoutParents'
      responses:
        '201':
          description: Successfully created Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
      tags:
        - Basic-auth credentials
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth/{BasicAuthId}':
    delete:
      x-speakeasy-entity-operation: GatewayBasicAuth#delete
      operationId: delete-basic-auth-with-consumer
      summary: Delete a a Basic-auth credential associated with a Consumer
      description: Delete a a Basic-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '204':
          description: Successfully deleted Basic-auth credential or the resource didn't exist
      tags:
        - Basic-auth credentials
    get:
      x-speakeasy-entity-operation: GatewayBasicAuth#read
      operationId: get-basic-auth-with-consumer
      summary: Fetch a Basic-auth credential associated with a Consumer
      description: Get a Basic-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '200':
          description: Successfully fetched Basic-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
        '404':
          description: Resource does not exist
      tags:
        - Basic-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayHMACAuth#create
      operationId: create-hmac-auth-with-consumer
      summary: Create a new HMAC-auth credential associated with a Consumer
      description: Create a new HMAC-auth credential associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new HMAC-auth credential for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HMACAuthWithoutParents'
      responses:
        '201':
          description: Successfully created HMAC-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
      tags:
        - HMAC-auth credentials
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth/{HMACAuthId}':
    delete:
      x-speakeasy-entity-operation: GatewayHMACAuth#delete
      operationId: delete-hmac-auth-with-consumer
      summary: Delete a a HMAC-auth credential associated with a Consumer
      description: Delete a a HMAC-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '204':
          description: Successfully deleted HMAC-auth credential or the resource didn't exist
      tags:
        - HMAC-auth credentials
    get:
      x-speakeasy-entity-operation: GatewayHMACAuth#read
      operationId: get-hmac-auth-with-consumer
      summary: Fetch a HMAC-auth credential associated with a Consumer
      description: Get a HMAC-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '200':
          description: Successfully fetched HMAC-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
        '404':
          description: Resource does not exist
      tags:
        - HMAC-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayJWT#create
      operationId: create-jwt-with-consumer
      summary: Create a new JWT associated with a Consumer
      description: Create a new JWT associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new JWT for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTWithoutParents'
      responses:
        '201':
          description: Successfully created JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
      tags:
        - JWTs
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt/{JWTId}':
    delete:
      x-speakeasy-entity-operation: GatewayJWT#delete
      operationId: delete-jwt-with-consumer
      summary: Delete a a JWT associated with a Consumer
      description: Delete a a JWT associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '204':
          description: Successfully deleted JWT or the resource didn't exist
      tags:
        - JWTs
    get:
      x-speakeasy-entity-operation: GatewayJWT#read
      operationId: get-jwt-with-consumer
      summary: Fetch a JWT associated with a Consumer
      description: Get a JWT associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '200':
          description: Successfully fetched JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
        '404':
          description: Resource does not exist
      tags:
        - JWTs
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKeyAuth#create
      operationId: create-key-auth-with-consumer
      summary: Create a new API-key associated with a Consumer
      description: Create a new API-key associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new API-key for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAuthWithoutParents'
      responses:
        '201':
          description: Successfully created API-key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
      tags:
        - API-keys
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth/{KeyAuthId}':
    delete:
      x-speakeasy-entity-operation: GatewayKeyAuth#delete
      operationId: delete-key-auth-with-consumer
      summary: Delete a an API-key associated with a Consumer
      description: Delete a an API-key associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '204':
          description: Successfully deleted API-key or the resource didn't exist
      tags:
        - API-keys
    get:
      x-speakeasy-entity-operation: GatewayKeyAuth#read
      operationId: get-key-auth-with-consumer
      summary: Fetch an API-key associated with a Consumer
      description: Get an API-key associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '200':
          description: Successfully fetched API-key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
        '404':
          description: Resource does not exist
      tags:
        - API-keys
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/mtls-auth':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayMTLSAuth#create
      operationId: create-mtls-auth-with-consumer
      summary: Create a new MTLS-auth credential associated with a Consumer
      description: Create a new MTLS-auth credential associated with a Consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        description: Description of new MTLS-auth credential for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MTLSAuthWithoutParents'
      responses:
        '201':
          description: Successfully created MTLS-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MTLSAuth'
      tags:
        - MTLS-auth credentials
  '/v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/mtls-auth/{MTLSAuthId}':
    delete:
      x-speakeasy-entity-operation: GatewayMTLSAuth#delete
      operationId: delete-mtls-auth-with-consumer
      summary: Delete a a MTLS-auth credential associated with a Consumer
      description: Delete a a MTLS-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/MTLSAuthId'
      responses:
        '204':
          description: Successfully deleted MTLS-auth credential or the resource didn't exist
      tags:
        - MTLS-auth credentials
    get:
      x-speakeasy-entity-operation: GatewayMTLSAuth#read
      operationId: get-mtls-auth-with-consumer
      summary: Fetch a MTLS-auth credential associated with a Consumer
      description: Get a MTLS-auth credential associated with a Consumer using ID.
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/MTLSAuthId'
      responses:
        '200':
          description: Successfully fetched MTLS-auth credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MTLSAuth'
        '404':
          description: Resource does not exist
      tags:
        - MTLS-auth credentials
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
  '/v2/control-planes/{controlPlaneId}/core-entities/custom-plugins':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCustomPluginStreaming#create
      operationId: create-custom-plugin
      summary: Create a new CustomPlugin
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create a new CustomPlugin
      requestBody:
        description: Description of the new CustomPlugin for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPlugin'
      responses:
        '201':
          description: Successfully created CustomPlugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CustomPlugins
  '/v2/control-planes/{controlPlaneId}/core-entities/custom-plugins/{CustomPluginId}':
    delete:
      x-speakeasy-entity-operation: GatewayCustomPluginStreaming#delete
      operationId: delete-custom-plugin
      summary: Delete a CustomPlugin
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete a CustomPlugin
      parameters:
        - $ref: '#/components/parameters/CustomPluginId'
      responses:
        '204':
          description: Successfully deleted CustomPlugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CustomPlugins
    get:
      x-speakeasy-entity-operation: GatewayCustomPluginStreaming#read
      operationId: get-custom-plugin
      summary: Fetch a CustomPlugin
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get a CustomPlugin using ID or name.
      responses:
        '200':
          description: Successfully fetched CustomPlugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - CustomPlugins
    parameters:
      - $ref: '#/components/parameters/CustomPluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayCustomPluginStreaming#update
      operationId: upsert-custom-plugin
      summary: Upsert a CustomPlugin
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create or Update CustomPlugin using ID or name.
      requestBody:
        description: Description of the CustomPlugin
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPlugin'
      responses:
        '200':
          description: Successfully upserted CustomPlugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - CustomPlugins
  '/v2/control-planes/{controlPlaneId}/core-entities/key-sets':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKeySet#create
      operationId: create-key-set
      summary: Create a new KeySet
      description: Create a new KeySet
      requestBody:
        description: Description of the new KeySet for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeySet'
      responses:
        '201':
          description: Successfully created KeySet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
  '/v2/control-planes/{controlPlaneId}/core-entities/key-sets/{KeySetId}':
    delete:
      x-speakeasy-entity-operation: GatewayKeySet#delete
      operationId: delete-key-set
      summary: Delete a KeySet
      description: Delete a KeySet
      parameters:
        - $ref: '#/components/parameters/KeySetId'
      responses:
        '204':
          description: Successfully deleted KeySet or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
    get:
      x-speakeasy-entity-operation: GatewayKeySet#read
      operationId: get-key-set
      summary: Fetch a KeySet
      description: Get a KeySet using ID or name.
      responses:
        '200':
          description: Successfully fetched KeySet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - KeySets
    parameters:
      - $ref: '#/components/parameters/KeySetId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayKeySet#update
      operationId: upsert-key-set
      summary: Upsert a KeySet
      description: Create or Update KeySet using ID or name.
      requestBody:
        description: Description of the KeySet
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeySet'
      responses:
        '200':
          description: Successfully upserted KeySet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - KeySets
  '/v2/control-planes/{controlPlaneId}/core-entities/keys':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayKey#create
      operationId: create-key
      summary: Create a new Key
      description: Create a new Key
      requestBody:
        description: Description of the new Key for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '201':
          description: Successfully created Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
  '/v2/control-planes/{controlPlaneId}/core-entities/keys/{KeyId}':
    delete:
      x-speakeasy-entity-operation: GatewayKey#delete
      operationId: delete-key
      summary: Delete a Key
      description: Delete a Key
      parameters:
        - $ref: '#/components/parameters/KeyId'
      responses:
        '204':
          description: Successfully deleted Key or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
    get:
      x-speakeasy-entity-operation: GatewayKey#read
      operationId: get-key
      summary: Fetch a Key
      description: Get a Key using ID or name.
      responses:
        '200':
          description: Successfully fetched Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Keys
    parameters:
      - $ref: '#/components/parameters/KeyId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayKey#update
      operationId: upsert-key
      summary: Upsert a Key
      description: Create or Update Key using ID or name.
      requestBody:
        description: Description of the Key
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '200':
          description: Successfully upserted Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Keys
  '/v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#create
      operationId: create-plugin-schemas
      summary: Upload custom plugin schema
      description: Upload a custom plugin schema associated with a control plane.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '201':
          $ref: '#/components/responses/plugin-schemas'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Custom Plugin Schemas
  '/v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas/{name}':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
      - name: name
        in: path
        description: The custom plugin name
        required: true
        schema:
          type: string
          example: myplugin
    get:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#read
      operationId: get-plugin-schema
      summary: Fetch custom plugin schema
      description: Returns information about a custom plugin from a given name.
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
    delete:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#delete
      operationId: delete-plugin-schemas
      summary: Delete custom plugin schema
      description: Delete an individual custom plugin schema.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
    put:
      x-speakeasy-entity-operation: GatewayCustomPluginSchema#update
      operationId: update-plugin-schemas
      summary: Create or update a custom plugin schema
      description: Create or update an individual custom plugin schema.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Plugin Schemas
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins':
    parameters:
      - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: create-plugin
      summary: Create a new Plugin
      description: Create a new Plugin
      requestBody:
        description: Description of the new Plugin for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: Successfully created Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}':
    delete:
      operationId: delete-plugin
      summary: Delete a Plugin
      description: Delete a Plugin
      parameters:
        - $ref: '#/components/parameters/PluginId'
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      operationId: get-plugin
      summary: Fetch a Plugin
      description: Get a Plugin using ID.
      responses:
        '200':
          description: Successfully fetched Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      operationId: upsert-plugin
      summary: Upsert a Plugin
      description: Create or Update Plugin using ID.
      requestBody:
        description: Description of the Plugin
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: Successfully upserted Plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#ACL':
    delete:
      x-speakeasy-entity-operation: GatewayPluginACL#delete
      operationId: delete-acl-plugin
      summary: Delete a ACL plugin
      description: Delete a ACL plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      x-speakeasy-entity-operation: GatewayPluginACL#read
      operationId: get-acl-plugin
      summary: Get a ACL plugin
      description: Get a ACL plugin
      responses:
        '200':
          description: ACL plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayPluginACL#update
      operationId: update-acl-plugin
      summary: Update a ACL plugin
      description: Update a ACL plugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLPlugin'
      responses:
        '200':
          description: ACL plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#Acme':
    delete:
      x-speakeasy-entity-operation: GatewayPluginAcme#delete
      operationId: delete-acme-plugin
      summary: Delete a Acme plugin
      description: Delete a Acme plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      x-speakeasy-entity-operation: GatewayPluginAcme#read
      operationId: get-acme-plugin
      summary: Get a Acme plugin
      description: Get a Acme plugin
      responses:
        '200':
          description: Acme plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcmePlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayPluginAcme#update
      operationId: update-acme-plugin
      summary: Update a Acme plugin
      description: Update a Acme plugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcmePlugin'
      responses:
        '200':
          description: Acme plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcmePlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AiAzureContentSafety':
    delete:
      x-speakeasy-entity-operation: GatewayPluginAiAzureContentSafety#delete
      operationId: delete-aiazurecontentsafety-plugin
      summary: Delete a AiAzureContentSafety plugin
      description: Delete a AiAzureContentSafety plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      x-speakeasy-entity-operation: GatewayPluginAiAzureContentSafety#read
      operationId: get-aiazurecontentsafety-plugin
      summary: Get a AiAzureContentSafety plugin
      description: Get a AiAzureContentSafety plugin
      responses:
        '200':
          description: AiAzureContentSafety plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAzureContentSafetyPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayPluginAiAzureContentSafety#update
      operationId: update-aiazurecontentsafety-plugin
      summary: Update a AiAzureContentSafety plugin
      description: Update a AiAzureContentSafety plugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAzureContentSafetyPlugin'
      responses:
        '200':
          description: AiAzureContentSafety plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAzureContentSafetyPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AiPromptDecorator':
    delete:
      x-speakeasy-entity-operation: GatewayPluginAiPromptDecorator#delete
      operationId: delete-aipromptdecorator-plugin
      summary: Delete a AiPromptDecorator plugin
      description: Delete a AiPromptDecorator plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      x-speakeasy-entity-operation: GatewayPluginAiPromptDecorator#read
      operationId: get-aipromptdecorator-plugin
      summary: Get a AiPromptDecorator plugin
      description: Get a AiPromptDecorator plugin
      responses:
        '200':
          description: AiPromptDecorator plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPromptDecoratorPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/controlPlaneId'
    put:
      x-speakeasy-entity-operation: GatewayPluginAiPromptDecorator#update
      operationId: update-aipromptdecorator-plugin
      summary: Update a AiPromptDecorator plugin
      description: Update a AiPromptDecorator plugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiPromptDecoratorPlugin'
      responses:
        '200':
          description: AiPromptDecorator plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPromptDecoratorPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
  '/v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AiPromptGuard':
    delete:
      x-speakeasy-entity-operation: GatewayPluginAiPromptGuard#delete
      operationId: delete-aipromptguard-plugin
      summary: Delete a AiPromptGuard plugin
      description: Delete a AiPromptGuard plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
        - Plugins
    get:
      x-speakeasy-entity-operation: GatewayPluginAiPromptGuard#read
      operationId: get-aipromptguard-plugin
      summary: Get a AiPromptGuard plugin
      description: Get a AiPromptGuard plugin
      responses:
        '200':
          description: AiPromptGuard plugin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPromptGuardPlugin'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
        - Plugins
    parameters:
      - $ref: '#/components/parameters/PluginId'
[...]
