openapi: 3.1.0
info:
  title: Konnect API
  version: 2.0.0
  description: The Konnect platform API
  contact:
    name: Kong
    url: https://cloud.konghq.com
    email: support@konghq.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://global.api.konghq.com
  - url: https://us.api.konghq.com
  - url: https://eu.api.konghq.com
  - url: https://au.api.konghq.com
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://docs.konghq.com
paths:
  /v1/mesh/control-planes:
    post:
      x-speakeasy-entity-operation: MeshControlPlane#create
      summary: Create a new control plane
      description: Create a new control plane
      operationId: create-cp
      tags:
        - Mesh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeshControlPlaneRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/CreateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
  /v1/mesh/control-planes/{cpId}:
    parameters:
      - name: cpId
        in: path
        required: true
        description: Id of the Konnect resource
        example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: MeshControlPlane#read
      summary: Get the control plane
      description: Get the control plane
      operationId: get-mesh-control-plane
      tags:
        - Mesh
      responses:
        '200':
          $ref: '#/components/responses/RetrieveMeshControlPlaneResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
    delete:
      x-speakeasy-entity-operation: MeshControlPlane#delete
      summary: Delete the control plane
      description: Delete the control plane
      operationId: delete-mesh-control-plane
      tags:
        - Mesh
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
    patch:
      x-speakeasy-entity-operation: MeshControlPlane#update
      summary: Update control plane
      operationId: update-mesh-control-plane
      tags:
        - Mesh
      responses:
        '200':
          $ref: '#/components/responses/UpdateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/UpdateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      description: Update an individual control plane.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeshControlPlaneRequest'
  /v2/api-products:
    post:
      x-speakeasy-entity-operation: ApiProduct#create
      summary: Create API Product
      description: >
        An API Product packages together associated APIs and their operations,
        backed by thorough documentation,

        with the objective of making API consumption straightforward for
        developers.
      operationId: create-api-product
      responses:
        '201':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductRequest'
  /v2/api-products/{apiProductId}/product-versions:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: apiProductId
        description: The API Product ID
        in: path
        required: true
    post:
      x-speakeasy-entity-operation: ApiProductVersion#create
      summary: Create API Product Version
      description: Creates a version of an API product.
      operationId: create-api-product-version
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionRequest'
  /v2/api-products/{apiProductId}/product-versions/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: apiProductId
        description: The API product identifier
        in: path
        required: true
      - schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name: id
        description: The API product version identifier
        in: path
        required: true
    get:
      x-speakeasy-entity-operation: ApiProductVersion#read
      summary: Fetch API Product Version
      description: Returns a version of an API product.
      operationId: get-api-product-version
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
    patch:
      x-speakeasy-entity-operation: ApiProductVersion#update
      summary: Update an API Product Version
      description: Updates an API product version.
      operationId: update-api-product-version
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionRequest'
    delete:
      x-speakeasy-entity-operation: ApiProductVersion#delete
      summary: Delete API Product Version
      description: Removes an API product version.
      operationId: delete-api-product-version
      responses:
        '204':
          description: API product version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  /v2/api-products/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: id
        in: path
        required: true
        description: API product identifier
    get:
      x-speakeasy-entity-operation: ApiProduct#read
      summary: Fetch API product
      description: Returns an API product.
      operationId: get-api-product
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
    patch:
      x-speakeasy-entity-operation: ApiProduct#update
      summary: Update an individual API product
      description: Updates an API product.
      operationId: update-api-product
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductRequest'
    delete:
      x-speakeasy-entity-operation: ApiProduct#delete
      summary: Delete API Product
      description: Removes an individual API product.
      operationId: delete-api-product
      responses:
        '204':
          description: API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  /v2/application-auth-strategies:
    post:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#create
      summary: Create App Auth Strategy
      operationId: create-app-auth-strategy
      description: Creates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/CreateAppAuthStrategy'
      responses:
        '201':
          $ref: '#/components/responses/CreateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - App Auth Strategies
  /v2/application-auth-strategies/{authStrategyId}:
    parameters:
      - $ref: '#/components/parameters/AuthStrategyId'
    get:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#read
      summary: Get App Auth Strategy
      description: Returns an application auth strategy.
      operationId: get-app-auth-strategy
      responses:
        '200':
          $ref: '#/components/responses/GetAppAuthStrategy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    patch:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#update
      summary: Update App Auth Strategy
      operationId: update-app-auth-strategy
      description: Updates an application auth strategy.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAppAuthStrategy'
      responses:
        '200':
          $ref: '#/components/responses/UpdateAppAuthStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - App Auth Strategies
    delete:
      x-speakeasy-entity-operation: ApplicationAuthStrategy#delete
      summary: Delete App Auth Strategy
      description: >-
        Deletes an application auth strategy. An application auth strategy can
        be deleted ONLY if it's not used by any product version within any
        portal regardless of their publication statuses. If an application auth
        strategy is still in use the request will result in an HTTP 409
        CONFLICT.
      operationId: delete-app-auth-strategy
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - App Auth Strategies
  /v2/cloud-gateways/configurations:
    put:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#create,update
      summary: Create Configuration
      description: >
        Creates a new configuration for a control-plane (restricted by permitted
        control-plane permissions for

        configurations). This request will replace any existing configuration
        for the requested control_plane_id and

        control_plane_geo by performing a diff. From this diff, new resources
        detected in the requested configuration

        will be added, resources not found in the request configuration but in
        the previous will be deleted, and

        resources found in both will be updated to the requested configuration.
        Networks referenced in this request that

        are in an offline state will automatically initialize (i.e. move to an
        initializing state).
      operationId: create-configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateConfigurationResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/CloudGatewaysConflict'
      tags:
        - Data-Plane Group Configurations
  /v2/cloud-gateways/configurations/{configurationId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#get
      summary: Get Configuration
      description: >-
        Retrieves a configuration by ID (restricted by permitted control-plane
        read).
      operationId: get-configuration
      parameters:
        - $ref: '#/components/parameters/ConfigurationId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveConfigurationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Data-Plane Group Configurations
  /v2/cloud-gateways/custom-domains:
    post:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#create
      summary: Create Custom Domain
      description: >
        Creates a new custom domain for a control-plane (restricted by permitted
        control-plane associate-custom-domain

        action).
      operationId: create-custom-domains
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomDomainRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateCustomDomainResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Custom Domains
  /v2/cloud-gateways/custom-domains/{customDomainId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#read
      summary: Get Custom Domain
      description: >-
        Retrieves a custom domain by ID (restricted by permitted control-plane
        reads).
      operationId: get-custom-domain
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveCustomDomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
    delete:
      x-speakeasy-entity-operation: CloudGatewayCustomDomain#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Custom Domain
      description: >-
        Deletes a custom domain by ID (restricted by permitted control-plane
        reads).
      operationId: delete-custom-domain
      parameters:
        - $ref: '#/components/parameters/CustomDomainId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Custom Domains
  /v2/cloud-gateways/networks:
    post:
      x-speakeasy-entity-operation: CloudGatewayNetwork#create
      summary: Create Network
      description: Creates a new network for a given provider account.
      operationId: create-network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
  /v2/cloud-gateways/networks/{networkId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayNetwork#read
      summary: Get Network
      description: Retrieves a network by ID.
      operationId: get-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveNetworkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
    patch:
      x-speakeasy-entity-operation: CloudGatewayNetwork#update
      summary: Update Network
      description: Updates a network by ID.
      operationId: update-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchNetworkRequest'
      responses:
        '200':
          $ref: '#/components/responses/PatchNetworkResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Networks
    delete:
      x-speakeasy-entity-operation: CloudGatewayNetwork#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Network
      description: Deletes a network by ID.
      operationId: delete-network
      parameters:
        - $ref: '#/components/parameters/NetworkId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Networks
  /v2/cloud-gateways/networks/{networkId}/transit-gateways:
    post:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#create
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 30000
          maxInterval: 60000
          maxElapsedTime: 3600000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Create Transit Gateway
      description: Creates a new transit gateway for a given network.
      operationId: create-transit-gateway
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransitGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTransitGatewayResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Transit Gateways
  /v2/cloud-gateways/networks/{networkId}/transit-gateways/{transitGatewayId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#read
      summary: Get Transit Gateway
      description: Retrieves a transit gateway by ID for a given network.
      operationId: get-transit-gateway
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveTransitGatewayResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
    delete:
      x-speakeasy-entity-operation: CloudGatewayTransitGateway#delete
      x-speakeasy-retries:
        strategy: backoff
        backoff:
          initialInterval: 10000
          maxInterval: 60000
          maxElapsedTime: 1800000
          exponent: 1.5
        statusCodes:
          - 400
        retryConnectionErrors: false
      summary: Delete Transit Gateway
      description: Deletes a transit gateway by ID for a given network.
      operationId: delete-transit-gateway
      parameters:
        - name: networkId
          in: path
          description: The network to operate on.
          required: true
          schema:
            $ref: '#/components/schemas/NetworkId'
        - $ref: '#/components/parameters/TransitGatewayId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Transit Gateways
  /v2/cloud-gateways/provider-accounts:
    get:
      x-speakeasy-entity-operation: CloudGatewayProviderAccountList#read
      summary: List Provider Accounts
      description: >-
        Returns a a paginated collection of provider accounts for an
        organization.
      operationId: list-provider-accounts
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListProviderAccountsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Provider Accounts
  /v2/control-planes:
    parameters: []
    post:
      x-speakeasy-entity-operation: GatewayControlPlane#create
      summary: Create Control Plane
      operationId: create-control-plane
      responses:
        '201':
          $ref: '#/components/responses/CreateControlPlaneResponse'
        '400':
          $ref: '#/components/responses/ControlPlanesBadRequest'
        '401':
          $ref: '#/components/responses/ControlPlaneUnauthenticated'
        '403':
          $ref: '#/components/responses/ControlPlanePermissionDenied'
        '409':
          $ref: '#/components/responses/ControlPlaneConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Control Planes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlPlaneRequest'
      description: Create a control plane in the Konnect Organization.
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new CA Certificate
      operationId: create-ca_certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CACertificate'
        description: Description of the new CA Certificate for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
          description: Successfully created CA Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new CA Certificate
      tags:
        - CA Certificates
      x-speakeasy-entity-operation: GatewayCACertificate#create
  /v2/control-planes/{controlPlaneId}/core-entities/ca_certificates/{CACertificateId}:
    delete:
      description: Delete a CA Certificate
      operationId: delete-ca_certificate
      parameters:
        - $ref: '#/components/parameters/CACertificateId'
      responses:
        '204':
          description: Successfully deleted CA Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a CA Certificate
      tags:
        - CA Certificates
      x-speakeasy-entity-operation: GatewayCACertificate#delete
    get:
      description: Get a CA Certificate using ID.
      operationId: get-ca_certificate
      parameters:
        - $ref: '#/components/parameters/CACertificateId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CACertificate'
          description: Successfully fetched CA Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a CA Certificate
      tags:
        - CA Certificates
      x-speakeasy-entity-operation: GatewayCACertificate#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/certificates:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new Certificate
      operationId: create-certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: Description of the new Certificate for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successfully created Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new Certificate
      tags:
        - Certificates
      x-speakeasy-entity-operation: GatewayCertificate#create
  /v2/control-planes/{controlPlaneId}/core-entities/certificates/{CertificateId}:
    delete:
      description: Delete a Certificate
      operationId: delete-certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
      responses:
        '204':
          description: Successfully deleted Certificate or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Certificate
      tags:
        - Certificates
      x-speakeasy-entity-operation: GatewayCertificate#delete
    get:
      description: Get a Certificate using ID.
      operationId: get-certificate
      parameters:
        - $ref: '#/components/parameters/CertificateId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: Successfully fetched Certificate
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a Certificate
      tags:
        - Certificates
      x-speakeasy-entity-operation: GatewayCertificate#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new Consumer Group
      operationId: create-consumer_group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroup'
        description: Description of the new Consumer Group for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
          description: Successfully created Consumer Group
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new Consumer Group
      tags:
        - Consumer Groups
      x-speakeasy-entity-operation: GatewayConsumerGroup#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumer_groups/{ConsumerGroupId}:
    delete:
      description: Delete a Consumer Group
      operationId: delete-consumer_group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
      responses:
        '204':
          description: Successfully deleted Consumer Group or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Consumer Group
      tags:
        - Consumer Groups
      x-speakeasy-entity-operation: GatewayConsumerGroup#delete
    get:
      description: Get a Consumer Group using ID.
      operationId: get-consumer_group
      parameters:
        - $ref: '#/components/parameters/ConsumerGroupId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroup'
          description: Successfully fetched Consumer Group
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a Consumer Group
      tags:
        - Consumer Groups
      x-speakeasy-entity-operation: GatewayConsumerGroup#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new Consumer
      operationId: create-consumer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consumer'
        description: Description of the new Consumer for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully created Consumer
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new Consumer
      tags:
        - Consumers
      x-speakeasy-entity-operation: GatewayConsumer#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerId}:
    delete:
      description: Delete a Consumer
      operationId: delete-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      responses:
        '204':
          description: Successfully deleted Consumer or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Consumer
      tags:
        - Consumers
      x-speakeasy-entity-operation: GatewayConsumer#delete
    get:
      description: Get a Consumer using ID or username.
      operationId: get-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
          description: Successfully fetched Consumer
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a Consumer
      tags:
        - Consumers
      x-speakeasy-entity-operation: GatewayConsumer#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new ACL associated with a Consumer
      operationId: create-acl-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACLWithoutParents'
        description: Description of new ACL for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: Successfully created ACL
      summary: Create a new ACL associated with a Consumer
      tags:
        - ACLs
      x-speakeasy-entity-operation: GatewayACL#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/acls/{ACLId}:
    delete:
      description: Delete a an ACL associated with a a Consumer using ID.
      operationId: delete-acl-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '204':
          description: Successfully deleted ACL or the resource didn't exist
      summary: Delete a an ACL associated with a a Consumer
      tags:
        - ACLs
      x-speakeasy-entity-operation: GatewayACL#delete
    get:
      description: Get an ACL associated with a Consumer using ID.
      operationId: get-acl-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/ACLId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACL'
          description: Successfully fetched ACL
        '404':
          description: Resource does not exist
      summary: Fetch an ACL associated with a Consumer
      tags:
        - ACLs
      x-speakeasy-entity-operation: GatewayACL#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new Basic-auth credential associated with a Consumer
      operationId: create-basic-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthWithoutParents'
        description: Description of new Basic-auth credential for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
          description: Successfully created Basic-auth credential
      summary: Create a new Basic-auth credential associated with a Consumer
      tags:
        - Basic-auth credentials
      x-speakeasy-entity-operation: GatewayBasicAuth#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/basic-auth/{BasicAuthId}:
    delete:
      description: Delete a a Basic-auth credential associated with a a Consumer using ID.
      operationId: delete-basic-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '204':
          description: >-
            Successfully deleted Basic-auth credential or the resource didn't
            exist
      summary: Delete a a Basic-auth credential associated with a a Consumer
      tags:
        - Basic-auth credentials
      x-speakeasy-entity-operation: GatewayBasicAuth#delete
    get:
      description: Get a Basic-auth credential associated with a Consumer using ID.
      operationId: get-basic-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/BasicAuthId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuth'
          description: Successfully fetched Basic-auth credential
        '404':
          description: Resource does not exist
      summary: Fetch a Basic-auth credential associated with a Consumer
      tags:
        - Basic-auth credentials
      x-speakeasy-entity-operation: GatewayBasicAuth#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new HMAC-auth credential associated with a Consumer
      operationId: create-hmac-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HMACAuthWithoutParents'
        description: Description of new HMAC-auth credential for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
          description: Successfully created HMAC-auth credential
      summary: Create a new HMAC-auth credential associated with a Consumer
      tags:
        - HMAC-auth credentials
      x-speakeasy-entity-operation: GatewayHMACAuth#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/hmac-auth/{HMACAuthId}:
    delete:
      description: Delete a a HMAC-auth credential associated with a a Consumer using ID.
      operationId: delete-hmac-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '204':
          description: >-
            Successfully deleted HMAC-auth credential or the resource didn't
            exist
      summary: Delete a a HMAC-auth credential associated with a a Consumer
      tags:
        - HMAC-auth credentials
      x-speakeasy-entity-operation: GatewayHMACAuth#delete
    get:
      description: Get a HMAC-auth credential associated with a Consumer using ID.
      operationId: get-hmac-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/HMACAuthId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HMACAuth'
          description: Successfully fetched HMAC-auth credential
        '404':
          description: Resource does not exist
      summary: Fetch a HMAC-auth credential associated with a Consumer
      tags:
        - HMAC-auth credentials
      x-speakeasy-entity-operation: GatewayHMACAuth#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new JWT associated with a Consumer
      operationId: create-jwt-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTWithoutParents'
        description: Description of new JWT for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
          description: Successfully created JWT
      summary: Create a new JWT associated with a Consumer
      tags:
        - JWTs
      x-speakeasy-entity-operation: GatewayJWT#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/jwt/{JWTId}:
    delete:
      description: Delete a a JWT associated with a a Consumer using ID.
      operationId: delete-jwt-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '204':
          description: Successfully deleted JWT or the resource didn't exist
      summary: Delete a a JWT associated with a a Consumer
      tags:
        - JWTs
      x-speakeasy-entity-operation: GatewayJWT#delete
    get:
      description: Get a JWT associated with a Consumer using ID.
      operationId: get-jwt-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/JWTId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
          description: Successfully fetched JWT
        '404':
          description: Resource does not exist
      summary: Fetch a JWT associated with a Consumer
      tags:
        - JWTs
      x-speakeasy-entity-operation: GatewayJWT#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new API-key associated with a Consumer
      operationId: create-key-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyAuthWithoutParents'
        description: Description of new API-key for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
          description: Successfully created API-key
      summary: Create a new API-key associated with a Consumer
      tags:
        - API-keys
      x-speakeasy-entity-operation: GatewayKeyAuth#create
  /v2/control-planes/{controlPlaneId}/core-entities/consumers/{ConsumerIdForNestedEntities}/key-auth/{KeyAuthId}:
    delete:
      description: Delete a an API-key associated with a a Consumer using ID.
      operationId: delete-key-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '204':
          description: Successfully deleted API-key or the resource didn't exist
      summary: Delete a an API-key associated with a a Consumer
      tags:
        - API-keys
      x-speakeasy-entity-operation: GatewayKeyAuth#delete
    get:
      description: Get an API-key associated with a Consumer using ID.
      operationId: get-key-auth-with-consumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdForNestedEntities'
        - $ref: '#/components/parameters/KeyAuthId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuth'
          description: Successfully fetched API-key
        '404':
          description: Resource does not exist
      summary: Fetch an API-key associated with a Consumer
      tags:
        - API-keys
      x-speakeasy-entity-operation: GatewayKeyAuth#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/key-sets:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new KeySet
      operationId: create-key-set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeySet'
        description: Description of the new KeySet for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
          description: Successfully created KeySet
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new KeySet
      tags:
        - KeySets
      x-speakeasy-entity-operation: GatewayKeySet#create
  /v2/control-planes/{controlPlaneId}/core-entities/key-sets/{KeySetId}:
    delete:
      description: Delete a KeySet
      operationId: delete-key-set
      parameters:
        - $ref: '#/components/parameters/KeySetId'
      responses:
        '204':
          description: Successfully deleted KeySet or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a KeySet
      tags:
        - KeySets
      x-speakeasy-entity-operation: GatewayKeySet#delete
    get:
      description: Get a KeySet using ID or name.
      operationId: get-key-set
      parameters:
        - $ref: '#/components/parameters/KeySetId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeySet'
          description: Successfully fetched KeySet
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a KeySet
      tags:
        - KeySets
      x-speakeasy-entity-operation: GatewayKeySet#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/keys:
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
    post:
      description: Create a new Key
      operationId: create-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
        description: Description of the new Key for creation
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successfully created Key
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Create a new Key
      tags:
        - Keys
      x-speakeasy-entity-operation: GatewayKey#create
  /v2/control-planes/{controlPlaneId}/core-entities/keys/{KeyId}:
    delete:
      description: Delete a Key
      operationId: delete-key
      parameters:
        - $ref: '#/components/parameters/KeyId'
      responses:
        '204':
          description: Successfully deleted Key or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Key
      tags:
        - Keys
      x-speakeasy-entity-operation: GatewayKey#delete
    get:
      description: Get a Key using ID or name.
      operationId: get-key
      parameters:
        - $ref: '#/components/parameters/KeyId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: Successfully fetched Key
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Fetch a Key
      tags:
        - Keys
      x-speakeasy-entity-operation: GatewayKey#read
    parameters:
      - $ref: '#/components/parameters/ControlPlaneId'
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#ACL:
    delete:
      description: Delete a ACL plugin
      operationId: delete-acl-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a ACL plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginACL#delete
    get:
      description: Get a ACL plugin
      operationId: get-acl-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
          description: ACL plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a ACL plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginACL#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a ACL plugin
      operationId: update-acl-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateACLPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLPlugin'
          description: ACL plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a ACL plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginACL#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptDecorator:
    delete:
      description: Delete a AIPromptDecorator plugin
      operationId: delete-aipromptdecorator-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a AIPromptDecorator plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#delete
    get:
      description: Get a AIPromptDecorator plugin
      operationId: get-aipromptdecorator-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptDecoratorPlugin'
          description: AIPromptDecorator plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a AIPromptDecorator plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a AIPromptDecorator plugin
      operationId: update-aipromptdecorator-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptDecoratorPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptDecoratorPlugin'
          description: AIPromptDecorator plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a AIPromptDecorator plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptDecorator#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptGuard:
    delete:
      description: Delete a AIPromptGuard plugin
      operationId: delete-aipromptguard-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a AIPromptGuard plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#delete
    get:
      description: Get a AIPromptGuard plugin
      operationId: get-aipromptguard-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptGuardPlugin'
          description: AIPromptGuard plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a AIPromptGuard plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a AIPromptGuard plugin
      operationId: update-aipromptguard-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptGuardPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptGuardPlugin'
          description: AIPromptGuard plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a AIPromptGuard plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptGuard#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIPromptTemplate:
    delete:
      description: Delete a AIPromptTemplate plugin
      operationId: delete-aiprompttemplate-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a AIPromptTemplate plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#delete
    get:
      description: Get a AIPromptTemplate plugin
      operationId: get-aiprompttemplate-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptTemplatePlugin'
          description: AIPromptTemplate plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a AIPromptTemplate plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a AIPromptTemplate plugin
      operationId: update-aiprompttemplate-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIPromptTemplatePlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIPromptTemplatePlugin'
          description: AIPromptTemplate plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a AIPromptTemplate plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIPromptTemplate#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AIProxy:
    delete:
      description: Delete a AIProxy plugin
      operationId: delete-aiproxy-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a AIProxy plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIProxy#delete
    get:
      description: Get a AIProxy plugin
      operationId: get-aiproxy-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProxyPlugin'
          description: AIProxy plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a AIProxy plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIProxy#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a AIProxy plugin
      operationId: update-aiproxy-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIProxyPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProxyPlugin'
          description: AIProxy plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a AIProxy plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAIProxy#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#AWSLambda:
    delete:
      description: Delete a AWSLambda plugin
      operationId: delete-awslambda-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a AWSLambda plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#delete
    get:
      description: Get a AWSLambda plugin
      operationId: get-awslambda-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSLambdaPlugin'
          description: AWSLambda plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a AWSLambda plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a AWSLambda plugin
      operationId: update-awslambda-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAWSLambdaPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AWSLambdaPlugin'
          description: AWSLambda plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a AWSLambda plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginAWSLambda#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#BasicAuth:
    delete:
      description: Delete a BasicAuth plugin
      operationId: delete-basicauth-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a BasicAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#delete
    get:
      description: Get a BasicAuth plugin
      operationId: get-basicauth-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthPlugin'
          description: BasicAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a BasicAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a BasicAuth plugin
      operationId: update-basicauth-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBasicAuthPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthPlugin'
          description: BasicAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a BasicAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginBasicAuth#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#CorrelationId:
    delete:
      description: Delete a CorrelationId plugin
      operationId: delete-correlationid-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a CorrelationId plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#delete
    get:
      description: Get a CorrelationId plugin
      operationId: get-correlationid-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationIdPlugin'
          description: CorrelationId plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a CorrelationId plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a CorrelationId plugin
      operationId: update-correlationid-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorrelationIdPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationIdPlugin'
          description: CorrelationId plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a CorrelationId plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCorrelationId#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#CORS:
    delete:
      description: Delete a CORS plugin
      operationId: delete-cors-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a CORS plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCORS#delete
    get:
      description: Get a CORS plugin
      operationId: get-cors-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CORSPlugin'
          description: CORS plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a CORS plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCORS#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a CORS plugin
      operationId: update-cors-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCORSPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CORSPlugin'
          description: CORS plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a CORS plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginCORS#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#FileLog:
    delete:
      description: Delete a FileLog plugin
      operationId: delete-filelog-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a FileLog plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginFileLog#delete
    get:
      description: Get a FileLog plugin
      operationId: get-filelog-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLogPlugin'
          description: FileLog plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a FileLog plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginFileLog#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a FileLog plugin
      operationId: update-filelog-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileLogPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLogPlugin'
          description: FileLog plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a FileLog plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginFileLog#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#IpRestriction:
    delete:
      description: Delete a IpRestriction plugin
      operationId: delete-iprestriction-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a IpRestriction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#delete
    get:
      description: Get a IpRestriction plugin
      operationId: get-iprestriction-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRestrictionPlugin'
          description: IpRestriction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a IpRestriction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a IpRestriction plugin
      operationId: update-iprestriction-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIpRestrictionPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRestrictionPlugin'
          description: IpRestriction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a IpRestriction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginIpRestriction#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#JQ:
    delete:
      description: Delete a JQ plugin
      operationId: delete-jq-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a JQ plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJQ#delete
    get:
      description: Get a JQ plugin
      operationId: get-jq-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JQPlugin'
          description: JQ plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a JQ plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJQ#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a JQ plugin
      operationId: update-jq-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJQPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JQPlugin'
          description: JQ plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a JQ plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJQ#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#JWT:
    delete:
      description: Delete a JWT plugin
      operationId: delete-jwt-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a JWT plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWT#delete
    get:
      description: Get a JWT plugin
      operationId: get-jwt-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTPlugin'
          description: JWT plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a JWT plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWT#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a JWT plugin
      operationId: update-jwt-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJWTPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTPlugin'
          description: JWT plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a JWT plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWT#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#JWTSigner:
    delete:
      description: Delete a JWTSigner plugin
      operationId: delete-jwtsigner-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a JWTSigner plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWTSigner#delete
    get:
      description: Get a JWTSigner plugin
      operationId: get-jwtsigner-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTSignerPlugin'
          description: JWTSigner plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a JWTSigner plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWTSigner#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a JWTSigner plugin
      operationId: update-jwtsigner-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJWTSignerPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTSignerPlugin'
          description: JWTSigner plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a JWTSigner plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginJWTSigner#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#KeyAuth:
    delete:
      description: Delete a KeyAuth plugin
      operationId: delete-keyauth-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a KeyAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginKeyAuth#delete
    get:
      description: Get a KeyAuth plugin
      operationId: get-keyauth-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuthPlugin'
          description: KeyAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a KeyAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginKeyAuth#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a KeyAuth plugin
      operationId: update-keyauth-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyAuthPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyAuthPlugin'
          description: KeyAuth plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a KeyAuth plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginKeyAuth#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#Oauth2:
    delete:
      description: Delete a Oauth2 plugin
      operationId: delete-oauth2-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Oauth2 plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOauth2#delete
    get:
      description: Get a Oauth2 plugin
      operationId: get-oauth2-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oauth2Plugin'
          description: Oauth2 plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a Oauth2 plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOauth2#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a Oauth2 plugin
      operationId: update-oauth2-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOauth2Plugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oauth2Plugin'
          description: Oauth2 plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a Oauth2 plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOauth2#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#OpenidConnect:
    delete:
      description: Delete a OpenidConnect plugin
      operationId: delete-openidconnect-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a OpenidConnect plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpenidConnect#delete
    get:
      description: Get a OpenidConnect plugin
      operationId: get-openidconnect-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenidConnectPlugin'
          description: OpenidConnect plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a OpenidConnect plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpenidConnect#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a OpenidConnect plugin
      operationId: update-openidconnect-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpenidConnectPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenidConnectPlugin'
          description: OpenidConnect plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a OpenidConnect plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpenidConnect#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#Opentelemetry:
    delete:
      description: Delete a Opentelemetry plugin
      operationId: delete-opentelemetry-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Opentelemetry plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpentelemetry#delete
    get:
      description: Get a Opentelemetry plugin
      operationId: get-opentelemetry-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpentelemetryPlugin'
          description: Opentelemetry plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a Opentelemetry plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpentelemetry#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a Opentelemetry plugin
      operationId: update-opentelemetry-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpentelemetryPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpentelemetryPlugin'
          description: Opentelemetry plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a Opentelemetry plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginOpentelemetry#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#PreFunction:
    delete:
      description: Delete a PreFunction plugin
      operationId: delete-prefunction-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a PreFunction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPreFunction#delete
    get:
      description: Get a PreFunction plugin
      operationId: get-prefunction-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreFunctionPlugin'
          description: PreFunction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a PreFunction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPreFunction#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a PreFunction plugin
      operationId: update-prefunction-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreFunctionPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreFunctionPlugin'
          description: PreFunction plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a PreFunction plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPreFunction#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#Prometheus:
    delete:
      description: Delete a Prometheus plugin
      operationId: delete-prometheus-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a Prometheus plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPrometheus#delete
    get:
      description: Get a Prometheus plugin
      operationId: get-prometheus-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusPlugin'
          description: Prometheus plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a Prometheus plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPrometheus#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a Prometheus plugin
      operationId: update-prometheus-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrometheusPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrometheusPlugin'
          description: Prometheus plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a Prometheus plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginPrometheus#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#ProxyCache:
    delete:
      description: Delete a ProxyCache plugin
      operationId: delete-proxycache-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a ProxyCache plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginProxyCache#delete
    get:
      description: Get a ProxyCache plugin
      operationId: get-proxycache-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCachePlugin'
          description: ProxyCache plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a ProxyCache plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginProxyCache#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a ProxyCache plugin
      operationId: update-proxycache-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProxyCachePlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyCachePlugin'
          description: ProxyCache plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a ProxyCache plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginProxyCache#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#RateLimiting:
    delete:
      description: Delete a RateLimiting plugin
      operationId: delete-ratelimiting-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a RateLimiting plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimiting#delete
    get:
      description: Get a RateLimiting plugin
      operationId: get-ratelimiting-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitingPlugin'
          description: RateLimiting plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a RateLimiting plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimiting#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a RateLimiting plugin
      operationId: update-ratelimiting-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRateLimitingPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitingPlugin'
          description: RateLimiting plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a RateLimiting plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimiting#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#RateLimitingAdvanced:
    delete:
      description: Delete a RateLimitingAdvanced plugin
      operationId: delete-ratelimitingadvanced-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a RateLimitingAdvanced plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimitingAdvanced#delete
    get:
      description: Get a RateLimitingAdvanced plugin
      operationId: get-ratelimitingadvanced-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitingAdvancedPlugin'
          description: RateLimitingAdvanced plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a RateLimitingAdvanced plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimitingAdvanced#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a RateLimitingAdvanced plugin
      operationId: update-ratelimitingadvanced-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRateLimitingAdvancedPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitingAdvancedPlugin'
          description: RateLimitingAdvanced plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a RateLimitingAdvanced plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRateLimitingAdvanced#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#RequestTermination:
    delete:
      description: Delete a RequestTermination plugin
      operationId: delete-requesttermination-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a RequestTermination plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTermination#delete
    get:
      description: Get a RequestTermination plugin
      operationId: get-requesttermination-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTerminationPlugin'
          description: RequestTermination plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a RequestTermination plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTermination#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a RequestTermination plugin
      operationId: update-requesttermination-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestTerminationPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTerminationPlugin'
          description: RequestTermination plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a RequestTermination plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTermination#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#RequestTransformer:
    delete:
      description: Delete a RequestTransformer plugin
      operationId: delete-requesttransformer-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a RequestTransformer plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTransformer#delete
    get:
      description: Get a RequestTransformer plugin
      operationId: get-requesttransformer-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTransformerPlugin'
          description: RequestTransformer plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a RequestTransformer plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTransformer#read
    parameters:
      - $ref: '#/components/parameters/PluginId'
      - $ref: '#/components/parameters/ControlPlaneId'
    put:
      description: Update a RequestTransformer plugin
      operationId: update-requesttransformer-plugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestTransformerPlugin'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTransformerPlugin'
          description: RequestTransformer plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Update a RequestTransformer plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTransformer#update
  /v2/control-planes/{controlPlaneId}/core-entities/plugins/{PluginId}#RequestTransformerAdvanced:
    delete:
      description: Delete a RequestTransformerAdvanced plugin
      operationId: delete-requesttransformeradvanced-plugin
      responses:
        '204':
          description: Successfully deleted Plugin or the resource didn't exist
        '401':
          $ref: '#/components/responses/HTTP401Error'
      summary: Delete a RequestTransformerAdvanced plugin
      tags:
        - Plugins
      x-speakeasy-entity-operation: GatewayPluginRequestTransformerAdvanced#delete
    get:
      description: Get a RequestTransformerAdvanced plugin
      operationId: get-requesttransformeradvanced-plugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestTransformerAdvancedPlugin'
          description: RequestTransformerAdvanced plugin
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      summary: Get a RequestTransformerAdvanced plugin
      tags:
        - Plugins
[...]
