openapi: 3.1.0
info:
  title: Konnect API
  version: 2.0.0
  description: The Konnect platform API
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
paths:
  /v2/dcr-providers:
    post:
      x-speakeasy-entity-operation: DcrProvider#create
      operationId: create-dcr-provider
      summary: Create DCR provider
      description: Creates a DCR provider.
      requestBody:
        $ref: '#/components/requestBodies/CreateDcrProvider'
      responses:
        '201':
          $ref: '#/components/responses/CreateDcrProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - DCR Providers
  '/v2/dcr-providers/{dcrProviderId}':
    parameters:
      - $ref: '#/components/parameters/DcrProviderId'
    get:
      x-speakeasy-entity-operation: DcrProvider#read
      operationId: get-dcr-provider
      summary: Fetch DCR provider
      description: Returns a DCR provider.
      responses:
        '200':
          $ref: '#/components/responses/GetDcrProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - DCR Providers
    patch:
      x-speakeasy-entity-operation: DcrProvider#update
      operationId: update-dcr-provider
      summary: Update DCR provider
      description: Updates a DCR provider.
      requestBody:
        $ref: '#/components/requestBodies/UpdateDcrProvider'
      responses:
        '200':
          $ref: '#/components/responses/GetDcrProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - DCR Providers
    delete:
      x-speakeasy-entity-operation: DcrProvider#delete
      operationId: delete-dcr-provider
      summary: Delete DCR provider
      description: Deletes a DCR provider.
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - DCR Providers
components:
  parameters:
    DcrProviderId:
      name: dcrProviderId
      description: DCR provider identifier
      in: path
      required: true
      x-speakeasy-match: id
      schema:
        $ref: '#/components/schemas/UUID'
  schemas:
    DcrConfigPropertyInitialClientId:
      description: |
        This ID should be copied from your identity provider's settings after you create a client
        and assign it as the management client for DCR for this developer portal
      type: string
      maxLength: 256
      title: DcrConfigPropertyInitialClientId
    DcrConfigPropertyInitialClientSecret:
      description: |
        This secret should be copied from your identity provider's settings after you create a client
        and assign it as the management client for DCR for this developer portal
      type: string
      maxLength: 256
      title: DcrConfigPropertyInitialClientSecret
    DcrConfigPropertyDcrToken:
      description: |
        This secret should be copied from your identity provider's settings after you create a client
        and assign it as the management client for DCR for this developer portal
      type: string
      maxLength: 256
      title: DcrConfigPropertyInitialDcrToken
    DcrConfigPropertyInitialClientAudience:
      description: |
        This is the audience value used for the initial client.
        If using a custom domain on Auth0, this must be set as to the Auth0 Management API audience value.
        If left blank, the issuer will be used instead.
      type: string
      maxLength: 256
      nullable: true
      title: DcrConfigPropertyInitialClientAudience
    DcrConfigPropertyApiKey:
      description: |
        This is the API Key that will be sent with each HTTP request to the custom DCR server. It can be
        verified on the server to ensure that incoming requests are coming from Konnect.
      type: string
      maxLength: 256
      minLength: 12
      pattern: '^[a-zA-Z0-9_]+$'
      title: DcrConfigPropertyApiKey
    DcrConfigPropertyDisableEventHooks:
      description: This flag disables all the event-hooks on the application flow for the DCR provider.
      type: boolean
      title: DcrConfigPropertyDisableEventHooks
    DcrConfigPropertyDisableRefreshSecret:
      description: This flag disable the refresh-secret endpoint on the application flow for the DCR provider.
      type: boolean
      title: DcrConfigPropertyDisableRefreshSecret
    DcrConfigAuth0InResponse:
      description: A DCR provider configuration for Auth0
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
        initial_client_audience:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientAudience'
        use_developer_managed_scopes:
          type: boolean
      additionalProperties: false
      required:
        - initial_client_id
        - initial_client_audience
        - use_developer_managed_scopes
      title: DcrConfigAuth0InResponse
    CreateDcrConfigAuth0InRequest:
      description: Payload to create an Auth0 DCR provider.
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
        initial_client_secret:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
        initial_client_audience:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientAudience'
        use_developer_managed_scopes:
          type: boolean
      additionalProperties: false
      required:
        - initial_client_id
        - initial_client_secret
      title: DcrConfigAuth0InRequest
    UpdateDcrConfigAuth0InRequest:
      description: Payload to update an Auth0 DCR provider.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        dcr_config:
          type: object
          properties:
            initial_client_id:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
            initial_client_secret:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
            initial_client_audience:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientAudience'
            use_developer_managed_scopes:
              type: boolean
      additionalProperties: false
      title: DcrConfigAuth0InRequest
      x-speakeasy-name-override: auth0
    DcrConfigAzureAdInResponse:
      description: A DCR provider configuration for Azure AD
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
      additionalProperties: false
      required:
        - initial_client_id
      title: DcrConfigAzureAdInResponse
    CreateDcrConfigAzureAdInRequest:
      description: Payload to create an Azure AD DCR provider.
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
        initial_client_secret:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
      additionalProperties: false
      required:
        - initial_client_id
        - initial_client_secret
      title: DcrConfigAzureAdInRequest
    UpdateDcrConfigAzureAdInRequest:
      description: Payload to update an Azure AD DCR provider.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        dcr_config:
          type: object
          properties:
            initial_client_id:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
            initial_client_secret:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
      additionalProperties: false
      title: DcrConfigAzureAdInRequest
      x-speakeasy-name-override: azureAd
    DcrConfigCurityInResponse:
      description: A DCR provider configuration for Curity
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
      additionalProperties: false
      required:
        - initial_client_id
      title: DcrConfigCurityInResponse
    CreateDcrConfigCurityInRequest:
      description: Payload to create a Curity DCR provider.
      type: object
      properties:
        initial_client_id:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
        initial_client_secret:
          $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
      additionalProperties: false
      required:
        - initial_client_id
        - initial_client_secret
      title: DcrConfigCurityInRequest
    UpdateDcrConfigCurityInRequest:
      description: Payload to update a Curity DCR provider.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        dcr_config:
          type: object
          properties:
            initial_client_id:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientId'
            initial_client_secret:
              $ref: '#/components/schemas/DcrConfigPropertyInitialClientSecret'
      additionalProperties: false
      title: DcrConfigCurityInRequest
      x-speakeasy-name-override: curity
    DcrConfigOktaInResponse:
      description: A DCR provider configuration for Okta
      type: object
      additionalProperties: false
      title: DcrConfigOktaInResponse
    CreateDcrConfigOktaInRequest:
      description: Payload to create an Okta DCR provider.
      type: object
      properties:
        dcr_token:
          $ref: '#/components/schemas/DcrConfigPropertyDcrToken'
      additionalProperties: false
      required:
        - dcr_token
      title: DcrConfigOktaInRequest
    UpdateDcrConfigOktaInRequest:
      description: Payload to update an Okta DCR provider.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        dcr_config:
          type: object
          properties:
            dcr_token:
              $ref: '#/components/schemas/DcrConfigPropertyDcrToken'
      additionalProperties: false
      title: DcrConfigOktaInRequest
      x-speakeasy-name-override: okta
    DcrConfigHttpInResponse:
      description: A DCR provider configuration for HTTP
      type: object
      properties:
        dcr_base_url:
          type: string
          format: url
        disable_event_hooks:
          $ref: '#/components/schemas/DcrConfigPropertyDisableEventHooks'
        disable_refresh_secret:
          $ref: '#/components/schemas/DcrConfigPropertyDisableRefreshSecret'
      additionalProperties: false
      required:
        - dcr_base_url
      title: DcrConfigHttpInResponse
    CreateDcrConfigHttpInRequest:
      description: Payload to create an HTTP DCR provider.
      type: object
      properties:
        dcr_base_url:
          $ref: '#/components/schemas/DcrBaseUrl'
        api_key:
          $ref: '#/components/schemas/DcrConfigPropertyApiKey'
        disable_event_hooks:
          $ref: '#/components/schemas/DcrConfigPropertyDisableEventHooks'
        disable_refresh_secret:
          $ref: '#/components/schemas/DcrConfigPropertyDisableRefreshSecret'
      additionalProperties: false
      required:
        - dcr_base_url
        - api_key
      title: CreateDcrConfigHttpInRequest
    UpdateDcrConfigHttpInRequest:
      description: Payload to update an HTTP DCR provider.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        dcr_config:
          type: object
          properties:
            dcr_base_url:
              $ref: '#/components/schemas/DcrBaseUrl'
            api_key:
              $ref: '#/components/schemas/DcrConfigPropertyApiKey'
            disable_event_hooks:
              $ref: '#/components/schemas/DcrConfigPropertyDisableEventHooks'
            disable_refresh_secret:
              $ref: '#/components/schemas/DcrConfigPropertyDisableRefreshSecret'
      additionalProperties: false
      title: CreateDcrConfigHttpInRequest
      x-speakeasy-name-override: http
    DcrProviderType:
      description: 'The type of DCR provider. Can be one of the following - auth0, azureAd, curity, okta, http'
      type: string
      enum:
        - auth0
        - azureAd
        - curity
        - okta
        - http
      title: DcrProviderType
    DcrProviderBase:
      description: Properties common to all DCR Providers.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        provider_type:
          description: 'The type of DCR provider. Can be one of the following - auth0, azureAd, curity, okta, http'
          type: string
        issuer:
          description: The issuer of the DCR provider.
          type: string
          format: url
          maxLength: 256
        active:
          description: At least one active auth strategy is using this DCR provider.
          type: boolean
          readOnly: true
        dcr_config:
          description: The DCR configuration for this DCR provider.
          type: object
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      discriminator:
        propertyName: provider_type
        mapping:
          auth0: '#/components/schemas/DcrProviderAuth0'
          azureAd: '#/components/schemas/DcrProviderAzureAd'
          curity: '#/components/schemas/DcrProviderCurity'
          okta: '#/components/schemas/DcrProviderOkta'
          http: '#/components/schemas/DcrProviderHttp'
      required:
        - id
        - name
        - provider_type
        - issuer
        - active
        - dcr_config
        - created_at
        - updated_at
    DcrProviderAuth0:
      allOf:
        - $ref: '#/components/schemas/DcrProviderBase'
        - type: object
          description: A DCR provider for Auth0 -- only properties not included in DcrProviderBase
          required:
            - provider_type
            - dcr_config
          properties:
            provider_type:
              type: string
              enum:
                - auth0
            dcr_config:
              $ref: '#/components/schemas/DcrConfigAuth0InResponse'
      title: DCR provider - Auth0
    DcrProviderAzureAd:
      allOf:
        - $ref: '#/components/schemas/DcrProviderBase'
        - type: object
          description: A DCR provider for Azure AD -- only properties not included in DcrProviderBase
          required:
            - provider_type
            - dcr_config
          properties:
            provider_type:
              type: string
              enum:
                - azureAd
            dcr_config:
              $ref: '#/components/schemas/DcrConfigAzureAdInResponse'
      title: DCR provider - Azure AD
    DcrProviderCurity:
      allOf:
        - $ref: '#/components/schemas/DcrProviderBase'
        - type: object
          description: A DCR provider for Curity -- only properties not included in DcrProviderBase
          required:
            - provider_type
            - dcr_config
          properties:
            provider_type:
              type: string
              enum:
                - curity
            dcr_config:
              $ref: '#/components/schemas/DcrConfigCurityInResponse'
      title: DCR provider - Curity
    DcrProviderOkta:
      allOf:
        - $ref: '#/components/schemas/DcrProviderBase'
        - type: object
          description: A DCR provider for Okta -- only properties not included in DcrProviderBase
          required:
            - provider_type
            - dcr_config
          properties:
            provider_type:
              type: string
              enum:
                - okta
            dcr_config:
              $ref: '#/components/schemas/DcrConfigOktaInResponse'
      title: DCR provider - OKTA
    DcrProviderHttp:
      allOf:
        - $ref: '#/components/schemas/DcrProviderBase'
        - type: object
          description: A DCR provider for HTTP -- only properties not included in DcrProviderBase
          required:
            - provider_type
            - dcr_config
          properties:
            provider_type:
              type: string
              enum:
                - http
            dcr_config:
              $ref: '#/components/schemas/DcrConfigHttpInResponse'
      title: DCR provider - HTTP
    CreateDcrProviderResponse:
      x-speakeasy-entity: DcrProvider
      description: A response containing the newly created DCR provider object.
      type: object
      discriminator:
        propertyName: provider_type
        mapping:
          auth0: '#/components/schemas/DcrProviderAuth0'
          azureAd: '#/components/schemas/DcrProviderAzureAd'
          curity: '#/components/schemas/DcrProviderCurity'
          okta: '#/components/schemas/DcrProviderOkta'
          http: '#/components/schemas/DcrProviderHttp'
      oneOf:
        - $ref: '#/components/schemas/DcrProviderAuth0'
        - $ref: '#/components/schemas/DcrProviderAzureAd'
        - $ref: '#/components/schemas/DcrProviderCurity'
        - $ref: '#/components/schemas/DcrProviderOkta'
        - $ref: '#/components/schemas/DcrProviderHttp'
    DcrProviderResponse:
      x-speakeasy-entity: DcrProvider
      description: A response containing a single DCR provider object. Sensitive fields will be removed from the response.
      type: object
      discriminator:
        propertyName: provider_type
        mapping:
          auth0: '#/components/schemas/DcrProviderAuth0'
          azureAd: '#/components/schemas/DcrProviderAzureAd'
          curity: '#/components/schemas/DcrProviderCurity'
          okta: '#/components/schemas/DcrProviderOkta'
          http: '#/components/schemas/DcrProviderHttp'
      oneOf:
        - $ref: '#/components/schemas/DcrProviderAuth0'
        - $ref: '#/components/schemas/DcrProviderAzureAd'
        - $ref: '#/components/schemas/DcrProviderCurity'
        - $ref: '#/components/schemas/DcrProviderOkta'
        - $ref: '#/components/schemas/DcrProviderHttp'
    CreateDcrProviderRequestAuth0:
      description: Request body for creating an Auth0 DCR provider.
      type: object
      properties:
        provider_type:
          type: string
          enum:
            - auth0
        dcr_config:
          $ref: '#/components/schemas/CreateDcrConfigAuth0InRequest'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - provider_type
        - dcr_config
        - name
        - issuer
      title: CreateDcrProviderRequestAuth0
    CreateDcrProviderRequestAzureAd:
      description: Request body for creating an Azure AD DCR provider.
      type: object
      properties:
        provider_type:
          type: string
          enum:
            - azureAd
        dcr_config:
          $ref: '#/components/schemas/CreateDcrConfigAzureAdInRequest'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - provider_type
        - dcr_config
        - name
        - issuer
      title: CreateDcrProviderRequestAzureAd
    CreateDcrProviderRequestCurity:
      description: Request body for creating a Curity DCR provider.
      type: object
      properties:
        provider_type:
          type: string
          enum:
            - curity
        dcr_config:
          $ref: '#/components/schemas/CreateDcrConfigCurityInRequest'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - provider_type
        - dcr_config
        - name
        - issuer
      title: CreateDcrProviderRequestCurity
    CreateDcrProviderRequestOkta:
      description: Request body for creating an Okta DCR provider.
      type: object
      properties:
        provider_type:
          type: string
          enum:
            - okta
        dcr_config:
          $ref: '#/components/schemas/CreateDcrConfigOktaInRequest'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - provider_type
        - dcr_config
        - name
        - issuer
      title: CreateDcrProviderRequestOkta
    CreateDcrProviderRequestHttp:
      description: Request body for creating an HTTP DCR provider.
      type: object
      properties:
        provider_type:
          type: string
          enum:
            - http
        dcr_config:
          $ref: '#/components/schemas/CreateDcrConfigHttpInRequest'
        name:
          $ref: '#/components/schemas/DcrProviderName'
        display_name:
          $ref: '#/components/schemas/DcrProviderDisplayName'
        issuer:
          type: string
          format: url
          maxLength: 256
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - provider_type
        - dcr_config
        - name
        - issuer
      title: CreateDcrProviderRequestHttp
    CreateDcrProviderRequest:
      x-speakeasy-entity: DcrProvider
      description: Request body for creating a DCR provider. The provider_type cannot be updated after creation.
      type: object
      discriminator:
        propertyName: provider_type
        mapping:
          auth0: '#/components/schemas/CreateDcrProviderRequestAuth0'
          azureAd: '#/components/schemas/CreateDcrProviderRequestAzureAd'
          curity: '#/components/schemas/CreateDcrProviderRequestCurity'
          okta: '#/components/schemas/CreateDcrProviderRequestOkta'
          http: '#/components/schemas/CreateDcrProviderRequestHttp'
      oneOf:
        - $ref: '#/components/schemas/CreateDcrProviderRequestAuth0'
        - $ref: '#/components/schemas/CreateDcrProviderRequestAzureAd'
        - $ref: '#/components/schemas/CreateDcrProviderRequestCurity'
        - $ref: '#/components/schemas/CreateDcrProviderRequestOkta'
        - $ref: '#/components/schemas/CreateDcrProviderRequestHttp'
      title: CreateDcrProviderRequest
    UpdateDcrProviderRequest:
      x-speakeasy-entity: DcrProvider
      description: A set of updates to a DCR provider. The provider_type cannot be updated after creation.
      type: object
      additionalProperties: false
      oneOf:
        - $ref: '#/components/schemas/UpdateDcrConfigAuth0InRequest'
        - $ref: '#/components/schemas/UpdateDcrConfigAzureAdInRequest'
        - $ref: '#/components/schemas/UpdateDcrConfigCurityInRequest'
        - $ref: '#/components/schemas/UpdateDcrConfigOktaInRequest'
        - $ref: '#/components/schemas/UpdateDcrConfigHttpInRequest'
      title: UpdateDcrProviderRequest
    DcrBaseUrl:
      description: |
        The base URL of the DCR server. This is the URL that will be used to make the HTTP requests from Konnect to the DCR provider.
        This URL must be accessible from the Konnect service.
      type: string
      format: url
      maxLength: 256
    DcrProviderDisplayName:
      description: |
        The display name of the DCR provider. This is used to identify the DCR provider in the Portal UI.
      type: string
      maxLength: 256
      minLength: 1
    DcrProviderName:
      description: |
        The name of the DCR provider. This is used to identify the DCR provider in the Konnect UI.
      type: string
      maxLength: 256
      minLength: 1
    UUID:
      description: Contains a unique identifier used by the API for this resource.
      type: string
      format: uuid
      example: 5f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      readOnly: true
    Labels:
      description: |
        Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. 

        Keys must be of length 1-63 characters, and cannot start with "kong", "konnect", "mesh", "kic", or "_".
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
      maxProperties: 50
      title: Labels
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          type: integer
          readOnly: true
        title:
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          type: string
          readOnly: true
        detail:
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
      required:
        - status
        - title
        - instance
        - detail
      title: Error
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
        - required
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - is_fqdn
        - is_arn
        - unknown_property
        - missing_reference
        - is_label
        - matches_regex
        - invalid
        - is_supported_network_availability_zone_list
        - is_supported_network_cidr_block
        - is_supported_provider_region
      nullable: true
      readOnly: true
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - min_length
            - min_digits
            - min_lowercase
            - min_uppercase
            - min_symbols
            - min_items
            - min
          nullable: false
          readOnly: true
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - minimum
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - max_length
            - max_items
            - max
          nullable: false
          readOnly: true
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - maximum
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - choices
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/InvalidParameterStandard'
          - $ref: '#/components/schemas/InvalidParameterMinimumLength'
          - $ref: '#/components/schemas/InvalidParameterMaximumLength'
          - $ref: '#/components/schemas/InvalidParameterChoiceItem'
          - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          required:
            - invalid_parameters
          properties:
            invalid_parameters:
              $ref: '#/components/schemas/InvalidParameters'
    UnauthorizedError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 401
            title:
              example: Unauthorized
            type:
              example: 'https://httpstatuses.com/401'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Invalid credentials
    ForbiddenError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 403
            title:
              example: Forbidden
            type:
              example: 'https://httpstatuses.com/403'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Forbidden
    NotFoundError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 404
            title:
              example: Not Found
            type:
              example: 'https://httpstatuses.com/404'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Not found
    LabelsUpdate:
      description: |
        Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. 

        Labels are intended to store **INTERNAL** metadata.

        Keys must be of length 1-63 characters, and cannot start with "kong", "konnect", "mesh", "kic", or "_".
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
        nullable: true
      maxProperties: 50
      nullable: true
      writeOnly: true
    ConflictError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 409
            title:
              example: Conflict
            type:
              example: 'https://httpstatuses.com/409'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Conflict
  requestBodies:
    CreateDcrProvider:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateDcrProviderRequest'
    UpdateDcrProvider:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateDcrProviderRequest'
    CreateAppAuthStrategy:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAppAuthStrategyRequest'
    UpdateAppAuthStrategy:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAppAuthStrategyRequest'
  responses:
    CreateDcrProvider:
      description: A response containing the newly created DCR provider object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateDcrProviderResponse'
    GetDcrProvider:
      description: A response containing a single DCR provider object. Sensitive fields will be removed from the response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DcrProviderResponse'
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
tags:
  - name: DCR Providers
    description: |
      Dynamic Client Registration Providers are configurations representing an external Identity Provider whose clients (i.e. Applications) Konnect will be authorized to manage.
      For instance, they will be able to perform dynamic client registration (DCR) with the provider. 
      The DCR provider provides credentials to each DCR-enabled application in Konnect that can be used to access Product Versions that the app is registered for.
