openapi: 3.0.3
info:
    title: Konnect Mesh Control Plane manager
    description: Control Plane manager API
    version: '0.0.1'
    contact:
      name: Kong
      url: 'https://konghq.com'
servers:
  - url: https://us.api.konghq.com/v1
    description: US Public API
  - url: https://eu.api.konghq.com/v1
    description: EU Public API
paths:
  /mesh/control-planes:
    get:
      summary: List Control Planes
      responses:
        '200':
          $ref: '#/components/responses/ListMeshControlPlanesResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
      operationId: list-mesh-control-planes
      description: Returns an array of control planes objects.
    post:
      summary: Create a new control plane
      description: Create a new control plane
      operationId: create-cp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeshControlPlaneRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/CreateMeshControlPlaneRequestExample'
      responses:
        '201':
          $ref: '#/components/responses/CreateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/CreateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
  /mesh/control-planes/{cpId}:
    parameters:
    - name: cpId
      in: path
      required: true
      description: Id of the Konnect resource
      example: bf138ba2-c9b1-4229-b268-04d9d8a6410b
      schema:
        type: string
        format: uuid # validation happens via KinConfig()
    get:
      summary: Get the control plane
      description: Get the control plane
      operationId: get-mesh-control-plane
      responses:
        '200':
          $ref: '#/components/responses/RetrieveMeshControlPlaneResponse'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
    delete:
      summary: Delete the control plane
      description: Delete the control plane
      operationId: delete-mesh-control-plane
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
    patch:
      summary: Update control plane
      operationId: update-mesh-control-plane
      responses:
        '200':
          $ref: '#/components/responses/UpdateMeshControlPlaneResponse'
        '400':
          $ref: '#/components/responses/UpdateMeshControlPlaneValidationError'
        '401':
          $ref: '#/components/responses/MeshControlPlaneUnauthorizedError'
        '403':
          $ref: '#/components/responses/MeshControlPlaneForbiddenError'
        '404':
          $ref: '#/components/responses/MeshControlPlaneNotFoundError'
      description: Update an individual control plane.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeshControlPlaneRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/UpdateMeshControlPlaneRequestExample'
components:
  securitySchemes:
    personalAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
    systemAccountAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken'
  schemas:
    MeshControlPlaneLabels:
      title: 'Labels'
      type: object
      nullable: true
      example:
        test: 'true'
      description: Labels to facilitate tagged search on control planes. Keys must be of length 1-63 characters.
      maxProperties: 10
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z\-\.\_]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
    MeshControlPlane:
      type: object
      title: ControlPlane
      description: a control plane
      required:
      - id
      - name
      - updated_at
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: ID of the control plane.
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
          readOnly: true
        name:
          type: string
          example: Test control plane
          description: The name of the control plane.
        description:
          type: string
          example: A control plane to handle traffic on development environment.
        labels:
          $ref: '#/components/schemas/MeshControlPlaneLabels'
        created_at:
          type: string
          format: date-time
          example: '2023-01-11T02:30:42.227Z'
        updated_at:
          type: string
          format: date-time
          example: '2023-01-11T02:30:42.227Z'
    CreateMeshControlPlaneRequest:
      type: object
      title: CreateMeshControlPlaneRequest
      description: a payload to create a control plane
      required:
        - name
      additionalProperties: false
      properties:
        name:
          type: string
          example: Test control plane
          description: The name of the control plane.
          minLength: 1
        description:
          type: string
          example: A control plane to handle traffic on development environment.
        labels:
          $ref: '#/components/schemas/MeshControlPlaneLabels'
    UpdateMeshControlPlaneRequest:
      type: object
      title: UpdateMeshControlPlaneRequest
      description: a payload to update the control plane
      properties:
        name:
          type: string
          example: Test control plane
          description: The name of the control plane.
        description:
          type: string
          example: A control plane to handle traffic on development environment.
        labels:
          $ref: '#/components/schemas/MeshControlPlaneLabels'
    Error:
      type: object
      title: Error
      description: standard error
      x-examples:
        Example 1:
          status: 404
          title: Not Found
          type: https://kongapi.info/konnect/not-found
          instance: 'konnect:trace:1743681895576515406'
          detail: The requested control-plane was not found
      required:
      - status
      - title
      - instance
      properties:
        # this probably could be reused
        invalid_parameters:
          type: array
          description: An array of objects that contains information related to the error response.
          items:
            type: object
            properties:
              field:
                type: string
              reason:
                type: string
              rule:
                type: string
        status:
          type: integer
          description: The HTTP status code.
          example: 404
        title:
          type: string
          description: The error response code.
          example: Not Found
        type:
          type: string
          description: The error type.
          example: Not Found
        instance:
          type: string
          example: 'konnect:trace:*'
          description: The konnect traceback code
        detail:
          type: string
          example: The requested control-plane was not found
          description: Details about the error.
  responses:
    RetrieveMeshControlPlaneResponse:
      description: A response to creating a control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MeshControlPlane'
          examples:
            Single control plane response:
              $ref: '#/components/examples/ControlPlaneExample'
    CreateMeshControlPlaneResponse:
      description: A response to creating a control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MeshControlPlane'
          examples:
            Create Control Plane Response:
              $ref: '#/components/examples/ControlPlaneExample'
    CreateMeshControlPlaneValidationError:
      description: Validation Error
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            "Missing Field":
              value:
                status: 400
                type: https://kongapi.info/konnect/bad-request
                title: Bad Request
                instance: konnect:trace:6480643114111646299
                detail: ''
                invalid_parameters:
                  - field: name
                    reason: property "name" is missing
                    source: ''
            "Empty Field":
              value:
                status: 400
                type: https://kongapi.info/konnect/bad-request
                title: Bad Request
                instance: konnect:trace:6480643114111646299
                detail: ''
                invalid_parameters:
                  - field: name
                    reason: Value is not nullable
                    source: ''
    UpdateMeshControlPlaneValidationError:
      description: Validation Error
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            "Empty Field":
              value:
                status: 400
                title: Bad Request
                type: https://kongapi.info/konnect/bad-request
                instance: konnect:trace:6480643114111646299
                detail: ''
                invalid_parameters:
                  - field: name
                    reason: Value is not nullable
                    source: ''
    MeshControlPlaneForbiddenError:
      description: Permission denied
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/ForbiddenError'
          examples:
            "Invalid token":
              value:
                status: 403
                type: https://kongapi.info/konnect/unauthorized
                title: Forbidden
                instance: konnect:trace:881615734723181661
                detail: Permission denied
    MeshControlPlaneUnauthorizedError:
      description: Unauthorized Error
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/UnauthorizedError'
          examples:
            "Invalid token":
              value:
                status: 401
                type: https://kongapi.info/konnect/unauthenticated
                title: Unauthenticated
                instance: konnect:trace:4497422055499297627
                detail: A valid token is required
    MeshControlPlaneNotFoundError:
      description: Not found
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/NotFoundError'
          examples:
            "Invalid token":
              value:
                status: 404
                type: https://kongapi.info/konnect/not-found
                title: Not Found
                instance: konnect:trace:369660938739689085
                detail: The requested requested entity was not found was not found
    UpdateMeshControlPlaneResponse:
      description: A response to updating a control plane.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MeshControlPlane'
          examples:
            Update Control Plane Response:
              $ref: '#/components/examples/ControlPlaneExample'
    ListMeshControlPlanesResponse:
      description: A paginated list response for a collection of control planes.
      content:
        application/json:
          schema:
            title: 'ListMeshControlPlanesResponse'
            type: object
            properties:
              meta:
                $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/MeshControlPlane'
          examples:
            Control Plane Collection:
              value:
                meta:
                  page:
                    size: 1
                    total: 10
                data:
                  - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
                    name: Test Control Plane
                    description: A test control plane for exploration.
                    labels:
                      test: 'true'
                    created_at: '2022-11-04T20:10:06.927Z'
                    updated_at: '2022-11-04T20:10:06.927Z'
  examples:
    ControlPlaneExample:
      value:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: Test Control Plane
        description: A test control plane for exploration.
        labels:
          test: 'true'
        created_at: '2022-11-04T20:10:06.927Z'
        updated_at: '2022-11-04T20:10:06.927Z'
    CreateMeshControlPlaneRequestExample:
      value:
        name: 'Test Control Plane'
        description: A test control plane for exploration.
        labels:
          test: 'true'
    UpdateMeshControlPlaneRequestExample:
      value:
        name: 'Test Control Plane'
        description: A test control plane for exploration.
        labels:
          test: 'true'
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
