openapi: 3.0.3
info:
  title: Portal Management
  version: 0.1.0
  description: 'The management API for Portals'
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Base URL
paths:
  '/portals':
    get:
      summary: List Portals
      description: |-
        Returns a list of developer portals defined in this region for this organization. Each developer portal is available at a unique address and has isolated appearance, configuration, developers, and applications.
      operationId: list-portals
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
      responses:
        '200':
          $ref: '#/components/responses/ListPortals'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
    # post:
    #   summary: Create a Portal
    #   description: |-
    #     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    #     tempor incididunt ut labore et dolore magna aliqua.
    #   operationId: create-portal
    #   x-unstable: true
    #   x-internal: true
    #   tags:
    #   - Portals
    #   responses:
    #     '201':
    #       $ref: '#/components/responses/CreatePortal'
    #     '400':
    #       $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
    #     '401':
    #       $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
    #     '403':
    #       $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  '/portals/{portalId}':
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      summary: Get One Portal
      description: |-
        Returns the configuration for a single developer portal. This allows you to understand the current visibility and domain settings.
      operationId: get-portal
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetPortal'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    patch:
      summary: Update One Portal
      description: |-
        Updates the configuration for a single portal including the visibility and custom domain settings.
      operationId: update-portal
      x-unstable: true
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortal'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/products':
    get:
      summary: List Portal Products
      operationId: list-portal-products
      x-unstable: true
      x-internal: true
      description: |-
        Lists all of the API Products that are published to this developer portal. An API Product packages together associated APIs and their operations, backed by thorough documentation, with the objective of making API consumption straightforward for developers
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
      tags:
      - Portals
      responses:
          '200':
            $ref: '#/components/responses/ListPortalProducts'
          '400':
            $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
          '401':
            $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
          '403':
            $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
          '404':
            $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'

  # TODO: this will ported over from the portal-rbac v2 OAS with TDX-3291
  # '/portals/{portalId}/developers':
  #   get:
  #     summary: List Developers
  #     description: |-
  #       List all of the Developers that have registered for this Portal. Each Developer can be registered to one Portal and must be approved to login unless using the Developer auto-approve setting.
  #     operationId: list-developers
  #     x-unstable: true
  #     x-internal: true
  #     parameters:
  #       - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
  #       - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
  #       - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
  #       - $ref: '#/components/parameters/FilterDevelopersByEmail'
  #       - $ref: '#/components/parameters/FilterDevelopersByName'
  #       - $ref: '#/components/parameters/FilterDevelopersByNameShort'
  #       - $ref: '#/components/parameters/SortDevelopers'
  #     tags:
  #     - Portals
  #     responses:
  #       '200':
  #         $ref: '#/components/responses/ListDevelopers'
  #       '400':
  #         $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
  #       '401':
  #         $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
  #       '403':
  #         $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  #       '404':
  #         $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/developers/{developerId}':
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      summary: Get One Developer
      description: |-
        Gets information about a single Developer in this portal.
      operationId: get-one-developer
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '#/components/parameters/DeveloperId'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    patch:
      summary: Update One Developer
      description: |-
        Updates the status of a particular developer. Approved developers have access to login to the portal. Revoked, Rejected, or Pending are not allowed to login.
      operationId: update-developer
      x-unstable: true
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    delete:
      summary: Delete One Developer
      description: |-
        Deletes a developer, which will discontinue their ability to login or view any resources. They must re-register to and be approved to gain access again.
      operationId: delete-developer
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      responses:
        '204':
          description: No Content
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/applications':
    get:
      summary: List Applications
      description: |-
        List all of the Applications that have been created by Developers in this Portal. Each Application can be registered to one or more API Product Versions which means that API Requests can be made to the API Product Version using credentials from the Application.
      operationId: list-applications
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/FilterApplicationByName'
        - $ref: '#/components/parameters/FilterApplicationByNameShort'
        - $ref: '#/components/parameters/FilterByDeveloperId'
        - $ref: '#/components/parameters/SortApplications'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/applications/{applicationId}':
    get:
      summary: Get One Application
      description: |-
        Gets the configuration of a single Application in this portal.
      operationId: get-one-application
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/application-registrations':
     get:
      summary: List Application Registrations by Portal
      description: |-
        Lists all of the Application Registrations and their current status (e.g. approved or pending) for this Portal. Approved applications can be used by Developers to register for one or more API Product Versions which allows API requests to be made successfully.
      operationId: list-registrations
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/FilterApplicationRegistrationByStatusShort'
        - $ref: '#/components/parameters/FilterApplicationRegistrationByStatus'
        - $ref: '#/components/parameters/FilterByDeveloperId'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/applications/{applicationId}/registrations':
     get:
      summary: List Registrations by Application
      description: |-
        Lists all of the API Products that this Application has registered for and their current status (e.g. "pending", "approved", "rejected").
      operationId: list-registrations-by-application
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/FilterApplicationRegistrationByStatusShort'
        - $ref: '#/components/parameters/FilterApplicationRegistrationByStatus'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/applications/{applicationId}/registrations/{registrationId}':
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      summary: Get One Application Registration
      description: |-
        Gets the detailed information about the registration status of an Application for a Particular API Product Version.
      operationId: get-one-application-registration
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    patch:
      summary: Update One Application Registration
      description: |-
        Updates the status of a particular application registration to an API Product Version. Approved application registrations will allow API traffic to the corresponding API. Revoked, Rejected, or Pending will not allow API traffic.
      operationId: update-application-registration
      x-unstable: true
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    delete:
      summary: Delete One Application Registration
      description: |-
        Deletes an application registration, which if currently approved will immediately block API traffic to the API Product Version. Note: Developers can request a new Application Registration.
      operationId: delete-application-registration
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      responses:
        '204':
          description: No Content
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/appearance-defaults':
    get:
      summary: Get Default Appearance Configurations
      description: |-
        Returns the default Portal appearance configuration including pre-defined theme, color, and font configurations.
      operationId: get-portal-appearance-defaults
      x-unstable: true
      x-internal: true
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetAppearanceDefaults'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/appearance':
    get:
      summary: Get Appearance Configuration
      description: |-
        Returns the current Portal appearance configuration including pre-defined theme, colors, and font configurations. Portals using the fully-customizable portal client may override or ignore these settings.
      operationId: get-portal-appearance
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetPortalAppearance'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    patch:
      summary: Update Appearance Configuration
      description: |-
        Updates the current appearance configuration for this portal including themes, fonts, and colors. Note that portals using the fully-customizable portal client may override these settings.
      operationId: update-portal-appearance
      x-unstable: true
      x-internal: true
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAppearance'
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortalAppearance'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  '/portals/{portalId}/verify-domain':
    post:
      summary: Verify Custom Domains
      description: |-
        Verifies the current status of the custom hosted domain for this portal. It will indicate whether the appropriate CNAME properties have propagated and that a corresponding SSL certificate has been generated.
      operationId: verify-portal-domains
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      tags:
      - Portals
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortalDomains'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
  /portals/{portalId}/authentication-settings:
    parameters:
    - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Get Auth Settings
      description: 'Returns authentication configuration, which determines how users can log in and how they are assigned to teams.'
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
    patch:
      x-unstable: true
      summary: Update Auth Settings
      description: Updates authentication configuration.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  /portals/{portalId}/identity-provider/team-group-mappings:
    parameters:
    - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Fetch Team Group Mappings
      operationId: get-portal-team-group-mappings
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
      description: |-
        Retrieves the mappings between Konnect Portal Teams and Identity Provider Groups.
        Returns a 400 error if an Identity Provider has not yet been configured.
    patch:
      x-unstable: true
      summary: Patch Mappings by Team ID
      operationId: patch-portal-team-group-mappings
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
      description: |-
        Allows partial updates to the mappings between Konnect Portal Teams and Identity Provider Groups.
        The request body must be keyed on team ID. For a given team ID, the given group list is a
        complete replacement. To remove all mappings for a given team, provide an empty group list.

        Returns a 400 error if an Identity Provider has not yet been configured, or if a team ID in
        the request body is not found or is not a UUID.
      requestBody:
        $ref: '#/components/requestBodies/PatchPortalTeamGroupMappings'
  /portals/{portalId}/teams:
    parameters:
    - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      summary: List Teams
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamCollection'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: list-portal-teams
      description: List the teams.
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              name:
                $ref: '../../../../../common/definitions/filters.yaml#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter teams returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Teams
    post:
      summary: Create Team
      operationId: create-portal-team
      responses:
        '201':
          $ref: '#/components/responses/PortalTeamSingle'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      tags:
        - Portal Teams
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      description: Create a team.
  /portals/{portalId}/teams/{teamId}:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/TeamId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      summary: Get Team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamSingle'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: get-portal-team
      description: Get an individual team.
      tags:
        - Portal Teams
    patch:
      summary: Update Team
      operationId: update-portal-team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamSingle'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      description: Update an individual team.
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      tags:
        - Portal Teams
    delete:
      summary: Delete Team
      operationId: delete-portal-team
      responses:
        '204':
          description: No Content
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      description: Deleting a team also deletes its assigned roles. Members of the team are not deleted.
      tags:
        - Portal Teams
  /portals/{portalId}/teams/{teamId}/developers:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/TeamId'
    get:
      summary: List Team Developers
      responses:
        '200':
          $ref: '#/components/responses/DeveloperCollection'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: list-portal-team-developers
      description: List a team's developers.
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
    post:
      summary: Add Developer
      operationId: add-developer-to-portal-team
      responses:
        '201':
          description: Created
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      description: Add a developer to a team.
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/developers/{developerId}:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/DeveloperId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/TeamId'
    delete:
      summary: Remove Developer from Team
      operationId: remove-developer-from-portal-team
      responses:
        '204':
          description: No Content
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      description: Remove a developer from a team.
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/assigned-roles:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/TeamId'
      - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
      - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
    get:
      summary: List Team Roles
      tags:
        - Portal Team Roles
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: list-portal-team-roles
      description: List the roles belonging to a team.
    post:
      summary: Assign Role
      operationId: portal-teams-assign-role
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRoleResponse'
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Conflict'
      description: Assign a role to a team.
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      tags:
        - Portal Team Roles
  /portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/RoleId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/TeamId'
    delete:
      summary: Remove Role
      operationId: portal-teams-remove-role
      responses:
        '204':
          description: No Content
        '400':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      tags:
        - Portal Team Roles
      description: Remove an assigned role from a team.
  /portals/{portalId}/developers:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      summary: List Developers
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/DeveloperCollection'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: list-portal-developers
      description: List the developers.
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
  /portals/{portalId}/developers/{developerId}/teams:
    parameters:
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/DeveloperId'
      - $ref: '../../../../../common/definitions/portal.yaml#/components/parameters/PortalId'
    get:
      summary: List Developer Teams
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamCollection'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      operationId: list-portal-developer-teams
      description: List the teams to which a developer belongs.
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      summary: List Portal Roles
      responses:
        '200':
          $ref: '#/components/responses/RolesDocument'
        '401':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
      operationId: list-portal-roles
      description: List roles that can be assigned to teams in a portal.
      tags:
        - Portal Roles
components:
  requestBodies:
    PortalUpdateTeam:
      description: The request schema for the update team request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalUpdateTeamRequest'
    PortalCreateTeam:
      description: The request schema for the create team request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalCreateTeamRequest'
    PatchPortalTeamGroupMappings:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeamGroupMappingsUpdateRequest'
    UpdatePortalAuthenticationSettings:
      description: The request schema to update an organization's authentication settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAuthenticationSettingsUpdateRequest'
    PortalAssignRole:
      description: Assign a role to a team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAssignRoleRequest'
    AddDeveloperToTeam:
      description: The request schema for adding a developer to a team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddDeveloperToTeamRequest'
    UpdatePortal:
      description: Update a portal
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalRequest'
    UpdateApplicationRegistration:
      description: Update an application registration
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateApplicationRegistrationRequest'
    UpdatePortalAppearance:
      description: Update a portal's appearance settings
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalAppearanceRequest'
    UpdateDeveloper:
      description: Update a developer
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateDeveloperRequest'
  parameters:
    DeveloperId:
      name: developerId
      in: path
      required: true
      description: The Developer Id
      schema:
        $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: The Application Id
      schema:
        $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
    RegistrationId:
      name: registrationId
      in: path
      required: true
      description: The Application registration Id
      schema:
        $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
    FilterDevelopersByEmail:
      name: 'filter[email][eq]'
      description: 'filters developers by their email'
      in: query
      required: false
      schema:
        type: string
    FilterDevelopersByName:
      name: 'filter[name][eq]'
      description: 'filters developers by their names'
      in: query
      required: false
      schema:
        type: string
    FilterDevelopersByNameShort:
      name: 'filter[name]'
      description: 'filters developers by their names (alias for filter[name][eq])'
      in: query
      required: false
      schema:
        type: string
    FilterApplicationByName:
      name: 'filter[name][eq]'
      description: 'filters an applications by their names'
      in: query
      required: false
      schema:
        type: string
    FilterApplicationByNameShort:
      name: 'filter[name]'
      description: 'filters applications by their names (alias for filter[name][eq])'
      in: query
      required: false
      schema:
        type: string
    FilterByDeveloperId:
      name: 'filter[developer_id]'
      description: "filters applications by their developer's id"
      in: query
      required: false
      schema:
        type: string
    FilterApplicationRegistrationByStatus:
      name: 'filter[status][eq]'
      description: 'filters application registrations by their statuses'
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/ApplicationRegistrationStatus'
    FilterApplicationRegistrationByStatusShort:
      name: 'filter[status]'
      description: 'filters application registrations by their statuses (alias for filter[status][eq])'
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/ApplicationRegistrationStatus'
    SortPortals:
      name: 'sort'
      description: |
        Sorts a collection of portals. Supported sort attributes are:
          - created_at
          - updated_at
      in: query
      required: false
      schema:
        type: string
    SortDevelopers:
      name: 'sort'
      description: |
        Sorts a collection of developers. Supported sort attributes are:
          - created_at
          - updated_at
          - email
          - name
      in: query
      required: false
      schema:
        type: string
    SortApplications:
      name: 'sort'
      description: |
        Sorts a collection of applications. Supported sort attributes are:
          - created_at
          - updated_at
          - developer_id
          - name
      in: query
      required: false
      schema:
        type: string
    SortApplicationRegistrations:
      name: 'sort'
      description: |
        Sorts a set of registration for an application. Supported sort attributes are:
          - created_at
          - updated_at
          - status
      in: query
      required: false
      schema:
        type: string
    SortListAllApplicationRegistrations:
      name: 'sort'
      description: |
        Sorts a collection of application registrations. Supported sort attributes are:
          - created_at
          - updated_at
          - developer_id
          - status
      in: query
      required: false
      schema:
        type: string
  responses:
    PortalTeamGroupMappingCollection:
      description: A paginated collection of mappings grouped by team_id.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/PortalTeamGroupMapping'
    PortalAuthenticationSettings:
      description: Response for authentication settings endpoint
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAuthenticationSettings'
    PortalAssignedRoleResponse:
      description: A get action response of a single assigned role.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAssignedRole'
          examples:
            US Example:
              value:
                id: 1a3c2169-27f8-4594-926b-41df3432d5dc
                role_name: API Viewer
                entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
                entity_type_name: Services
                entity_region: us
            All Regions Example:
              value:
                id: 034cb810-1f2d-40d2-a1ce-31944144668e
                role_name: API Consumer
                entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
                entity_type_name: Services
                entity_region: '*'
    PortalTeamSingle:
      description: A response including a single team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeam'
          examples:
            Example:
              value:
                id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
                name: Gold Tier
                description: Team with access to APIs in the Gold tier
                created_at: '2022-02-07T17:46:57.52Z'
                updated_at: '2022-09-25T13:00:00.00Z'
    AssignedPortalRoleCollection:
      description: A paginated collection of assigned roles.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignedPortalRoleCollection'
    PortalTeamCollection:
      description: A paginated list of teams.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeamCollection'
    RolesDocument:
      description: A set of roles available in portals.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RolesDocument'
    DeveloperCollection:
      description: A paginated list of developers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeveloperCollection'
    ListPortals:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalsResponse'
    ListPortalProducts:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalProductsResponse'
    GetPortal:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPortalResponse'
    CreatePortal:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatePortalResponse'
    UpdatePortal:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalResponse'
    VerifyPortalDomains:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VerifyPortalDomainsResponse'
    ListDevelopers:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListDevelopersResponse'
    GetDeveloper:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetDeveloperResponse'
    UpdateDeveloper:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateDeveloperResponse'
    ListApplications:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListApplicationsResponse'
    GetApplication:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetApplicationResponse'
    ListApplicationRegistrations:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListApplicationRegistrationsResponse'
    GetApplicationRegistration:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetApplicationRegistrationResponse'
    UpdateApplicationRegistration:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateApplicationRegistrationResponse'
    GetAppearanceDefaults:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetAppearanceDefaultsResponse'
    GetPortalAppearance:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPortalAppearanceResponse'
    UpdatePortalAppearance:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalAppearanceResponse'
  schemas:
    PortalClaimMappings:
      type: object
      minProperties: 0
      maxProperties: 3
      properties:
        name:
          type: string
          example: name
          default: name
        email:
          type: string
          example: email
          default: email
        groups:
          type: string
          default: groups
          example: custom-group-claim
    PortalOIDCConfig:
      type: object
      properties:
        issuer:
          type: string
        client_id:
          type: string
        scopes:
          type: array
          default:
            - email
            - openid
            - profile
          items:
            type: string
            default: openid
        claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
      required:
      - issuer
      - client_id
    PortalAuthenticationSettings:
      type: object
      properties:
        basic_auth_enabled:
          type: boolean
          example: true
          description: The organization has basic auth enabled.
        oidc_auth_enabled:
          type: boolean
          example: false
          description: The organization has OIDC disabled.
        oidc_team_mapping_enabled:
          type: boolean
          example: true
          description: IdP groups determine the Portal Teams a developer has.
        konnect_mapping_enabled:
          type: boolean
          example: false
          description: A Konnect Identity Admin assigns teams to a developer.
        oidc_config:
          $ref: '#/components/schemas/PortalOIDCConfig'
      required:
      - basic_auth_enabled
      - konnect_mapping_enabled
      - oidc_auth_enabled
      - oidc_team_mapping_enabled
    AssignedPortalRoleCollection:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalAssignedRole'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 100
        data:
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Viewer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type_name: Services
            entity_region: us
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Consumer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type: Services
            entity_region: us
          - id: 869d9402-f117-4f9a-840f-69acaf70a81a
            role_name: API Viewer
            entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
            entity_type_name: Services
            entity_region: us
    PortalTeamCollection:
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalTeam'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 10
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Partner
            description: Team with access to Partner APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
    RolesDocument:
      type: object
      properties:
        services:
          type: object
          required:
            - name
            - roles
          properties:
            name:
              type: string
              enum:
                - Services
            roles:
              type: object
              required:
                - apiviewer
                - apiconsumer
              properties:
                apiviewer:
                  type: object
                  required:
                    - name
                    - description
                  properties:
                    name:
                      type: string
                      enum:
                        - API Viewer
                    description:
                      type: string
                      enum:
                        - API Viewers have read-only access to the documentation of a service in a portal
                apiconsumer:
                  type: object
                  required:
                    - name
                    - description
                  properties:
                    name:
                      type: string
                      enum:
                        - API Consumer
                    description:
                      type: string
                      enum:
                        - API Consumers can make calls to the given service
      required:
        - services
      example:
        services:
          name: Services
          roles:
            apiviewer:
              name: API Viewer
              description: API Viewers have read-only access to the documentation of a service in a portal
            apiconsumer:
              name: API Consumer
              description: API Consumers can make calls to the given service
    DeveloperCollection:
      type: object
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Developer'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 10
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: james.woods@email.com
            full_name: James Woods
            preferred_name: Jimmy
            active: true
            created_at: '2022-08-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
    AddDeveloperToTeamRequest:
      type: object
      properties:
        id:
          type: string
          example: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
          format: uuid
          writeOnly: true
      required:
        - id
    PortalAssignRoleRequest:
      type: object
      description: An assigned role associates a service and an action to a team.
      properties:
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: e67490ce-44dc-4cbd-b65e-b52c746fc26a
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          enum:
            - us
            - eu
            - '*'
          example: eu
      example:
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAuthenticationSettingsUpdateRequest:
      type: object
      properties:
        basic_auth_enabled:
          type: boolean
          example: true
          description: The organization has basic auth enabled.
        oidc_auth_enabled:
          type: boolean
          example: false
          description: The organization has OIDC disabled.
        oidc_team_mapping_enabled:
          type: boolean
          example: true
          description: Whether IdP groups determine the Konnect Portal teams a developer has.
        konnect_mapping_enabled:
          type: boolean
          example: false
          description: Whether a Konnect Identity Admin assigns teams to a developer.
        oidc_issuer:
          type: string
        oidc_client_id:
          type: string
        oidc_client_secret:
          type: string
        oidc_scopes:
          type: array
          default:
            - email
            - openid
            - profile
          items:
            type: string
            default: openid
        oidc_claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
    PortalTeamGroupMappingsUpdateRequest:
      type: object
      example:
        data:
          - team_id: af91db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Developer
      properties:
        data:
          type: array
          description: The IdP groups to map to the given team.
          items:
            type: object
            properties:
              team_id:
                type: string
                format: uuid
              groups:
                type: array
                items:
                  type: string
    PortalUpdateTeamRequest:
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: '^[\w \W]+$'
          writeOnly: true
        description:
          type: string
          maxLength: 250
          example: The Identity Management (IDM) API team.
          writeOnly: true
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    PortalCreateTeamRequest:
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: '^[\w \W]+$'
          writeOnly: true
        description:
          type: string
          maxLength: 250
          example: The Identity Management (IDM) team.
          writeOnly: true
      required:
        - name
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) team.
    PortalTeam:
      title: Team
      type: object
      description: A team is a group of developers.
      example:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: IDM - Developers
        description: The developers for the IDM API.
        created_at: '1992-02-07T17:46:57.52Z'
        updated_at: '2022-08-31T17:00:00.52Z'
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          type: string
          pattern: '^[\w \W]+$'
          example: IDM - Developers
          maxLength: 250
        description:
          type: string
          example: The developers for the IDM API.
          maxLength: 250
        created_at:
          type: string
          format: date-time
          example: '1992-02-07T17:46:57.52Z'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-02-07T17:00:00.52Z'
          readOnly: true
    PortalTeamGroupMapping:
      title: PortalTeamGroupMapping
      type: object
      description: A map of Konnect Team to IdP groups.
      example:
        team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
        groups:
          - Tech Leads
          - API Engineers
      properties:
        team_id:
          type: string
          format: uuid
          example: 6801e673-cc10-498a-94cd-4271de07a0d3
          description: The Konnect team ID.
        groups:
          type: array
          uniqueItems: true
          description: The IdP groups that are mapped to the specified team.
          items:
            type: string
            example: API Engineers
    PortalAssignedRole:
      title: AssignedRole
      type: object
      description: An assigned role associates a service and an action to a team.
      example:
        id: 1a3c2169-27f8-4594-926b-41df3432d5dc
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
      properties:
        id:
          type: string
          format: uuid
          example: eaf7adf1-32c8-4bbf-b960-d1f8456afe67
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: 817d0422-45c9-4d88-8d64-45aef05c1ae7
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          enum:
            - us
            - eu
            - '*'
          example: eu
    Developer:
      title: Developer
      type: object
      description: A developer is an individual who can use a developer portal.
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        email:
          type: string
          format: email
          example: developer@email.com
          maxLength: 250
        full_name:
          type: string
          pattern: '^[\w \W]+$'
          example: API Developer
          maxLength: 250
        status:
          type: string
          default: pending
          readOnly: true
        portal_id:
          type: string
          example: 51d313f4-e13d-43d0-a2b4-8d4bf2aa172b
          readOnly: true
        created_at:
          type: string
          format: date-time
          example: '2022-02-07T17:46:57.52Z'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-10-08T17:00:00.52Z'
          readOnly: true
      example:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        email: user@email.com
        full_name: API Developer
        preferred_name: apidev
        status: active
        portal_id: 51d313f4-e13d-43d0-a2b4-8d4bf2aa172b
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
    ListPortalsResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Portal'
    ListPortalProductsResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '../../../api-products/v2/src/openapi.yaml#/components/schemas/APIProduct'
    GetPortalResponse:
      $ref: '#/components/schemas/Portal'
    CreatePortalResponse:
      $ref: '#/components/schemas/Portal'
    UpdatePortalResponse:
      $ref: '#/components/schemas/Portal'
    GetAppearanceDefaultsResponse:
      $ref: '#/components/schemas/AppearanceDefaults'
    GetPortalAppearanceResponse:
      allOf:
        - $ref: '#/components/schemas/PortalAppearance'
        - type: object
          required: &requiredPortalAppearanceProps
            - theme_name
            - use_custom_fonts
            - custom_theme
            - custom_fonts
            - text
            - images
    UpdatePortalAppearanceResponse:
      allOf:
        - $ref: '#/components/schemas/PortalAppearance'
        - type: object
          required: *requiredPortalAppearanceProps
    ListDevelopersResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalDeveloper'
    ListApplicationsResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    UpdateDeveloperResponse:
      $ref: '#/components/schemas/PortalDeveloper'
    GetDeveloperResponse:
      $ref: '#/components/schemas/PortalDeveloper'
    GetApplicationResponse:
      $ref: '#/components/schemas/Application'
    ListApplicationRegistrationsResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRegistration'
    GetApplicationRegistrationResponse:
        $ref: '#/components/schemas/ApplicationRegistration'
    UpdateApplicationRegistrationResponse:
        $ref: '#/components/schemas/ApplicationRegistration'
    VerifyPortalDomainsResponse:
      additionalProperties: false
      type: object
      required:
      - is_cname_verified
      - is_ssl_issued
      properties:
        is_cname_verified:
          type: boolean
          readOnly: true
        is_ssl_issued:
          type: boolean
          readOnly: true
    PortalDeveloper:
      additionalProperties: false
      type: object
      required:
      - id
      - created_at
      - updated_at
      - email
      - full_name
      - status
      properties:
        id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        created_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/CreatedAt'
        updated_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UpdatedAt'
        email:
          type: string
          format: email
          maxLength: 255
        full_name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/DeveloperStatus'
    Application:
      additionalProperties: false
      type: object
      required:
      - id
      - created_at
      - updated_at
      - name
      - description
      - reference_id
      - client_provider_id
      - developer_id
      properties:
        id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        created_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/CreatedAt'
        updated_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UpdatedAt'
        name:
          type: string
        description:
          type: string
          nullable: true
        reference_id:
          type: string
          readOnly: true
        client_provider_id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/NullableUUID'
        developer_id:
          type: string
          format: uuid
          readOnly: true
    ApplicationRegistration:
      additionalProperties: false
      type: object
      required:
      - id
      - created_at
      - updated_at
      - status
      - product_version_id
      - application_id
      - developer_id
      properties:
        id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        created_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/CreatedAt'
        updated_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UpdatedAt'
        status:
          $ref: '#/components/schemas/ApplicationRegistrationStatus'
        product_version_id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        application_id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        developer_id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
    Portal:
      additionalProperties: false
      type: object
      required:
      - id
      - created_at
      - updated_at
      - name
      - default_domain
      - is_public
      - rbac_enabled
      - auto_approve_applications
      - auto_approve_developers
      - custom_domain
      - custom_client_domain
      - public_catalog_enabled
      properties:
        id:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        created_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/CreatedAt'
        updated_at:
          $ref: '../../../../../common/definitions/konnect_properties.yaml#/components/schemas/UpdatedAt'
        name:
          type: string
          maxLength: 255
          minLength: 1
        default_domain:
          type: string
          format: hostname
          readOnly: true
        is_public:
          type: boolean
        rbac_enabled:
          type: boolean
        auto_approve_applications:
          type: boolean
        auto_approve_developers:
          type: boolean
        custom_domain:
          nullable: true
          type: string
          format: hostname
        custom_client_domain:
          nullable: true
          type: string
          format: hostname
        public_catalog_enabled:
          type: boolean
    UpdatePortalRequest:
      additionalProperties: false
      type: object
      properties:
        is_public:
          type: boolean
        rbac_enabled:
          type: boolean
        auto_approve_applications:
          type: boolean
        auto_approve_developers:
          type: boolean
        custom_domain:
          type: string
          format: hostname
          maxLength: 1024
        custom_client_domain:
          type: string
          format: hostname
          maxLength: 1024
        public_catalog_enabled:
          type: boolean
    UpdateDeveloperRequest:
      additionalProperties: false
      type: object
      properties:
        status:
          $ref: '#/components/schemas/DeveloperStatus'
    UpdateApplicationRegistrationRequest:
      additionalProperties: false
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApplicationRegistrationStatus'
    UpdatePortalAppearanceRequest:
      $ref: '#/components/schemas/PortalAppearance'
    AppearanceDefaults:
      additionalProperties: false
      type: object
      readOnly: true
      required:
      - themes
      - fonts
      - text
      properties:
        themes:
          $ref: '#/components/schemas/AppearanceDefaultThemes'
        fonts:
          $ref: '#/components/schemas/AppearanceFonts'
        text:
          $ref: '#/components/schemas/AppearanceTextVariables'
    AppearanceDefaultThemes:
      additionalProperties: false
      type: object
      readOnly: true
      required:
        - mint_rocket
        - dark_mode
      properties:
        mint_rocket:
          $ref: '#/components/schemas/AppearanceThemeVariables'
        dark_mode:
          $ref: '#/components/schemas/AppearanceThemeVariables'
    AppearanceColorVariable:
      type: object
      additionalProperties: false
      required:
        - value
        - description
      properties:
        value:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 512
    AppearanceThemeColorVariables:
      type: object
      additionalProperties: false
      required:
        - section
        - text
        - button
      properties:
        section:
          type: object
          additionalProperties: false
          required:
            - header
            - body
            - hero
            - accent
            - tertiary
            - stroke
            - footer
          properties:
            header:
              $ref: '#/components/schemas/AppearanceColorVariable'
            body:
              $ref: '#/components/schemas/AppearanceColorVariable'
            hero:
              $ref: '#/components/schemas/AppearanceColorVariable'
            accent:
              $ref: '#/components/schemas/AppearanceColorVariable'
            tertiary:
              $ref: '#/components/schemas/AppearanceColorVariable'
            stroke:
              $ref: '#/components/schemas/AppearanceColorVariable'
            footer:
              $ref: '#/components/schemas/AppearanceColorVariable'
        text:
          type: object
          additionalProperties: false
          required:
            - header
            - hero
            - headings
            - primary
            - secondary
            - accent
            - link
            - footer
          properties:
            header:
              $ref: '#/components/schemas/AppearanceColorVariable'
            hero:
              $ref: '#/components/schemas/AppearanceColorVariable'
            headings:
              $ref: '#/components/schemas/AppearanceColorVariable'
            primary:
              $ref: '#/components/schemas/AppearanceColorVariable'
            secondary:
              $ref: '#/components/schemas/AppearanceColorVariable'
            accent:
              $ref: '#/components/schemas/AppearanceColorVariable'
            link:
              $ref: '#/components/schemas/AppearanceColorVariable'
            footer:
              $ref: '#/components/schemas/AppearanceColorVariable'
        button:
          type: object
          additionalProperties: false
          required:
            - primary_fill
            - primary_text
          properties:
            primary_fill:
              $ref: '#/components/schemas/AppearanceColorVariable'
            primary_text:
              $ref: '#/components/schemas/AppearanceColorVariable'
    AppearanceThemeVariables: &appearanceThemeVariables
      description: Groups of variables for configuring visual details of the portal user interface. Set theme_name to 'custom' to use custom values for theme variables.
      type: object
      additionalProperties: false
      required:
        - colors
      properties:
        colors:
          $ref: '#/components/schemas/AppearanceThemeColorVariables'
    NullableAppearanceThemeVariables:
      <<: *appearanceThemeVariables
      nullable: true
    AppearanceFonts: &appearanceFonts
      description: Font selections to render text in the portal user interface. Must set use_custom_fonts to true to enable using custom font values.
      type: object
      additionalProperties: false
      required:
        - base
        - code
        - headings
      properties:
        base:
          $ref: '#/components/schemas/AppearanceFontName'
        code:
          $ref: '#/components/schemas/AppearanceFontName'
        headings:
          $ref: '#/components/schemas/AppearanceFontName'
    NullableAppearanceFonts:
      <<: *appearanceFonts
      nullable: true
    AppearanceFontName:
      type: string
      enum:
        - Roboto
        - Inter
        - Open Sans
        - Lato
        - Slabo 27px
        - Slabo 13px
        - Oswald
        - Source Sans Pro
        - Montserrat
        - Raleway
        - PT Sans
        - Lora
        - Roboto Mono
        - Inconsolata
        - Source Code Pro
        - PT Mono
        - Ubuntu Mono
        - IBM Plex Mono
    AppearanceImage:
      type: object
      additionalProperties: false
      nullable: true
      required:
        - data
      properties:
        data:
          type: string
        filename:
          type: string
          maxLength: 512
    AppearanceImages:
      description: A collection of binary image data to customize images in the portal
      type: object
      additionalProperties: false
      nullable: true
      properties:
        logo:
          $ref: '#/components/schemas/AppearanceImage'
        favicon:
          $ref: '#/components/schemas/AppearanceImage'
        catalog_cover:
          $ref: '#/components/schemas/AppearanceImage'
    AppearanceTextVariables: &appearanceTextVariables
      description: Values to display for customizable text in the portal user interface
      type: object
      additionalProperties: false
      required:
      - catalog
      properties:
        catalog:
          type: object
          additionalProperties: false
          required:
            - welcome_message
            - primary_header
          properties:
            welcome_message:
              type: string
              maxLength: 512
            primary_header:
              type: string
              maxLength: 512
    NullableAppearanceTextVariables:
      <<: *appearanceTextVariables
      nullable: true
    PortalAppearance:
      additionalProperties: false
      type: object
      properties:
        theme_name:
          $ref: '#/components/schemas/PortalTheme'
        custom_theme:
          $ref: '#/components/schemas/NullableAppearanceThemeVariables'
        custom_fonts:
          $ref: '#/components/schemas/NullableAppearanceFonts'
        use_custom_fonts:
          description: If true, fonts in custom_fonts will be used over the theme's default fonts
          type: boolean
        text:
          $ref: '#/components/schemas/NullableAppearanceTextVariables'
        images:
          $ref: '#/components/schemas/AppearanceImages'
    DeveloperStatus:
      type: string
      enum:
      - approved
      - pending
      - revoked
      - rejected
    ApplicationRegistrationStatus:
      type: string
      enum:
      - approved
      - pending
      - revoked
      - rejected
    PortalTheme:
      description: Select a pre-existing default theme or specify 'custom' to use custom_theme variables.
      type: string
      enum:
      - 'mint_rocket'
      - 'dark_mode'
      - 'custom'
  securitySchemes:
    personalAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
    systemAccountAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken'
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Portals
    description: APIs related to the Konnect Developer Portal Management API.
  - name: Portal Teams
  - name: Portal Team Membership
  - name: Portal Team Roles
  - name: Portal Roles
  - name: Portal Developers
  - name: Portal Auth Settings
