openapi: 3.0.3
info:
  title: Portal Management V3
  version: 3.0.0
  description: The management API for Portals
  contact:
    name: Kong
    url: https://konghq.com
servers:
  - url: https://us.api.konghq.com/v3
    description: US Region Base URL
  - url: https://eu.api.konghq.com/v3
    description: EU Region Base URL
  - url: https://au.api.konghq.com/v3
    description: AU Region Base URL
  - url: https://me.api.konghq.com/v3
    description: ME Region Base URL
paths:
  /portals:
    get:
      summary: List V3 Portals
      description: >-
        Lists developer portals defined in this region for this organization.
        Each developer portal is available at a unique address and has isolated
        configuration, customization, developers, and applications.
      operationId: list-portals
      tags:
        - V3 Portals
      parameters:
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber
        - $ref: '#/components/parameters/SortPortalsV3'
        - in: query
          name: filter
          description: Filter portals returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalFilterParameters'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalsResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                ListPortalsV3BadRequestExample1:
                  $ref: '#/components/examples/ListPortalsV3BadRequestExample1'
                ListPortalsV3BadRequestExample2:
                  $ref: '#/components/examples/ListPortalsV3BadRequestExample2'
                ListPortalsV3BadRequestExample3:
                  $ref: '#/components/examples/ListPortalsV3BadRequestExample3'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
    post:
      summary: Create V3 Portal
      description: >-
        Creates a new developer portal scoped in this region for this organization.
      operationId: create-portal
      tags:
        - V3 Portals
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalV3'
      responses:
        '201':
          $ref: '#/components/responses/PortalResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalV3BadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample1'
                UpdatePortalV3BadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample2'
                UpdatePortalV3BadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample3'
                UpdatePortalV3BadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample4'
                UpdatePortalV3BadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample5'
                UpdatePortalV3BadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample6'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
  /portals/{portalId}:
    parameters:
      - name: portalId
        in: path
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the portal.
    get:
      summary: Get V3 Portal
      description: >-
        Returns the configuration for a single developer portal. This allows you
        to understand the current visibility, access, and domain settings.
      operationId: get-portal
      tags:
        - V3 Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponseV3'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    patch:
      summary: Update V3 Portal
      description: >-
        Updates the configuration for a single portal including the visibility,
        access, and custom domain settings.
      operationId: update-portal
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalV3'
      tags:
        - V3 Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalV3BadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample1'
                UpdatePortalV3BadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample2'
                UpdatePortalV3BadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample3'
                UpdatePortalV3BadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample4'
                UpdatePortalV3BadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample5'
                UpdatePortalV3BadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalV3BadRequestExample6'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
        '409':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Conflict
    delete:
      summary: Delete Portal
      description: >-
        Deletes a single portal, along with all related entities.
      operationId: delete-portal
      tags:
        - V3 Portals
      responses:
        '204':
          description: No Content
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/verify-domain:
    post:
      summary: Verify Custom Domain
      description: >-
        Verifies the current status of the custom hosted domain for this portal,
        indicating whether the appropriate CNAME properties have propagated and
        if a corresponding SSL certificate has been generated.
      operationId: verify-portal-domain
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
      tags:
        - V3 Portals
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortalDomainResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                VerifyPortalDomainBadRequestExample1:
                  $ref: '#/components/examples/VerifyPortalDomainBadRequestExample1'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/assets/logo:
    parameters:
      - $ref: >-
          ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
    get:
      x-unstable: true
      x-internal: true
      summary: Get Portal Logo
      description: >-
        Returns the logo of the portal.
      operationId: get-portal-asset-logo
      tags:
        - V3 Portal Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponseV3'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
    put:
      x-unstable: true
      x-internal: true
      summary: Replace Portal Logo
      description: >-
        Replaces the logo of the portal.
      operationId: replace-portal-asset-logo
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAssetV3'
      tags:
        - V3 Portal Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                ReplacePortalImageAssetV3BadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetV3BadRequestExample1
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
  /portals/{portalId}/assets/favicon:
    parameters:
      - $ref: >-
          ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
    get:
      x-unstable: true
      x-internal: true
      summary: Get Portal Favicon
      description: >-
        Returns the favicon of the portal.
      operationId: get-portal-asset-favicon
      tags:
        - V3 Portal Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponseV3'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
    put:
      x-unstable: true
      x-internal: true
      summary: Replace Portal Favicon
      description: >-
        Replaces the favicon of the portal. The favicon is used in the browser tab of the portal.
      operationId: replace-portal-asset-favicon
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAssetV3'
      tags:
        - V3 Portal Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponseV3'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                ReplacePortalImageAssetV3BadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetV3BadRequestExample1
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
  /portals/{portalId}/pages:
    get:
      x-internal: true
      x-unstable: true
      summary: List Portal Pages
      description: >-
        Returns the paginated list of custom pages that have been created for this portal.
      operationId: list-portal-pages
      parameters:
        - $ref: '#/components/parameters/SortPortalPages'
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber
        - in: query
          name: filter
          description: Filter pages returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalPagesFilterParameters'
      tags:
        - V3 Portal Pages
      responses:
        '200':
          $ref: '#/components/responses/ListPortalPages'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                ListPortalPagesBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListPortalPagesBadRequestExample1
                ListPortalPagesBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListPortalPagesBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    post:
      x-internal: true
      x-unstable: true
      summary: Create Portal Page
      description: >-
        Creates a new custom page for this portal. Custom pages can be used to
        display static content, documentation, or other information to developers.
      operationId: create-portal-page
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalPage'
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
      tags:
        - V3 Portal Pages
      responses:
        '201':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample1
                UpdatePortalPageBadRequestExample2::
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/pages/{pageId}:
    get:
      x-internal: true
      x-unstable: true
      summary: Get Portal Page
      description: >-
        Returns the configuration of a single custom page for this portal. Custom
        pages can be used to display static content, documentation, or other
        information to developers.
      operationId: get-portal-page
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PageId
      tags:
        - V3 Portal Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    patch:
      x-internal: true
      x-unstable: true
      summary: Update Portal Page
      description: >-
        Updates the configuration of a single custom page for this portal.
      operationId: update-portal-page
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalPage'
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PageId
      tags:
        - V3 Portal Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalPageBadRequestExample1::
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample1
                UpdatePortalPageBadRequestExample2::
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    delete:
      x-internal: true
      x-unstable: true
      summary: Delete Portal Page
      description: >-
        Deletes a single custom page for this portal.
      operationId: delete-portal-page
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PageId
      tags:
        - V3 Portal Pages
      responses:
        '204':
          description: No Content
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/snippets:
    get:
      x-internal: true
      x-unstable: true
      summary: List Portal snippets
      description: >-
        Returns the paginated list of custom snippets that have been created for this portal.
      operationId: list-portal-snippets
      parameters:
        - $ref: '#/components/parameters/SortPortalSnippets'
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize
        - $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber
        - in: query
          name: filter
          description: Filter snippets returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalSnippetsFilterParameters'
      tags:
        - V3 Portal Snippets
      responses:
        '200':
          $ref: '#/components/responses/ListPortalSnippets'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                ListPortalSnippetsBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListPortalSnippetsBadRequestExample1
                ListPortalSnippetsBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListPortalSnippetsBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    post:
      x-internal: true
      x-unstable: true
      summary: Create Portal Snippet
      description: >-
        Creates a new custom snippet for this portal. Custom snippets can be used to
        display static content, documentation, or other information to developers.
      operationId: create-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalSnippet'
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
      tags:
        - V3 Portal Snippets
      responses:
        '201':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdatePortalSnippetBadRequestExample1
                UpdatePortalSnippetBadRequestExample2:
                  $ref: >-
                    #/components/examples/UpdatePortalSnippetBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/snippets/{snippetId}:
    get:
      x-internal: true
      x-unstable: true
      summary: Get Portal Snippet
      description: >-
        Returns the configuration of a single custom snippet for this portal. Custom
        snippets can be used to display static content, documentation, or other
        information to developers.
      operationId: get-portal-snippet
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/SnippetId
      tags:
        - V3 Portal Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    patch:
      x-internal: true
      x-unstable: true
      summary: Update Portal Snippet
      description: >-
        Updates the configuration of a single custom snippet for this portal.
      operationId: update-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalSnippet'
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/SnippetId
      tags:
        - V3 Portal Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  ../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError
              examples:
                UpdatePortalPageBadRequestExample1::
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample1
                UpdatePortalPageBadRequestExample2::
                  $ref: >-
                    #/components/examples/UpdatePortalPageBadRequestExample2
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
    delete:
      x-internal: true
      x-unstable: true
      summary: Delete Portal Snippet
      description: >-
        Deletes a single custom snippet for this portal.
      operationId: delete-portal-snippet
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/SnippetId
      tags:
        - V3 Portal Snippets
      responses:
        '204':
          description: No Content
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
  /portals/{portalId}/default-content:
    post:
      x-internal: true
      x-unstable: true
      summary: Creates the default pages for a portal
      description: >-
        Creates the default pages for a portal if they do not already exists.
      operationId: create-default-content
      parameters:
        - $ref: >-
            ../../../../common/definitions/portal.yaml#/components/parameters/PortalId
      tags:
        - V3 Portal Pages
      responses:
        '201':
          $ref: '#/components/responses/DefaultContentResponse'
        '401':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Unauthorized
        '403':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/Forbidden
        '404':
          $ref: >-
            ../../../../common/definitions/errors.yaml#/components/responses/NotFound
components:
  examples:
    PortalV3Example1:
      value:
        id: 9f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
        name: Portal A
        display_name: Developer Portal A
        description: The Portal A
        default_domain: 123455678abcd.us.portal.konghq.com
        authentication_enabled: false
        rbac_enabled: true
        default_api_visibility: private
        default_page_visibility: private
        default_application_auth_strategy_id: 5f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        auto_approve_applications: false
        auto_approve_developers: true
        custom_domain: api.example.com
    UpdatePortalV3ExampleRbacEnabled:
      value:
        authentication_enabled: true
        rbac_enabled: true
    UpdatePortalV3ExampleAuthenticationDisabled:
      value:
        authentication_enabled: false
    UpdatePortalV3ExampleAutoApprove:
      value:
        auto_approve_applications: true
        auto_approve_developers: true
    UpdatePortalV3ExampleCustomDomain:
      value:
        custom_domain: api.example.com
    UpdatePortalV3Example1:
      value:
        authentication_enabled: false
        rbac_enabled: false
        auto_approve_applications: false
        auto_approve_developers: false
        custom_domain: api.example.com
    CreatePortalV3ExampleRbacEnabled:
      value:
        name: MyDevPortal
        authentication_enabled: true
        rbac_enabled: true
    CreatePortalV3ExampleAuthenticationDisabled:
      value:
        name: MyDevPortal
        authentication_enabled: false
    CreatePortalV3ExampleAutoApprove:
      value:
        name: MyDevPortal
        auto_approve_applications: true
        auto_approve_developers: true
    CreatePortalV3ExampleCustomDomain:
      value:
        name: MyDevPortal
        custom_domain: api.example.com
    CreatePortalV3Example1:
      value:
        name: MyDevPortal
        authentication_enabled: true
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: false
        custom_domain: api.example.com
    ListPortalsV3Example1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
            name: Portal A
            display_name: Developer Portal A
            description: The Portal A
            authentication_enabled: false
            rbac_enabled: true
            default_api_visibility: private
            default_page_visibility: private
            default_application_auth_strategy_id: 5f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            auto_approve_applications: false
            auto_approve_developers: true
            default_domain: 123455678abcd.us.portal.konghq.com
            custom_domain: api.example.com
    ListPortalsV3BadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[size]
            rule: is_number
            reason: '"page[size]" must be a number'
            source: query
    ListPortalsV3BadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[number]
            rule: is_number
            reason: '"page[number]" must be a number'
            source: query
    ListPortalsV3BadRequestExample3:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: sort
            rule: enum
            choices:
              - created_at
              - updated_at
            reason: must be one of [created_at, updated_at]
            source: query
    UpdatePortalV3BadRequestExample1:
      summary: Unknown property
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: my_property
            rule: unknown_property
            reason: '"my_property" is not allowed'
            source: body
    UpdatePortalV3BadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: authentication_enabled
            rule: is_boolean
            reason: value of "authentication_enabled" must be true or false
            source: body
    UpdatePortalV3BadRequestExample3:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: rbac_enabled
            rule: is_boolean
            reason: value of "rbac_enabled" must be true or false
            source: body
    UpdatePortalV3BadRequestExample4:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: auto_approve_applications
            rule: is_boolean
            reason: value of "auto_approve_applications" must be true or false
            source: body
    UpdatePortalV3BadRequestExample5:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: auto_approve_developers
            rule: is_boolean
            reason: value of "auto_approve_developers" must be true or false
            source: body
    UpdatePortalV3BadRequestExample6:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: custom_domain
            rule: max_length
            reason: value of "custom_domain" must not exceed 1024 characters
            source: body
            maximum: 1024
    VerifyPortalDomainBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: custom_domain
            reason: portal needs a custom_domain to be verified
    VerifyPortalDomainV3Example1:
      value:
        is_cname_verified: true
        is_ssl_issued: false
    PortalAssetResponseV3ExamplePNG:
      value: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
    PortalAssetResponseV3ExampleJPEG:
      value: 'data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
    ReplacePortalImageAssetV3Example1:
      value:
        data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
        filename: logo.png
    ReplacePortalImageAssetV3BadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: data
            rule: required
            reason: 'data is required'
            source: body
    CreatePortalPageExample1:
      value:
        title: Getting Started
        path: /getting-started
        content: >-
          Welcome to the Getting Started page. This is where you can learn how
          to use our APIs.
        public: true
        published: true
    UpdatePortalPageExample1:
      value:
        title: About Us
        path: /about-us
        content: >-
          Welcome to the About Us page. This is where you can learn about our
          company.
    PortalPageExample1:
      value:
        id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        path: /
        title: Home
        content: >-
          Welcome to the home page of the portal. This is where you can find
          information about the portal and its products.
        public: true
        published: true
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
    DefaultContentExample1:
      value:
        pages:
          - "/about"
          - "/home"
          - "/privacy"
    ListPortalPagesExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            path: /
            title: Home
            public: true
            published: true
            description: 'A custom page'
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
    ListPortalPagesBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[size]
            rule: is_number
            reason: '"page[size]" must be a number'
            source: query
    ListPortalPagesBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: filter[my_attribute]
            rule: unknown_property
            reason: '"filter[my_attribute]" is not allowed'
            source: query
    UpdatePortalPageBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: my_property
            rule: unknown_property
            reason: '"my_property" is not allowed'
            source: body
    UpdatePortalPageBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: title
            rule: max_length
            reason: value of "title" must not exceed 512 characters
            source: body
            maximum: 512
    CreatePortalSnippetExample1:
      value:
        title: Getting Started
        name: getting-started
        content: >-
          Welcome to the Getting Started page. This is where you can learn how
          to use our APIs.
        public: true
        published: true
    UpdatePortalSnippetExample1:
      value:
        title: About Us
        name: about-us
        content: >-
          Welcome to the About Us page. This is where you can learn about our
          company.
    PortalSnippetExample1:
      value:
        id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: snip1
        title: Home
        content: >-
          Welcome to the first snippet of the portal.
        public: true
        published: true
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
    ListPortalSnippetsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: snip1
            title: Home
            public: true
            published: true
            description: 'A custom snippet'
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
    ListPortalSnippetsBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[size]
            rule: is_number
            reason: '"page[size]" must be a number'
            source: query
    ListPortalSnippetsBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: filter[my_attribute]
            rule: unknown_property
            reason: '"filter[my_attribute]" is not allowed'
            source: query
    UpdatePortalSnippetBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: my_property
            rule: unknown_property
            reason: '"my_property" is not allowed'
            source: body
    UpdatePortalSnippetBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: title
            rule: max_length
            reason: value of "title" must not exceed 512 characters
            source: body
            maximum: 512

  requestBodies:
    CreatePortalV3:
      description: Create a portal.
      required: true
      content:
        application/json:
          schema:
            x-flatten-allOf: true
            allOf:
              - $ref: '#/components/schemas/PortalV3'
              - required:
                - name
                properties:
                  labels:
                    $ref: "../../../../common/definitions/konnect_properties.yaml#/components/schemas/LabelsUpdate"
          examples:
            Example 1:
              $ref: '#/components/examples/CreatePortalV3Example1'
            Authentication Disabled:
              $ref: '#/components/examples/CreatePortalV3ExampleAuthenticationDisabled'
            Enable RBAC:
              $ref: '#/components/examples/CreatePortalV3ExampleRbacEnabled'
            Auto Approve Settings:
              $ref: '#/components/examples/CreatePortalV3ExampleAutoApprove'
            Custom Domains:
              $ref: '#/components/examples/CreatePortalV3ExampleCustomDomain'
    UpdatePortalV3:
      description: Update a portal's settings.
      required: true
      content:
        application/json:
          schema:
            x-flatten-allOf: true
            allOf:
              - $ref: '#/components/schemas/PortalV3'
              - properties:
                  labels:
                    $ref: "../../../../common/definitions/konnect_properties.yaml#/components/schemas/LabelsUpdate"
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalV3Example1'
            Authentication Disabled:
              $ref: '#/components/examples/UpdatePortalV3ExampleAuthenticationDisabled'
            Enable RBAC:
              $ref: '#/components/examples/UpdatePortalV3ExampleRbacEnabled'
            Auto Approve Settings:
              $ref: '#/components/examples/UpdatePortalV3ExampleAutoApprove'
            Custom Domains:
              $ref: '#/components/examples/UpdatePortalV3ExampleCustomDomain'
    ReplacePortalImageAssetV3:
      description: Update an image asset for the portal.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReplacePortalImageAssetV3'
          examples:
            Example 1:
              $ref: '#/components/examples/ReplacePortalImageAssetV3Example1'
    CreatePortalPage:
      description: Create a page in a portal.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatePortalPageRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/CreatePortalPageExample1'
    UpdatePortalPage:
      description: Update a page in a portal.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalPageRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalPageExample1'
    CreatePortalSnippet:
      description: Create a snippet in a portal.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatePortalSnippetRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/CreatePortalSnippetExample1'
    UpdatePortalSnippet:
      description: Update a snippet in a portal.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalSnippetRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalSnippetExample1'

  parameters:
    SortPortalsV3:
      name: sort
      description: |
        Sorts a collection of portals. Supported sort attributes are:
          - name
          - description
          - authentication_enabled
          - rbac_enabled
          - auto_approve_applications
          - auto_approve_developers
          - default_domain
          - custom_domain
          - created_at
          - updated_at
      in: query
      required: false
      schema:
        type: string
    SortPortalPages:
      name: 'sort'
      description: |
        Sorts a collection of portal pages. Supported sort attributes are:
          - created_at
          - updated_at
          - path
          - title
          - public
      in: query
      required: false
      schema:
        type: string
    SortPortalSnippets:
      name: 'sort'
      description: |
        Sorts a collection of portal snippets. Supported sort attributes are:
          - created_at
          - updated_at
          - name
          - title
          - public
      in: query
      required: false
      schema:
        type: string
  responses:
    ListPortalsResponseV3:
      description: A paginated list of portals in the current region of an organization.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - data
              - meta
            properties:
              data:
                type: array
                items:
                  x-flatten-allOf: true
                  allOf:
                    - $ref: '#/components/schemas/PortalV3'
                    - required:
                      - id
                      - name
                      - display_name
                      - description
                      - authentication_enabled
                      - rbac_enabled
                      - default_api_visibility
                      - default_page_visibility
                      - default_application_auth_strategy_id
                      - auto_approve_applications
                      - auto_approve_developers
                      - default_domain
                      - custom_domain
              meta:
                $ref: '../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalsV3Example1'
    PortalResponseV3:
      description: Details about a portal.
      content:
        application/json:
          schema:
            x-flatten-allOf: true
            allOf:
              - $ref: '#/components/schemas/PortalV3'
              - required:
                - id
                - name
                - display_name
                - description
                - authentication_enabled
                - rbac_enabled
                - default_api_visibility
                - default_page_visibility
                - default_application_auth_strategy_id
                - auto_approve_applications
                - auto_approve_developers
                - default_domain
                - custom_domain
          examples:
            Example 1:
              $ref: '#/components/examples/PortalV3Example1'
    VerifyPortalDomainResponseV3:
      description: Details about the status of a portal's custom domain.
      content:
        application/json:
          schema:
            title: VerifyPortalDomainResponseV3
            additionalProperties: false
            description: Details about the current status of a custom domain.
            type: object
            required:
              - is_cname_verified
              - is_ssl_issued
            properties:
              is_cname_verified:
                type: boolean
                readOnly: true
              is_ssl_issued:
                type: boolean
                readOnly: true
            example:
              $ref: '#/components/examples/VerifyPortalDomainV3Example1/value'
          examples:
            Example 1:
              $ref: '#/components/examples/VerifyPortalDomainV3Example1'
    PortalAssetResponseV3:
      description: Logo of the portal. Can be either png or jpeg
      content:
        image/png:
          schema:
            $ref: '#/components/schemas/PortalImageAssetV3'
          examples:
            PNG Example:
              $ref: '#/components/examples/PortalAssetResponseV3ExamplePNG'
        image/jpeg:
          schema:
            $ref: '#/components/schemas/PortalImageAssetV3'
          examples:
            JPEG Example:
              $ref: '#/components/examples/PortalAssetResponseV3ExampleJPEG'
    DefaultContentResponse:
      description: Summary of created default content
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DefaultContent'
          examples:
            Example 1:
              $ref: '#/components/examples/DefaultContentExample1'
    PortalPage:
      description: Details about a page in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalPageResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/PortalPageExample1'
    ListPortalPages:
      description: A paginated list of custom pages in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalPagesResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalPagesExample1'
    PortalSnippet:
      description: Details about a snippet in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalSnippetResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/PortalSnippetExample1'
    ListPortalSnippets:
      description: A paginated list of custom snippets in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalSnippetsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalSnippetsExample1'

  schemas:
    ################################
    ## Portal
    ################################

    PortalV3:
      title: PortalV3
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID'
        created_at:
          $ref: '../../../../common/definitions/konnect_properties.yaml#/components/schemas/CreatedAt'
        updated_at:
          $ref: '../../../../common/definitions/konnect_properties.yaml#/components/schemas/UpdatedAt'
        name:
          type: string
          maxLength: 255
          minLength: 1
          description: >-
            The name of the portal, used to distinguish it from other portals.
            Name must be unique.
        display_name:
          type: string
          maxLength: 255
          minLength: 1
          description: >-
            The display name of the portal. This value will be the portal's
            `name` in Portal API.
        description:
          type: string
          nullable: true
          maxLength: 512
          description: >-
            A description of the portal.
        authentication_enabled:
          type: boolean
          description: >-
            Whether the portal supports developer authentication. If disabled,
            developers cannot register for accounts or create applications.
          default: true
        rbac_enabled:
          type: boolean
          description: >-
            Whether the portal resources are protected by Role Based Access
            Control (RBAC). If enabled, developers view or register for products
            until unless assigned to teams with access to view and consume
            specific products. Authentication must be enabled to use RBAC.
          default: false
        default_api_visibility:
          type: string
          description: >-
            The default visibility of APIs in the portal. If set to `public`,
            newly published APIs are visible to unauthenticated developers. If set to
            `private`, newly published APIs are hidden from unauthenticated
            developers.
          enum:
            - public
            - private
        default_page_visibility:
          type: string
          description: >-
            The default visibility of pages in the portal. If set to `public`,
            newly created pages are visible to unauthenticated developers. If set
            to `private`, newly created pages are hidden from unauthenticated
            developers.
          enum:
            - public
            - private
        default_application_auth_strategy_id:
          type: string
          format: uuid
          description: >-
            The default authentication strategy for APIs published to the portal.
            Newly published APIs will use this authentication strategy unless
            overridden during publication. If set to `null`, API publications
            will not use an authentication strategy unless set during publication.
          nullable: true
        auto_approve_developers:
          type: boolean
          description: >-
            Whether developer account registrations will be automatically
            approved, or if they will be set to pending until approved by an
            admin.
          default: false
        auto_approve_applications:
          type: boolean
          description: >-
            Whether requests from applications to register for products will
            be automatically approved, or if they will be set to pending until
            approved by an admin.
          default: false
        default_domain:
          description: >-
            The domain assigned to the portal by Konnect. This is the default
            place to access the portal and its API if not using a
            `custom_domain``.
          type: string
          format: hostname
          readOnly: true
        custom_domain:
          type: string
          format: hostname
          nullable: true
          description: >-
            The custom domain to access the developer portal. A CNAME for the portal's default domain
            must be able to be set for the custom domain for it to be valid. After setting a valid CNAME,
            an SSL/TLS certificate will be automatically manged for the custom domain, and traffic will
            be able to use the custom domain to route to the portal's web client and API.
        labels:
          $ref: '../../../../common/definitions/konnect_properties.yaml#/components/schemas/Labels'

    PortalImageAssetV3:
      title: PortalImageAssetV3
      type: string
      format: binary
      example: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=

    ReplacePortalImageAssetV3:
      title: ReplacePortalImageAssetV3
      description: >-
        The image data to upload, along with an optional filename. Images must be a data URL with binary image data in base 64 format.
        See https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs.
      type: object
      additionalProperties: false
      nullable: true
      required:
        - data
      properties:
        data:
          $ref: >-
            ../../../../common/definitions/portal.yaml#/components/schemas/ImageDataUri
        filename:
          type: string
          maxLength: 512
      example:
        data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=

    ################################
    ## Pages & Snippets
    ################################

    PagePath:
      title: PagePath
      description: The path of a page in a portal with a leading slash.
      type: string
      maxLength: 512
      example: /my-page
    PageTitle:
      title: PageTitle
      description: The title of a page in a portal.
      type: string
      maxLength: 512
      example: My Page
    PageContent:
      title: PageContent
      description: The renderable markdown content of a page in a portal.
      type: string
      maxLength: 1000000
      example: '# Welcome to My Page'
    SnippetName:
      title: SnippetName
      description: The unique name of a snippet in a portal.
      type: string
      maxLength: 512
      example: my-snippet
    SnippetTitle:
      title: SnippetTitle
      description: The display title of a snippet in a portal.
      type: string
      maxLength: 512
      example: My Snippet
    SnippetContent:
      title: SnippetContent
      description: The renderable markdown content of a page in a portal.
      type: string
      maxLength: 1000000
      example: '# Welcome to My Snippet'
    PublicStatus:
      title: PublicStatus
      description: Whether the resource is publicly accessible to non-authenticated users. Defaults to false.
      type: boolean
      example: true
    PublishedStatus:
      title: PublishedStatus
      description: Whether the resource is visible on a given portal. Defaults to false.
      type: boolean
      example: true
    Description:
      title: Resource Description
      type: string
      maxLength: 160
      example: 'A custom page about developer portals'
    PagePublicStatusWithDefault:
      title: PagePublicStatusWithDefault
      description: Whether a page is publicly accessible to non-authenticated users.
      type: boolean
      default: false
      example: true
    SnippetPublicStatusWithDefault:
      title: PagePublicStatusWithDefault
      description: Whether a page is publicly accessible to non-authenticated users.
      type: boolean
      default: false
      example: true
    UpdatePortalPageRequest:
      title: UpdatePortalPageRequest
      description: Update a page in a portal.
      type: object
      additionalProperties: false
      properties:
        path:
          $ref: '#/components/schemas/PagePath'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
    CreatePortalPageRequest:
      title: CreatePortalPageRequest
      description: Create a page in a portal.
      type: object
      additionalProperties: false
      required:
        - path
        - title
        - content
      properties:
        path:
          $ref: '#/components/schemas/PagePath'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        public:
          $ref: '#/components/schemas/PagePublicStatusWithDefault'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
    PortalPageInfo:
      title: PortalPageInfo
      description: Information about a page in a portal.
      type: object
      additionalProperties: false
      required:
        - id
        - path
        - title
        - public
        - created_at
        - updated_at
        - published
      properties:
        id:
          $ref: >-
            ../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID
        path:
          $ref: '#/components/schemas/PagePath'
        title:
          $ref: '#/components/schemas/PageTitle'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/CreatedAt
        updated_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/UpdatedAt
    PortalSnippetInfo:
      title: PortalSnippetInfo
      description: Information about a snippet in a portal.
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - title
        - public
        - published
        - created_at
        - updated_at
      properties:
        id:
          $ref: >-
            ../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/CreatedAt
        updated_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/UpdatedAt
    DefaultContent:
      title: DefaultContent
      description: Summary of created default content
      additionalProperties: false
      type: object
      required:
        - pages
      properties:
        pages:
          type: array
          items:
            type: string

    PortalPageResponse:
      title: PortalPageResponse
      description: Details about a page in a portal.
      additionalProperties: false
      type: object
      required:
        - id
        - path
        - title
        - content
        - public
        - published
        - created_at
        - updated_at
      properties:
        id:
          $ref: >-
            ../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID
        path:
          $ref: '#/components/schemas/PagePath'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/CreatedAt
        updated_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/UpdatedAt
    ListPortalPagesResponse:
      title: ListPortalPagesResponse
      description: A paginated list of custom pages in a portal.
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalPageInfo'
        meta:
          $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta
      example:
        data:
          - id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            path: /my-page
            title: My Page
            public: true
            published: true
            description: 'A custom page'
            created_at: '2021-01-01T00:00:00Z'
            updated_at: '2021-01-01T00:00:00Z'
        meta:
          page:
            number: 1
            size: 10
            total: 1
    PortalSnippetResponse:
      title: PortalSnippetResponse
      description: Details about a page in a portal.
      additionalProperties: false
      type: object
      required:
        - id
        - name
        - content
        - public
        - published
        - created_at
        - updated_at
      properties:
        id:
          $ref: >-
            ../../../../common/definitions/konnect_properties.yaml#/components/schemas/UUID
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/CreatedAt
        updated_at:
          $ref: >-
            ../../../../common/definitions/properties.yaml#/components/schemas/UpdatedAt
    ListPortalSnippetsResponse:
      title: ListPortalPagesResponse
      description: A paginated list of custom pages in a portal.
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalSnippetInfo'
        meta:
          $ref: >-
            ../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta
      example:
        data:
          - id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            name: my-snippet
            title: My Snippet
            public: true
            published: true
            description: 'A custom snippet'
            created_at: '2021-01-01T00:00:00Z'
            updated_at: '2021-01-01T00:00:00Z'
        meta:
          page:
            number: 1
            size: 10
            total: 1
    UpdatePortalSnippetRequest:
      title: UpdatePortalSnippetRequest
      description: Update a snippet in a portal.
      type: object
      additionalProperties: false
      properties:
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        public:
          $ref: '#/components/schemas/PublicStatus'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
    CreatePortalSnippetRequest:
      title: CreatePortalSnippetRequest
      description: Create a snippet in a portal.
      type: object
      additionalProperties: false
      required:
        - name
        - title
        - content
      properties:
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        public:
          $ref: '#/components/schemas/SnippetPublicStatusWithDefault'
        published:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'

    ################################
    ## Filter Parameters
    ################################

    PortalFilterParameters:
      title: PortalFilterParameters
      type: object
      properties:
        id:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/UuidFieldFilter
        name:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
        description:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
        authentication_enabled:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter
        rbac_enabled:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter
        default_api_visibility:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
        default_page_visibility:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
        default_application_auth_strategy_id:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/UuidFieldFilter
        auto_approve_developers:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter
        auto_approve_applications:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter
        default_domain:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
        custom_domain:
          $ref: >-
            ../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter
    PortalPagesFilterParameters:
      title: PortalPagesFilterParameters
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/UuidFieldFilter'
        path:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter'
        title:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter'
        public:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter'
        created_at:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/DateTimeFieldFilter'
    PortalSnippetsFilterParameters:
      title: PortalSnippetsFilterParameters
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/UuidFieldFilter'
        name:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter'
        title:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/StringFieldFilter'
        public:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/BooleanFieldFilter'
        created_at:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/DateTimeFieldFilter'

  securitySchemes:
    personalAccessToken:
      $ref: >-
        ../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken
    systemAccountAccessToken:
      $ref: >-
        ../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: V3 Portals
    description: APIs related to configuration of Konnect Developer Portals.
  - name: V3 Portal Assets
    description: APIs for managing static assets for Konnect Developer Portals.
  - name: V3 Portal Pages
    description: APIs related to Konnect Developer Portal Custom Pages.
  - name: V3 Portal Snippets
    description: APIs related to Konnect Developer Portal Custom Snippets.
