openapi: 3.0.3
info:
  description: Konnect API for managing cloud-gateways infrastructure.
  version: 3.0.0
  title: Konnect Cloud Gateways
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
tags:
  - name: Data-Plane Group Configurations
servers:
  - url: https://global.api.konghq.com/v2
    description: Base URL for the global region
security:
  - konnectAccessToken: []
  - personalAccessToken: []
  - systemAccountAccessToken: []
paths:
  /cloud-gateways/configurations:
    get:
      summary: List Configurations
      description: |
        Returns a paginated collection of dedicated configurations or serverless configurations across control-planes 
        for an organization (restricted by permitted control-plane reads).
      operationId: list-configurations
      x-internal: true
      parameters:
        - $ref: '../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ConfigurationsFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListConfigurationsResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
      tags:
        - Data-Plane Group Configurations
    put:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#create,update
      summary: Create Configuration
      description: |
        Creates a new dedicated or serverless configuration for a control-plane (restricted by permitted control-plane 
        permissions for configurations). This request will replace any existing configuration for the requested 
        control_plane_id and control_plane_geo by performing a diff. From this diff, new resources detected in the
        requested configuration will be added, resources not found in the request configuration but in the previous will
        be deleted, and resources found in both will be updated to the requested configuration. Networks referenced in
        this request that are in an offline state will automatically initialize (i.e. move to an initializing state).
      operationId: create-configuration
      x-internal: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateConfigurationResponse'
        '400':
          $ref: '#/components/responses/CloudGatewaysBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CloudGatewaysForbidden'
        '404':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/CloudGatewaysConflict'
      tags:
        - Data-Plane Group Configurations
  /cloud-gateways/configurations/{configurationId}:
    get:
      x-speakeasy-entity-operation: CloudGatewayConfiguration#get
      summary: Get Configuration
      description: Retrieves a configuration by ID (restricted by permitted control-plane read).
      operationId: get-configuration
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/ConfigurationId'
      responses:
        '200':
          $ref: '#/components/responses/RetrieveConfigurationResponse'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/NotFound'
      tags:
        - Data-Plane Group Configurations
components:
  securitySchemes:
    konnectAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/konnectAccessToken'
    personalAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
    systemAccountAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken'
  parameters:
    ConfigurationsFilter:
      name: filter
      description: Filters supported for configurations.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ConfigurationsFilterParameters'
      style: deepObject
    ConfigurationId:
      name: configurationId
      in: path
      description: The ID of the configuration to operate on.
      required: true
      schema:
        $ref: '#/components/schemas/ConfigurationId'
      x-speakeasy-match: id
  responses:
    ListConfigurationsResponse:
      description: A paginated list for a collection of configurations.
      content:
        application/json:
          schema:
            title: 'ListConfigurationsResponse'
            type: object
            properties:
              meta:
                $ref: '../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigurationManifest'
            required:
              - meta
              - data
    RetrieveConfigurationResponse:
      description: Response format for retrieving a configuration by ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigurationManifest'
    CreateConfigurationResponse:
      description: Response format for creating a configuration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigurationManifest'
    CloudGatewaysBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            Network Name Length Exceeded:
              $ref: '#/components/examples/NetworkNameLengthCheckBadRequestExample'
            Transit Gateway Name Length Exceeded:
              $ref: '#/components/examples/TransitGatewayNameLengthCheckBadRequestExample'
            Custom Domain Domain Length Too Short:
              $ref: '#/components/examples/CustomDomainLengthCheckBadRequestExample'
            Configuration Api Access Enum Validation:
              $ref: '#/components/examples/ConfigurationApiAccessBadRequestExample'
            Configuration Data-Plane Group Static Request Instances Minimum:
              $ref: '#/components/examples/ConfigurationDataPlaneGroupStaticRequestedInstancesBadRequestExample'
            Configuration Data-Plane Group Autopilot Base RPS Minimum:
              $ref: '#/components/examples/ConfigurationDataPlaneGroupAutopilotBaseRpsBadRequestExample'
    CloudGatewaysForbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/ForbiddenError'
          examples:
            Permission Denied:
              $ref: '#/components/examples/PermissionDeniedExample'
            Quota Exceeded:
              $ref: '#/components/examples/QuotaExceededExample'
    CloudGatewaysConflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/ConflictError'
          examples:
            Configuration Conflict:
              $ref: '#/components/examples/ConfigurationConflictExample'
  schemas:
    ConfigurationId:
      type: string
      format: uuid
      example: edaf40f9-9fb0-4ffe-bb74-4e763a6bd471
      readOnly: true
    ControlPlaneGeo:
      title: Control-Plane Geo
      description: Set of control-plane geos supported for deploying cloud-gateways configurations.
      type: string
      enum:
        - us
        - eu
        - au
    CloudGatewaysInstanceTypeName:
      type: string
      enum:
        - small
        - medium
        - large
      description: Instance type name to indicate capacity.
    CloudGatewayApiAccess:
      type: string
      enum:
        - private
        - private+public
        - public
      description: |
        Type of API access dataplane groups will support for a configuration.
      default: private+public
    CloudGatewaysProviderName:
      description: Name of cloud provider.
      type: string
      enum:
        - aws
        - azure
      example: 'aws'
    DataPlaneGroupAutoscale:
      oneOf:
        - $ref: '#/components/schemas/DataPlaneGroupAutoscaleStatic'
        - $ref: '#/components/schemas/DataPlaneGroupAutoscaleAutopilot'
    DataPlaneGroupAutoscaleStatic:
      title: Data-Plane Group Autoscale Static
      description: Object that describes the static autoscaling strategy.
      type: object
      properties:
        kind:
          type: string
          enum:
            - static
        instance_type:
          $ref: '#/components/schemas/CloudGatewaysInstanceTypeName'
        requested_instances:
          type: integer
          example: 3
          description: Number of cloud gateways the deployment target will contain.
      required:
        - kind
        - instance_type
        - requested_instances
      additionalProperties: false
    DataPlaneGroupAutoscaleAutopilot:
      title: Data-Plane Group Autoscale Autopilot
      description: Object that describes the autopilot autoscaling strategy.
      type: object
      properties:
        kind:
          type: string
          enum:
            - autopilot
        base_rps:
          type: integer
          example: 1
          description: Base number of requests per second that the deployment target should support.
        max_rps:
          type: integer
          example: 1000
          description: Max number of requests per second that the deployment target should support. If not set, this defaults to 10x base_rps.
      required:
        - kind
        - base_rps
      additionalProperties: false
    DedicatedDataPlaneGroupConfigItem:
      title: Dedicated Data-Plane Group Configuration
      description: Object that describes where a data-plane group will be deployed to, along with how many instances.
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/CloudGatewaysProviderName'
        region:
          type: string
          example: 'us-east-2'
          description: Region of cloud provider the cloud gateways will be deployed to.
        cloud_gateway_network_id:
          type: string
          format: uuid
          description: Network ID this dataplane group is attached to.
        autoscale:
          $ref: '#/components/schemas/DataPlaneGroupAutoscale'
        environment:
          $ref: '#/components/schemas/DataPlaneGroupEnvironmentConfigurations'
      required:
        - autoscale
        - provider
        - region
        - cloud_gateway_network_id
      additionalProperties: false
    ServerlessDataPlaneGroupConfigItem:
      title: Serverless Data-Plane Group Configuration
      description: |
        Object that describes where a serverless data-plane group will be deployed to.
      type: object
      properties:
        region:
          type: string
          example: 'us'
          description: Region of cloud provider the cloud gateways will be deployed to.
      required:
        - region
      additionalProperties: false
    DataPlaneGroupEnvironmentConfigurations:
      title: Data-Plane Group Environment Configurations
      description: Array of environment configurations for a data-plane group.
      type: array
      items:
        $ref: '#/components/schemas/DataPlaneGroupEnvironmentConfigurationItem'
    DataPlaneGroupEnvironmentConfigurationItem:
      title: Data-Plane Group Environment Configurations
      description: Object that describes the environment configurations for a data-plane group. Env names must be prefixed by KONG_.
      type: object
      properties:
        name:
          type: string
          example: KONG_LOG_LEVEL
          description: Name of environment variable. Only env names prefixed by KONG_ are allowed.
        value:
          type: string
          example: INFO
          description: Value assigned to the corresponding environment variable.
      required:
        - name
        - value
      additionalProperties: false
    DedicatedDataPlaneGroupConfig:
      title: Dedicated Data-Plane Groups Configuration
      description: Object that describes where dedicated gateways will be deployed to, along with how many instances.
      type: array
      items:
        $ref: '#/components/schemas/DedicatedDataPlaneGroupConfigItem'
    DedicatedDataPlaneGroup:
      title: Dedicated Data-Plane Group
      description: Object that describes the set of dedicated data-plane groups currently pointed to a configuration.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 14a74117-868a-4859-bf6c-eb2fe301a6ab
          description: ID of the dataplane group that represents this deployment target.
        provider:
          $ref: '#/components/schemas/CloudGatewaysProviderName'
        region:
          type: string
          example: 'us-east-2'
          description: Region of cloud provider the cloud gateways will be deployed to.
        autoscale:
          $ref: '#/components/schemas/DataPlaneGroupAutoscale'
        environment:
          $ref: '#/components/schemas/DataPlaneGroupEnvironmentConfigurations'
        cloud_gateway_network_id:
          type: string
          format: uuid
          description: Network ID this dataplane group is attached to.
        state:
          type: string
          enum:
            - created
            - initializing
            - ready
            - terminating
            - terminated
          description: State of the dataplane group.
        private_ip_addresses:
          type: array
          items:
            type: string
          description: |
            List of private IP addresses of the internal load balancer that proxies traffic to this dataplane group.
        egress_ip_addresses:
          type: array
          items:
            type: string
          description: |
            List of egress IP addresses for the network that this dataplane group runs on.
        hostnames:
          type: array
          items:
            type: string
          description: List of hostnames for proxying to the data-plane group.
        created_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of data-plane group creation date.
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of data-plane group update date.
          readOnly: true
      required:
        - id
        - provider
        - region
        - autoscale
        - cloud_gateway_network_id
        - state
        - created_at
        - updated_at
    ServerlessDataPlaneGroupConfig:
      title: Serverless Data-Plane Groups Configuration
      description: Object that describes where serverless gateways will be deployed to, along with how many instances.
      type: array
      items:
        $ref: '#/components/schemas/ServerlessDataPlaneGroupConfigItem'
    ServerlessDataPlaneGroup:
      title: Serverless Data-Plane Group
      description: Object that describes a serverless data-plane group, deployed for a control-plane.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 14a74117-868a-4859-bf6c-eb2fe301a6ab
          description: ID of the data-plane group that represents the deployment target.
        region:
          type: string
          example: 'us'
          description: Serverless region the gateway will be deployed to.
        state:
          type: string
          enum:
            - created
            - initializing
            - ready
            - terminating
            - terminated
          description: State of the data-plane group.
        hostnames:
          type: array
          items:
            type: string
          description: List of hostnames for proxying to the serverless data-plane group.
        created_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of data-plane group creation date.
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of data-plane group update date.
          readOnly: true
      required:
        - id
        - region
        - state
        - created_at
        - updated_at
    BaseConfigurationManifest:
      title: Base Configuration
      type: object
      discriminator:
        propertyName: kind
        mapping:
          'serverless.v0': '#/components/schemas/ServerlessConfigurationManifest'
          'dedicated.v0': '#/components/schemas/DedicatedConfigurationManifest'
      properties:
        id:
          type: string
          format: uuid
          example: f521675a-af6b-4684-be7b-43bc27b20543
          description: ID of the configuration.
          readOnly: true
        kind:
          type: string
          enum:
            - dedicated.v0
            - serverless.v0
        control_plane_id:
          type: string
          format: uuid
          example: b5922611-a763-499e-8d86-5643de122768
          description: ID of the control-plane a configuration belongs to.
          readOnly: true
        control_plane_geo:
          $ref: '#/components/schemas/ControlPlaneGeo'
      required:
        - id
        - kind
        - control_plane_id
        - control_plane_geo
    DedicatedConfigurationManifest:
      title: Dedicated Configuration
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseConfigurationManifest'
        - properties:
            kind:
              type: string
              enum:
                - dedicated.v0
            version:
              type: string
              pattern: '^(\d)+(\.(\d)+)?$'
              example: '3.2'
              description: Gateway version the gateway configuration targets.
            api_access:
              $ref: '#/components/schemas/CloudGatewayApiAccess'
            dataplane_group_config:
              $ref: '#/components/schemas/DedicatedDataPlaneGroupConfig'
            dataplane_groups:
              type: array
              description: List of data-plane groups that describe where dedicated gateways are deployed to, along with how many instances.
              items:
                $ref: '#/components/schemas/DedicatedDataPlaneGroup'
            entity_version:
              type: number
              example: 1
              description: Positive, monotonically increasing version integer, to serialize configuration changes.
              readOnly: true
            created_at:
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: An ISO-8604 timestamp representation of configuration creation date.
              readOnly: true
            updated_at:
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: An ISO-8604 timestamp representation of configuration update date.
              readOnly: true
          required:
            - id
            - kind
            - version
            - dataplane_group_config
            - dataplane_groups
            - entity_version
            - created_at
            - updated_at
    ServerlessConfigurationManifest:
      title: Serverless Configuration
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseConfigurationManifest'
        - properties:
            kind:
              type: string
              enum:
                - serverless.v0
            dataplane_group_config:
              $ref: '#/components/schemas/ServerlessDataPlaneGroupConfig'
            dataplane_groups:
              type: array
              description: List of data-plane groups describe where serverless gateways are deployed to, along with how many instances.
              items:
                $ref: '#/components/schemas/ServerlessDataPlaneGroup'
            entity_version:
              type: number
              example: 1
              description: Positive, monotonically increasing version integer, to serialize configuration changes.
              readOnly: true
            created_at:
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: An ISO-8604 timestamp representation of configuration creation date.
              readOnly: true
            updated_at:
              type: string
              format: date-time
              example: '2022-11-04T20:10:06.927Z'
              description: An ISO-8604 timestamp representation of configuration update date.
              readOnly: true
          required:
            - id
            - kind
            - dataplane_group_config
            - dataplane_groups
            - entity_version
            - created_at
            - updated_at
    ConfigurationManifest:
      title: Configuration
      description: Object containing information about a control-plane's cloud-gateways configuration.
      type: object
      oneOf:
        - $ref: '#/components/schemas/DedicatedConfigurationManifest'
        - $ref: '#/components/schemas/ServerlessConfigurationManifest'
    DedicatedCreateDataPlaneGroup:
      title: 'CreateCloudGatewayConfigurationDataplaneGroup'
      description: Object that describes where to deploy a dedicated gateway, along with how many instances.
      type: object
      additionalProperties: false
      properties:
        provider:
          $ref: '#/components/schemas/CloudGatewaysProviderName'
        region:
          type: string
          example: 'us-east-2'
          description: Region of cloud provider to deploy dedicated gateways to.
        cloud_gateway_network_id:
          type: string
          format: uuid
          description: Network ID data-plane group will be attached to.
        autoscale:
          $ref: '#/components/schemas/DataPlaneGroupAutoscale'
        environment:
          $ref: '#/components/schemas/DataPlaneGroupEnvironmentConfigurations'
      required:
        - autoscale
        - provider
        - region
        - cloud_gateway_network_id
    ServerlessCreateDataPlaneGroup:
      type: object
      additionalProperties: false
      properties:
        region:
          type: string
          example: us
          description: Region to deploy serverless gateways to.
      required:
        - region
    BaseCreateConfigurationRequest:
      title: Base Create Configuration Request
      type: object
      discriminator:
        propertyName: kind
        mapping:
          'serverless.v0': '#/components/schemas/ServerlessCreateConfigurationRequest'
          'dedicated.v0': '#/components/schemas/DedicatedCreateConfigurationRequest'
      properties:
        kind:
          type: string
          description: |
            Provisioning backend to use for deploying data-plane groups.
          enum:
            - dedicated.v0
            - serverless.v0
        control_plane_id:
          type: string
          format: uuid
          example: b5922611-a763-499e-8d86-5643de122768
          description: ID of the control-plane this configuration belongs to.
        control_plane_geo:
          $ref: '#/components/schemas/ControlPlaneGeo'
      required:
        - kind
        - control_plane_id
        - control_plane_geo
    DedicatedCreateConfigurationRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCreateConfigurationRequest'
        - properties:
            kind:
              type: string
              description: |
                Provisioning backend to use for deploying data-plane groups.
              enum:
                - dedicated.v0
            version:
              type: string
              description: Gateway version to configure data-plane groups with.
              pattern: '^(\d)+(\.(\d)+)?$'
              example: '3.2'
            dataplane_groups:
              type: array
              description: List of data-plane groups that describe where to deploy instances, along with how many instances.
              items:
                $ref: '#/components/schemas/DedicatedCreateDataPlaneGroup'
            api_access:
              $ref: '#/components/schemas/CloudGatewayApiAccess'
          required:
            - version
            - dataplane_groups
    ServerlessCreateConfigurationRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseCreateConfigurationRequest'
        - properties:
            kind:
              type: string
              description: |
                Provisioning backend to use for deploying data-plane groups.
              enum:
                - serverless.v0
            dataplane_groups:
              type: array
              maxLength: 1
              description: |
                List of data-plane groups that describe where to deploy serverless instances, along with how many
                instances. As part of serverless business logic, the max number of data-plane groups a serverless
                configuration can have is 1.
              items:
                $ref: '#/components/schemas/ServerlessCreateDataPlaneGroup'
          required:
            - dataplane_groups
    CreateConfigurationRequest:
      title: 'CreateConfigurationRequest'
      description: Request schema for creating a configuration.
      type: object
      oneOf:
        - $ref: '#/components/schemas/DedicatedCreateConfigurationRequest'
        - $ref: '#/components/schemas/ServerlessCreateConfigurationRequest'
    ConfigurationsFilterParameters:
      title: 'ConfigurationsFilterParameters'
      type: object
      additionalProperties: false
      properties:
        control_plane_id:
          $ref: '../../../../common/definitions/aip_filters.yaml#/components/schemas/UuidFieldFilter'
        control_plane_geo:
          $ref: '#/components/schemas/ControlPlaneGeoFieldFilter'
    ControlPlaneGeoFieldFilter:
      title: 'ControlPlaneGeoFieldFilter'
      oneOf:
        - $ref: '#/components/schemas/ControlPlaneGeoFieldEqualsFilter'
        - $ref: '#/components/schemas/ControlPlaneGeoFieldNotEqualsFilter'
        - $ref: '#/components/schemas/ControlPlaneGeoFieldOrEqualityFilter'
    ControlPlaneGeoFieldEqualsFilter:
      x-examples:
        example-1: 'us'
        example-2:
          eq: 'us'
      title: ControlPlaneGeoFieldEqualsFilter
      description: Filter a control-plane geo by exact match.
      oneOf:
        - $ref: '#/components/schemas/ControlPlaneGeo'
        - type: object
          title: ControlPlaneGeoFieldEqualsComparison
          properties:
            eq:
              $ref: '#/components/schemas/ControlPlaneGeo'
          required:
            - eq
    ControlPlaneGeoFieldNotEqualsFilter:
      x-examples:
        example-1:
          neq: 'us'
      title: ControlPlaneGeoFieldNotEqualsFilter
      description: Filter a control-plane geo by inequality match.
      type: object
      properties:
        neq:
          $ref: '#/components/schemas/ControlPlaneGeo'
      required:
        - neq
    ControlPlaneGeoFieldOrEqualityFilter:
      x-examples:
        example-1:
          oeq: 'us,eu'
      title: ControlPlaneGeoFieldOrEqualityFilter
      description: |
        Filter a control-plane geo by determining if the value is equal to any in a set of values, where the set is a
        comma-delimited list.
      type: object
      properties:
        oeq:
          type: string
      required:
        - oeq
  examples:
    PermissionDeniedExample:
      value:
        status: 403
        title: Forbidden
        instance: 'konnect:trace:2822394689570210664'
        detail: You do not have permission to perform this action.
    QuotaExceededExample:
      value:
        status: 403
        title: Quota Exceeded
        instance: 'konnect:trace:2822394689570210664'
        detail: 'Maximum number of <quota name> exceeded. Max allowed: <quota value>.'
    ConfigurationConflictExample:
      value:
        status: 409
        title: Conflict
        instance: 'konnect:trace:2822394689570210664'
        detail: 'Proposed cloud gateway configuration and current cloud gateway configuration are identical.'
    NetworkNameLengthCheckBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: name
            rule: max_length
            reason: 'name must be shorter than or equal to 120 characters'
            maximum: 120
    TransitGatewayNameLengthCheckBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: name
            rule: max_length
            reason: 'name must be shorter than or equal to 120 characters'
            maximum: 120
    CustomDomainLengthCheckBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: domain
            rule: min_length
            minimum: 1
            reason: 'domain must be longer than or equal to 1 characters'
    ConfigurationApiAccessBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: api_access
            rule: enum
            choices:
              - private
              - public
              - private+public
            reason: 'api_access must be one of the following values: private, public, private+public'
    ConfigurationDataPlaneGroupStaticRequestedInstancesBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: dataplane_groups.0.autoscale.requested_instances
            rule: is_integer
            reason: 'dataplane_groups.0.autoscale.requested_instances must be an integer number'
    ConfigurationDataPlaneGroupAutopilotBaseRpsBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'konnect:trace:2822394689570210664'
        detail: Invalid Parameters
        invalid_parameters:
          - field: dataplane_groups.0.autoscale.base_rps
            rule: is_integer
            reason: 'dataplane_groups.0.autoscale.base_rps must be an integer number'
