openapi: 3.0.2
info:
  title: Konnect API Request Analytics
  version: 2.0.0
  description: The API to query detailed records for every API request proxied by Kong
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Konnect Platform Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Konnect Platform Base URL
  - url: 'https://au.api.konghq.com/v2'
    description: AU Region Konnect Platform Base URL
paths:
  /api-requests:
    post:
      summary: Query API Requests
      operationId: query-requests
      description: Returns API requests that were proxied through the Kong Gateway.
      tags:
        - API Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequestsQuery'
            examples:
              Example multiselect filters:
                $ref: '#/components/examples/ExampleMultiselectFilters'
              Example single select filters:
                $ref: '#/components/examples/ExampleSingleSelectFilters'
              Example numeric filters:
                $ref: '#/components/examples/ExampleNumericFilters'
              Example wildcard filters:
                $ref: '#/components/examples/ExampleWildcardFilters'
              Example empty filters:
                $ref: '#/components/examples/ExampleEmptyFilters'
              Example pagination and absolute time range:
                $ref: '#/components/examples/ExampleAbsoluteTimeRangeAndPagination'
      responses:
        '200':
          $ref: '#/components/responses/AnalyticsRequestsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              examples:
                BadRequestExample:
                  $ref: '#/components/examples/BadRequestExample'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
components:
  schemas:
    AnalyticsRequestsQuery:        
      oneOf:
        - title: Filter by field
          type: object
          additionalProperties: false
          properties:
            filters:
              type: array
              default: []
              items:
                oneOf:
                  - $ref: '#/components/schemas/ApiProductFilterByField'
                  - $ref: '#/components/schemas/ApiProductVersionFilterByField'
                  - $ref: '#/components/schemas/ApplicationFilterByField'
                  - $ref: '#/components/schemas/AuthTypeFilterByField'
                  - $ref: '#/components/schemas/ClientIpFilterByField'
                  - $ref: '#/components/schemas/ConsumerFilterByField'
                  - $ref: '#/components/schemas/ControlPlaneFilterByField'
                  - $ref: '#/components/schemas/ControlPlaneGroupFilterByField'
                  - $ref: '#/components/schemas/DataPlaneNodeFilterByField'
                  - $ref: '#/components/schemas/GatewayServiceFilterByField'
                  - $ref: '#/components/schemas/HeaderHostFilterByField'
                  - $ref: '#/components/schemas/HeaderUserAgentFilterByField'
                  - $ref: '#/components/schemas/HttpMethodFilterByField'
                  - $ref: '#/components/schemas/LatenciesKongGatewayMsFilterByField'
                  - $ref: '#/components/schemas/LatenciesResponseMsFilterByField'
                  - $ref: '#/components/schemas/LatenciesUpstreamMsFilterByField'
                  - $ref: '#/components/schemas/ResponseBodySizeFilterByField'
                  - $ref: '#/components/schemas/ResponseHeaderContentLengthFilterByField'
                  - $ref: '#/components/schemas/ResponseSourceFilterByField'
                  - $ref: '#/components/schemas/RequestBodySizeFilterByField'
                  - $ref: '#/components/schemas/RequestIdFilterByField'
                  - $ref: '#/components/schemas/RequestUriFilterByField'
                  - $ref: '#/components/schemas/ResponseHeaderContentTypeFilterByField'
                  - $ref: '#/components/schemas/RouteFilterByField'
                  - $ref: '#/components/schemas/ServicePortFilterByField'
                  - $ref: '#/components/schemas/ServiceProtocolFilterByField'
                  - $ref: '#/components/schemas/StatusCodeFilterByField'
                  - $ref: '#/components/schemas/StatusCodeGroupedFilterByField'
                  - $ref: '#/components/schemas/TraceIdFilterByField'
                  - $ref: '#/components/schemas/UpstreamStatusCodeFilterByField'
                  - $ref: '#/components/schemas/UpstreamStatusCodeGroupedFilterByField'
                  - $ref: '#/components/schemas/UpstreamUriFilterByField'
            time_range:
              $ref: "#/components/schemas/FilterTimeRange"
            order:
              $ref: "#/components/schemas/FilterOrder"
            size:
              $ref: "#/components/schemas/FilterSize"
            offset:
              $ref: "#/components/schemas/FilterOffset"

        - title: Filter by dimension
          type: object
          deprecated: true
          additionalProperties: false
          properties:
            filters:
              type: array
              default: []
              items:
                oneOf:
                  - $ref: '#/components/schemas/ApiProductFilterByDimension'
                  - $ref: '#/components/schemas/ApiProductVersionFilterByDimension'
                  - $ref: '#/components/schemas/ApplicationFilterByDimension'
                  - $ref: '#/components/schemas/ConsumerFilterByDimension'
                  - $ref: '#/components/schemas/ControlPlaneFilterByDimension'
                  - $ref: '#/components/schemas/ControlPlaneGroupFilterByDimension'
                  - $ref: '#/components/schemas/DataPlaneNodeFilterByDimension'
                  - $ref: '#/components/schemas/GatewayServiceFilterByDimension'
                  - $ref: '#/components/schemas/RouteFilterByDimension'
                  - $ref: '#/components/schemas/StatusCodeFilterByDimension'
                  - $ref: '#/components/schemas/StatusCodeGroupedFilterByDimension'
            time_range:
              $ref: "#/components/schemas/FilterTimeRange"
            order:
              $ref: "#/components/schemas/FilterOrder"
            size:
              $ref: "#/components/schemas/FilterSize"
            offset:
              $ref: "#/components/schemas/FilterOffset"

    FilterTimeRange:
      description: The period of time to return data. Relative time ranges are relative to the current moment. Absolute time ranges specify an unchanging period of time. If not specified, a default relative timeframe of 1 hour will be chosen.
      oneOf:
        - $ref: '#/components/schemas/RequestsRelativeTimeRange'
        - $ref: '#/components/schemas/RequestsAbsoluteTimeRange'
      discriminator:
        propertyName: type
        mapping:
          relative: '#/components/schemas/RequestsRelativeTimeRange'
          absolute: '#/components/schemas/RequestsAbsoluteTimeRange'
      default:
        type: relative
        time_range: 1H
    FilterOrder:
      type: string
      description: Order of results sorted by time.
      enum:
        - ascending
        - descending
      default: descending
    FilterSize:
      type: integer
      description: Number of requests to be returned.
      default: 100
    FilterOffset:
      type: integer
      description: Number of requests to be skipped when returning results.
      default: 0

    RequestsFilterType:
      type: string
      description: The type of filter to apply.  `in` filters will limit results to only the specified values, while `not_in` filters will exclude the specified values.
      enum: [ in, not_in ]
    RequestsFilterTypeEquals:
      type: string
      description: The type of filter to apply.
      enum: [ "=", "!=" ]
    RequestsFilterTypeEmpty:
      type: string
      description: The type of filter to apply.
      enum: [ empty, not_empty ]
    RequestsFilterTypeWildcard:
      type: string
      description: The type of filter to apply. `starts_with` filters will limit the results to those that start with the specified value. `ends_with` will limit the results to those that end with the specified value.
      enum: [ starts_with, ends_with ]
    RequestsFilterTypeNumeric:
      type: string
      description: The type of filter to apply.
      enum: [ "=", "!=", "<", ">", "<=", ">=" ]

    UnscopedUuid:
      type: string
      pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    ScopedUuid:
      type: string
      pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"

    FilterEmpty:
      title: Empty filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEmpty'
      required:
        - operator
    FilterWildcard:
      title: Wildcard filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeWildcard'
        value:
          description: |
            The value to include in the results
          type: string
      required:
        - operator
        - value
    FilterMultiValueUUID:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The IDs to include in the results.
          type: array
          items: 
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - operator
        - value
    FilterSingleValueUUID:
      title: Single select filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEquals'
        value:
          description: |
            The ID to include in the results.
          type: string
          pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      required:
        - operator
        - value
    FilterMultiValueScopedUUID:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The IDs to include in the results. Because gateway IDs are only unique within a given control plane, the filter values must be of the form `control_plane_id:field_id` or `control_plane_group_id:field_id` for data plane nodes within a control plane group.
          type: array
          items:
            $ref: '#/components/schemas/ScopedUuid'
      required:
        - operator
        - value
    FilterSingleValueScopedUUID:
      title: Single select filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEquals'
        value:
          description: |
            The ID to include in the results. Because gateway IDs are only unique within a given control plane, the filter values must be of the form `control_plane_id:field_id` or `control_plane_group_id:field_id` for data plane nodes within a control plane group.
          type: string
          pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      required:
        - operator
        - value
    FilterMultiValueStatusCode:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The codes to include in the results.
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 999
      required:
        - operator
        - value
    FilterSingleValueStatusCode:
      title: Single select filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEquals'
        value:
          description: |
            The code to include in the results.
          type: integer
          minimum: 0
          maximum: 999
      required:
        - operator
        - value
    FilterMultiValueStatusCodeGrouped:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The code groups to include in the results.
          type: array
          items:
            type: string
            pattern: '^\d[xX][xX]$'
      required:
        - operator
        - value
    FilterSingleValueStatusCodeGrouped:
      title: Single select filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEquals'
        value:
          description: |
            The code group to include in the results.
          type: string
          pattern: '^\d[xX][xX]$'
      required:
        - operator
        - value
    FilterMultiValueString:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The values to include in the results.
          type: array
          items:
            type: string
      required:
        - operator
        - value
    FilterSingleValueString:
      title: Single select filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeEquals'
        value:
          description: |
            The value to include in the results
          type: string
      required:
        - operator
        - value
    FilterSingleValueNumericMilliseconds:
      title: Numeric filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeNumeric'
        value:
          description: |
            The value to include in the results. The value should be in milliseconds.
          type: integer
      required:
        - operator
        - value
    FilterMultiValueNumericMilliseconds:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The values to include in the results. The values should be in milliseconds.
          type: array
          items:
            type: integer
      required:
        - operator
        - value
    FilterSingleValueNumericBytes:
      title: Numeric filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterTypeNumeric'
        value:
          description: |
            The value to include in the results. The value should be in bytes.
          type: integer
      required:
        - operator
        - value
    FilterMultiValueNumericBytes:
      title: Multiselect filters
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/RequestsFilterType'
        value:
          description: |
            The values to include in the results. The values should be in bytes.
          type: array
          items:
            type: integer
      required:
        - operator
        - value

    ApplicationFilterByField:
      title: Filter by application
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ application ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueUUID'
          - $ref: '#/components/schemas/FilterSingleValueUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ApplicationFilterByDimension:
      title: Filter by application
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ application ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - dimension
        - type
        - values

    ApiProductFilterByField:
      title: Filter by api_product
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ api_product ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueUUID'
          - $ref: '#/components/schemas/FilterSingleValueUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ApiProductFilterByDimension:
      title: Filter by api_product
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ api_product ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - dimension
        - type
        - values

    ApiProductVersionFilterByField:
      title: Filter by api_product_version
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ api_product_version ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueUUID'
          - $ref: '#/components/schemas/FilterSingleValueUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ApiProductVersionFilterByDimension:
      title: Filter by api_product_version
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ api_product_version ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - dimension
        - type
        - values
  
    AuthTypeFilterByField:
      title: Filter by auth_type
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ auth_type ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    ClientIpFilterByField:
      title: Filter by client_ip
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ client_ip ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    ConsumerFilterByField:
      title: Filter by consumer
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ consumer ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueScopedUUID'
          - $ref: '#/components/schemas/FilterSingleValueScopedUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ConsumerFilterByDimension:
      title: Filter by consumer
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ consumer ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/ScopedUuid'
      required:
        - dimension
        - type
        - values

    ControlPlaneFilterByField:
      title: Filter by control_plane
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ control_plane ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueUUID'
          - $ref: '#/components/schemas/FilterSingleValueUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ControlPlaneFilterByDimension:
      title: Filter by control_plane
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ control_plane ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - dimension
        - type
        - values

    ControlPlaneGroupFilterByField:
      title: Filter by control_plane_group
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ control_plane_group ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueUUID'
          - $ref: '#/components/schemas/FilterSingleValueUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    ControlPlaneGroupFilterByDimension:
      title: Filter by control_plane_group
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ control_plane_group ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/UnscopedUuid'
      required:
        - dimension
        - type
        - values

    DataPlaneNodeFilterByField:
      title: Filter by data_plane_node
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ data_plane_node ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueScopedUUID'
          - $ref: '#/components/schemas/FilterSingleValueScopedUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    DataPlaneNodeFilterByDimension:
      title: Filter by data_plane_node
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ data_plane_node ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items: 
            $ref: '#/components/schemas/ScopedUuid'
      required:
        - dimension
        - type
        - values

    GatewayServiceFilterByField:
      title: Filter by gateway_service
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ gateway_service ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueScopedUUID'
          - $ref: '#/components/schemas/FilterSingleValueScopedUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    GatewayServiceFilterByDimension:
      title: Filter by gateway_service
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ gateway_service ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/ScopedUuid'
      required:
        - dimension
        - type
        - values
    
    HeaderUserAgentFilterByField:
      title: Filter by header_user_agent
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ header_user_agent ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'
    
    HeaderHostFilterByField:
      title: Filter by header_user_host
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ header_user_host ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    HttpMethodFilterByField:
      title: Filter by http_method
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ http_method ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'
 
    LatenciesKongGatewayMsFilterByField:
      title: Filter by latencies_kong_gateway_ms
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ latencies_kong_gateway_ms ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterSingleValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterEmpty'

    LatenciesResponseMsFilterByField:
      title: Filter by latencies_response_ms
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ latencies_response_ms ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterSingleValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterEmpty'

    LatenciesUpstreamMsFilterByField:
      title: Filter by latencies_upstream_ms
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ latencies_upstream_ms ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterSingleValueNumericMilliseconds'
          - $ref: '#/components/schemas/FilterEmpty'

    RequestBodySizeFilterByField:
      title: Filter by request_body_size
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ request_body_size ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericBytes'
          - $ref: '#/components/schemas/FilterSingleValueNumericBytes'
          - $ref: '#/components/schemas/FilterEmpty'

    RequestIdFilterByField:
      title: Filter by request_id
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ request_id ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    RequestUriFilterByField:
      title: Filter by request_uri
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ request_uri ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    ResponseBodySizeFilterByField:
      title: Filter by response_body_size
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ response_body_size ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericBytes'
          - $ref: '#/components/schemas/FilterSingleValueNumericBytes'
          - $ref: '#/components/schemas/FilterEmpty'
    
    ResponseHeaderContentLengthFilterByField:
      title: Filter by response_header_content_length
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ response_body_size ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueNumericBytes'
          - $ref: '#/components/schemas/FilterSingleValueNumericBytes'
          - $ref: '#/components/schemas/FilterEmpty'

    ResponseHeaderContentTypeFilterByField:
      title: Filter by response_header_content_type
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ response_header_content_type ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    ResponseSourceFilterByField:
      title: Filter by response_source
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ response_source ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    RouteFilterByField:
      title: Filter by route
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ route ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueScopedUUID'
          - $ref: '#/components/schemas/FilterSingleValueScopedUUID'
          - $ref: '#/components/schemas/FilterEmpty'
    RouteFilterByDimension:
      title: Filter by route
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ route ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The IDs to include in the results.
          type: array
          items:
            $ref: '#/components/schemas/ScopedUuid'
      required:
        - dimension
        - type
        - values

    ServicePortFilterByField:
      title: Filter by service_port
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ service_port ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    ServiceProtocolFilterByField:
      title: Filter by service_protocol
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ service_protocol ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    StatusCodeFilterByField:
      title: Filter by status_code
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ status_code ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueStatusCode'
          - $ref: '#/components/schemas/FilterSingleValueStatusCode'
          - $ref: '#/components/schemas/FilterEmpty'
    StatusCodeFilterByDimension:
      title: Filter by status_code
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ status_code ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The codes to include in the results.
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 999
      required:
        - dimension
        - type
        - values
    
    StatusCodeGroupedFilterByField:
      title: Filter by status_code_grouped
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ status_code_grouped ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueStatusCodeGrouped'
          - $ref: '#/components/schemas/FilterSingleValueStatusCodeGrouped'
          - $ref: '#/components/schemas/FilterEmpty'
    StatusCodeGroupedFilterByDimension:
      title: Filter by status_code_grouped
      type: object
      properties:
        dimension:
          description: The dimension to filter.  This will be deprecated in favor of `field`.
          type: string
          enum: [ status_code_grouped ]
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The codes to include in the results.
          type: array
          items:
            type: string
            pattern: '^\d[xX][xX]$'
      required:
        - dimension
        - type
        - values

    TraceIdFilterByField:
      title: Filter by trace_id
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ trace_id ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    UpstreamStatusCodeFilterByField:
      title: Filter by upstream_status_code
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ upstream_status_code ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueStatusCode'
          - $ref: '#/components/schemas/FilterSingleValueStatusCode'
          - $ref: '#/components/schemas/FilterEmpty'

    UpstreamStatusCodeGroupedFilterByField:
      title: Filter by upstream_status_code_grouped
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ upstream_status_code_grouped ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueStatusCodeGrouped'
          - $ref: '#/components/schemas/FilterSingleValueStatusCodeGrouped'
          - $ref: '#/components/schemas/FilterEmpty'

    UpstreamUriFilterByField:
      title: Filter by upstream_uri
      allOf:
        - type: object
          properties:
            field:
              description: The field to filter.
              type: string
              enum: [ upstream_uri ]
          required:
            - field
        - oneOf:
          - $ref: '#/components/schemas/FilterMultiValueString'
          - $ref: '#/components/schemas/FilterSingleValueString'
          - $ref: '#/components/schemas/FilterWildcard'
          - $ref: '#/components/schemas/FilterEmpty'

    RequestsRelativeTimeRange:
      type: object
      additionalProperties: false
      properties:
        tz:
          type: string
          default: Etc/UTC
          example: US/Eastern
          description: |
            The time zone of the requestor, provided as a string matching the
            tz database.  This helps determine day boundaries for relative time
            ranges spanning more than 24 hours: for example, submitting a request
            for data from the last 7 days on `2020-01-08T00:00:00` in timezone
            US/Eastern will find results starting from `2020-01-01T05:00:00Z` (UTC).
        type:
          type: string
          enum:
            - relative
          description: |
            Request data from a time relative to the current time.
        time_range:
          type: string
          enum:
            - 15M
            - 1H
            - 6H
            - 12H
            - 24H
            - 7D
          default: 12H
          description: |
            Return results from the last fifteen minutes, one hour, six hours, etc.
      required:
        - type
        - time_range
    RequestsAbsoluteTimeRange:
      type: object
      additionalProperties: false
      properties:
        tz:
          type: string
          default: Etc/UTC
          example: US/Eastern
          description: |
            The time zone of the requestor.  This is used to localize the start
            and end times, if desired: for example, requesting a start time of
            `2020-01-01T00:00:00` in timezone US/Eastern will find results
            starting from `2020-01-01T05:00:00Z` (UTC).
        type:
          type: string
          enum:
            - absolute
          description: |
            Request data from a specific time range.  Note that the requested
            times must be within the data retention period for your organization.
        start:
          format: date-time
          type: string
          example: 2020-01-01T00:00:00
          description: The start time in the given timezone.
        end:
          format: date-time
          type: string
          example: 2020-01-01T00:00:00
          description: The end time in the given timezone.
      required:
        - type
        - start
        - end
    ResponseMeta:
      type: object
      additionalProperties: false
      description: Meta information about the returned query response.
      properties:
        time_range:
          type: object
          description: Period of time data is returned for.
          additionalProperties: false
          properties:
            start:
              type: string
              format: date-time
              description: Timestamp specifying the lower bound of the query's time range.
            end:
              type: string
              format: date-time
              description: Timestamp specifying the upper bound of the query's time range.
        query_id:
          type: string
          description: Unique identifier for the query; can be used to debug issues.
        size:
          type: integer
          description: Number of requests returned.
          default: 100
        offset:
          type: integer
          description: Number of requests skipped when returning results.
          default: 0
      required:
        - time_range
        - query_id
        - size
        - offset
    ResponseResults:
      type: array
      description: Mapping of the columns to values.
      items:
        type: object
        additionalProperties: false
        properties:
          request_start:
            type: string
            description: The time the gateway started processing the request.
          application:
            type: string
            description: Application ID associated with the request.
            nullable: true
          api_product:
            type: string
            description: API Product ID associated with the request.
            nullable: true
          api_product_version:
            type: string
            description: API Product Version ID associated with the request.
            nullable: true
          auth_type:
            type: string
            description: Type of authorization plugin associated with the request. Values are `key-auth` or `openid-connect`.
            nullable: true
          client_ip:
            type: string
            description: Client IP associated with the request.
            nullable: true
          consumer:
            type: string
            description: Consumer ID associated with the request. In the format `control_plane_id:consumer_id`.
            nullable: true
          control_plane:
            type: string
            description: Control Plane ID associated with the request.
            nullable: true
          control_plane_group:
            type: string
            description: Control Plane Group ID associated with the request.
            nullable: true
          data_plane_node:
            type: string
            description: Data Plane Node ID associated with the request. In the format `control_plane_id:data_plane_node_id` if the node belongs to a control plane or `control_plane_group_id:data_plane_node_id` if the node belongs to a control plane group.
          gateway_service:
            type: string
            description: Gateway Service ID associated with the request. In the format `control_plane_id:gateway_service_id`.
            nullable: true
          header_host:
            type: string
            description: Header host associated with the request.
            nullable: true
          header_user_agent:
            type: string
            description: Header user agent associated with the request.
            nullable: true
          http_method:
            type: string
            description: HTTP method associated with the request.
            nullable: true
          latencies_kong_gateway_ms:
            type: integer
            description: Kong Gateway latency of the request in milliseconds.
            nullable: true
          latencies_response_ms:
            type: integer
            description: Response latency of the request in milliseconds.
            nullable: true
          latencies_upstream_ms:
            type: integer
            description: Upstream latency of the request in milliseconds.
            nullable: true
          ratelimit_enabled:
            type: integer
            description: True if rate limiting is enabled for at least one of the intervals second, minute, hour, day, year.
          ratelimit_enabled_day:
            type: integer
            description: True if rate limiting is enabled for the day interval.
          ratelimit_enabled_hour:
            type: integer
            description: True if rate limiting is enabled for the hour interval.
          ratelimit_enabled_minute:
            type: integer
            description: True if rate limiting is enabled for the minute interval.
          ratelimit_enabled_month:
            type: integer
            description: True if rate limiting is enabled for the month interval.
          ratelimit_enabled_second:
            type: integer
            description: True if rate limiting is enabled for the second interval.
          ratelimit_enabled_year:
            type: integer
            description: True if rate limiting is enabled for the year interval.
          ratelimit_limit:
            type: integer
            description: Rate limit value.
          ratelimit_limit_day:
            type: integer
            description: Rate limit value for requests per day.
          ratelimit_limit_hour:
            type: integer
            description: Rate limit value for requests per hour.
          ratelimit_limit_minute:
            type: integer
            description: Rate limit value for requests per minute.
          ratelimit_limit_month:
            type: integer
            description: Rate limit value for requests per month.
          ratelimit_limit_second:
            type: integer
            description: Rate limit value for requests per second.
            nullable: true
          ratelimit_limit_year:
            type: integer
            description: Rate limit value for requests per year.
            nullable: true
          ratelimit_remaining:
            type: integer
            description: Number of requests remaining until the limit is hit.
            nullable: true
          ratelimit_remaining_day:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per day.
            nullable: true
          ratelimit_remaining_hour:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per hour.
            nullable: true
          ratelimit_remaining_minute:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per minute.
            nullable: true
          ratelimit_remaining_month:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per month.
            nullable: true
          ratelimit_remaining_second:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per second.
            nullable: true
          ratelimit_remaining_year:
            type: integer
            description: Number of requests remaining until the limit is hit for requests per year.
            nullable: true
          ratelimit_reset:
            type: integer
            description: The time, in seconds, until the quota is reset.
            nullable: true
          request_body_size:
            type: integer
            description: Request body size of the request in bytes.
            nullable: true
          request_id:
            type: string
            description: Request ID associated with the request.
            nullable: true
          request_uri:
            type: string
            description: Request URI associated with the request.
            nullable: true
          response_body_size:
            type: integer
            description: Response body size of the request in bytes.
            nullable: true
          response_header_content_length:
            type: integer
            description:  Response header content length in bytes.
            nullable: true
          response_header_content_type:
            type: string
            description: The content type for the returned response.
            nullable: true
          response_http_status:
            type: string
            description: Response HTTP status code returned from the request.
            nullable: true
          response_source:
            type: string
            description: Response source associated with the response status.
            nullable: true
          route:
            type: string
            description: Route ID associated with the request. In the format `control_plane_id:route_id`.
            nullable: true
          service_port:
            type: string
            description: Service port associated with the request.
            nullable: true
          service_protocol:
            type: string
            description: Service protocol associated with the request.
            nullable: true
          trace_id:
            type: string
            description: ID used to trace the query.
            nullable: true
          upstream_status:
            type: integer
            description: Upstream URI associated with the request.
            nullable: true
          upstream_uri:
            type: string
            description: Upstream URI associated with the request.
            nullable: true
  responses:
    AnalyticsRequestsResponse:
      description: Response from the Analytics Requests API.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              results:
                $ref: '#/components/schemas/ResponseResults'
              meta:
                $ref: '#/components/schemas/ResponseMeta'
            required:
              - results
              - meta
          examples:
            Response example:
              $ref: '#/components/examples/ResponseExample'
  examples:
    BadRequestExample:
      value: {
        "status": 400,
        "title": "Invalid Request",
        "instance": "kong:trace:6591723055278037644",
        "detail": "Invalid Parameters",
        "invalid_parameters": [
          {
            "field": "time_range.time_range",
            "rule": "unknown_property",
            "choices": [],
            "reason": "property time_range should not exist"
          },
        ]
      }
    ExampleMultiselectFilters:
      value: {
        "time_range": {
          "type": "relative",
          "time_range": "24H",
          "tz": "EST"
        },
        "filters": [
          {
            "operator": "in",
            "field": "api_product",
            "value": [
              "523468b1-2e74-4b58-b30e-6f904e99e4d0",
              "c19b3f76-ef71-484a-bbc8-a07812a980b3"
            ]
          },
          {
            "operator": "in",
            "field": "gateway_service",
            "value": [
              "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0"
            ]
          },
          {
            "operator": "not_in",
            "field": "http_method",
            "value": [
              "OPTIONS",
              "GET"
            ]
          },
          {
            "operator": "not_in",
            "field": "status_code_grouped",
            "value": [
              '2XX'
            ]
          },
          {
            "operator": "not_in",
            "field": "status_code",
            "value": [
              200
            ]
          },
        ],
      }
    ExampleSingleSelectFilters:
      value: {
        "time_range": {
          "type": "relative",
          "time_range": "24H",
          "tz": "EST"
        },
        "filters": [
          {
            "operator": "=",
            "field": "application",
            "value": "bc2587ae-a35e-4a34-b6b2-f4ca5ae06dc9",
          },
          {
            "operator": "!=",
            "field": "route",
            "value": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0"
          },
          {
            "operator": "=",
            "field": "service_protocol",
            "value": "https"            
          },
          {
            "operator": "=",
            "field": "status_code_grouped",
            "value": '5XX'
          },
        ],
      }
    ExampleNumericFilters:
      value: {
        "time_range": {
          "type": "relative",
          "time_range": "15M",
          "tz": "EST"
        },
        "filters": [
          {
            "operator": ">=",
            "field": "latencies_response_ms",
            "value": 5000
          },
          {
            "operator": "<",
            "field": "latencies_response_ms",
            "value": 10000
          },
          {
            "operator": "=",
            "field": "status_code",
            "value": 500
          }
        ],
      }
    ExampleWildcardFilters:
      value: {
        "time_range": {
          "type": "relative",
          "time_range": "15M",
          "tz": "EST"
        },
        "filters": [
          {
            "operator": "starts_with",
            "field": "request_uri",
            "value": "/users/"
          },
          {
            "operator": "ends_with",
            "field": "request_uri",
            "value": "v2/accounts"
          },
        ],
      }
    ExampleEmptyFilters:
      value: {
        "time_range": {
          "type": "relative",
          "time_range": "15M",
          "tz": "EST"
        },
        "filters": [
          {
            "operator": "not_empty",
            "field": "api_product",
          },
          {
            "operator": "empty",
            "field": "consumer"  
          }
        ],
      }
    ExampleAbsoluteTimeRangeAndPagination:
      value: {
        "time_range": {
          "type": "absolute",
          "start": "2023-08-12T00:00:00",
          "end": "2023-08-13T00:00:00",
          "tz": "America/Denver"
        },
        "filters": [
          {
            "operator": "in",
            "field": "application",
            "value": [
              "147bbc1a-b58a-484f-afd2-6479a70c0548"
            ]
          },
        ],
        "size": 10,
        "offset": 100
      }
    ResponseExample:
      value: {
        "results": [
          {
            "request_start": "2020-02-02T01:00:00.000Z",
            "api_product": "523468b1-2e74-4b58-b30e-6f904e99e4d0",
            "api_product_version": "d40a6dd7-37e8-4937-8dfd-9fa988c7fc3e",
            "application": "bc2587ae-a35e-4a34-b6b2-f4ca5ae06dc9",
            "auth_type": "key-auth",
            "client_ip": "131.174.120.249",
            "consumer": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:d69557ff-277c-4579-a821-4f8d158ae070",
            "control_plane": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219",
            "control_plane_group": "cafe2d4f-95ec-458c-8c88-62417018678d",
            "data_plane_node": "cafe2d4f-95ec-458c-8c88-62417018678d:122a0f86-029c-4292-82fd-f3b38e1cfa60",
            "gateway_service": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0",
            "header_host": "google.com",
            "header_user_agent": "Mozilla/4.0 (compatible; Flight Explorer)",
            "http_method": "OPTIONS",
            "latencies_kong_gateway_ms": 2,
            "latencies_response_ms": 117,
            "latencies_upstream_ms": 115,
            "ratelimit_enabled": 1,
            "ratelimit_enabled_day": 0,
            "ratelimit_enabled_hour": 0,
            "ratelimit_enabled_minute": 1,
            "ratelimit_enabled_month": 0,
            "ratelimit_enabled_second": 0,
            "ratelimit_enabled_year": 0,
            "ratelimit_limit": 0,
            "ratelimit_limit_day": 0,
            "ratelimit_limit_hour": 0,
            "ratelimit_limit_minute": 2000,
            "ratelimit_limit_month": 0,
            "ratelimit_limit_second": 0,
            "ratelimit_limit_year": 0,
            "ratelimit_remaining": 498,
            "ratelimit_remaining_day": 0,
            "ratelimit_remaining_hour": 0,
            "ratelimit_remaining_minute": 1997,
            "ratelimit_remaining_month": 0,
            "ratelimit_remaining_second": 0,
            "ratelimit_remaining_year": 0,
            "ratelimit_reset": 0,
            "request_body_size": 182,
            "request_id": "f3043125bdec40385195f20db7e0491b",
            "request_uri": "/notifications/graphql",
            "response_body_size": 431,
            "response_header_content_length": 41,
            "response_header_content_type": "application/json; charset=utf-8",
            "response_http_status": "204",
            "route": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4",
            "service_port": "4000",
            "service_protocol": "http",
            "trace_id": 36b95ea3a6be443d11866fb5d2a8ba6b,
            "upstream_status": null,
            "upstream_uri": "/graphql"
          },
          {
            "request_start": "2020-02-02T01:00:01.050Z",
            "api_product": "b866c867-60e6-4258-adb3-e136cc26388b",
            "api_product_version": "3807c200-3d10-445d-85b2-7afe07ca3932",
            "application": null,
            "auth_type": null,
            "client_ip": "131.174.120.249",
            "consumer": null,
            "control_plane": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219",
            "control_plane_group": null,
            "data_plane_node": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:a3e0692c-2351-4c8e-acbe-e7a5185147de",
            "gateway_service": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0",
            "header_host": "proxy-zyq.com",
            "header_user_agent": "python-works",
            "http_method": "GET",
            "latencies_kong_gateway_ms": 2,
            "latencies_response_ms": 12,
            "latencies_upstream_ms": 10,
            "ratelimit_enabled": 1,
            "ratelimit_enabled_day": 0,
            "ratelimit_enabled_hour": 1,
            "ratelimit_enabled_minute": 0,
            "ratelimit_enabled_month": 0,
            "ratelimit_enabled_second": 1,
            "ratelimit_enabled_year": 0,
            "ratelimit_limit": 100,
            "ratelimit_limit_day": 0,
            "ratelimit_limit_hour": 30000,
            "ratelimit_limit_minute": 0,
            "ratelimit_limit_month": 0,
            "ratelimit_limit_second": 100,
            "ratelimit_limit_year": 0,
            "ratelimit_remaining": 99,
            "ratelimit_remaining_day": 0,
            "ratelimit_remaining_hour": 29981,
            "ratelimit_remaining_minute": 0,
            "ratelimit_remaining_month": 0,
            "ratelimit_remaining_second": 99,
            "ratelimit_remaining_year": 0,
            "ratelimit_reset": 0,
            "request_body_size": 258,
            "request_id": "a193bb0fefadcd3948cebc2c2c63a500",
            "request_uri": "/users",
            "response_body_size": 390,
            "response_header_content_length": 102,
            "response_header_content_type": "text/html",
            "response_http_status": "200",
            "response_source": "upstream",
            "route": "d5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4",
            "service_port": "443",
            "service_protocol": "https",
            "trace_id": 77ea76d5f4e24fcae336d3ec2c9c92e3,
            "upstream_status": 200,
            "upstream_uri": "/users"
          }
        ],
        "meta": {
          "size": 15,
          "offset": 0,
          "query_id": "apilog-11AF3891-C638-43E6-A85A-4EBCCAF0E690",
          "time_range": {
            "start": "2020-02-02T00:00:00.000Z",
            "end": "2020-02-03T00:00:00.000Z"
          }
        }
      }
  securitySchemes:
    personalAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
security:
  - personalAccessToken: []
tags:
  - name: API Requests
