openapi: 3.0.2
info:
  title: Konnect Audit Log Settings
  version: 2.0.0
  description: The API for configuring Kong Konnect Audit Logs.
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU URL
  - url: 'https://au.api.konghq.com/v2'
    description: AU URL
paths:
  /audit-log-replay-job:
    put:
      summary: Update Audit Log Replay Job
      description: Updates a job to re-send audit logs to an organization's webhook.
      operationId: update-audit-log-replay-job
      requestBody:
        $ref: '#/components/requestBodies/ReplaceAuditLogReplayJob'
      tags: [Audit Logs]
      responses:
        '202':
          $ref: '#/components/responses/AuditLogReplayJob'
        '400':
          $ref: '#/components/responses/ReplayJobBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/ReplayJobConflict'
    get:
      summary: Get Audit Log Replay Job
      description: Returns the audit log replay job's configuration and status.
      operationId: get-audit-log-replay-job
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogReplayJob'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  /audit-log-webhook:
    patch:
      summary: Update Audit Log Webhook
      description: Updates the configuration for a webhook to receive audit logs.
      operationId: update-audit-log-webhook
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuditLogWebhook'
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '400':
          $ref: '#/components/responses/WebhookBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
    get:
      summary: Get Audit Log Webhook
      description: Returns configuration for the audit log webhook.
      operationId: get-audit-log-webhook
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhook'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  /audit-log-webhook/status:
    get:
      summary: Get Audit Log Webhook Status
      description: Returns status of the audit log webhook.
      operationId: get-audit-log-webhook-status
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogWebhookStatus'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  /audit-log-webhook/jwks.json:
    get:
      operationId: get-audit-log-jwks
      summary: Get Audit Log JSON Web Keys
      description:
        Returns the public keys used to sign audit log entries in order to verify the
        validity of audit log entries.
      tags:
        - Audit Logs
      responses:
        '200':
          $ref: '#/components/responses/JWKS'
  /audit-log-destinations:
    get:
      summary: Get Audit Log Destinations
      description: Returns configuration for the audit log destinations.
      operationId: get-audit-log-destinations
      tags: [ Audit Logs ]
      parameters:
        - $ref: '../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../common/definitions/metadatas.yaml#/components/parameters/PageAfter'
        - $ref: '../../../../common/definitions/metadatas.yaml#/components/parameters/PageBefore'
        - schema:
            type: object
            properties:
              name:
                $ref: '../../../../common/definitions/filters.yaml#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter destinations returned in the response.
          required: false
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/AuditLogDestinationCollection'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
    post:
      summary: Create Audit Log Destination
      description: Creates a configuration for the audit log destination.
      operationId: create-audit-log-destination
      tags: [ Audit Logs ]
      requestBody:
        $ref: '#/components/requestBodies/CreateAuditLogDestination'
      responses:
        '201':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '400':
          $ref: '#/components/responses/AuditLogDestinationBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
  /audit-log-destinations/{auditLogDestinationId}:
    parameters:
      - $ref: >-
          ../../../../common/definitions/konnect_properties.yaml#/components/parameters/AuditLogDestinationId
    get:
      summary: Get Audit Log Destination
      description: Returns configuration for the audit log destination.
      operationId: get-audit-log-destination
      tags: [Audit Logs]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    patch:
      summary: Update Audit Log Destination
      description: Updates configuration for the audit log destination.
      operationId: update-audit-log-destination
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuditLogDestination'
      tags: [ Audit Logs ]
      responses:
        '200':
          $ref: '#/components/responses/AuditLogDestinationSingle'
        '400':
          $ref: '#/components/responses/AuditLogDestinationBadRequest'
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/NotFound'
    delete:
      summary: Delete Audit Log Destination
      description: Deletes configuration for the audit log destination.
      operationId: delete-audit-log-destination
      tags: [ Audit Logs ]
      responses:
        '204':
          description: No Content
        '401':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Conflict'
  /internal/logstreams:
    post:
      summary: Create Authentication failure logs
      description:
        This webhook endpoint Creates login failure audit logs using
        log stream sent by external vendor services (Currently Auth0).
      operationId: create-authn-failure-audit-logs
      x-internal: true
      tags: [ Audit Logs ]
      requestBody:
        $ref: '#/components/requestBodies/AuthFailureLogs'
      responses:
        '204':
          description: No Content
        '403':
          $ref: '../../../../common/definitions/errors.yaml#/components/responses/Forbidden'
components:
  responses:
    AuditLogReplayJob:
      description: Response from fetching or updating an audit log replay job
      content:
        application/json:
          schema:
            type: object
            properties:
              start_at:
                type: string
                format: date-time
                example: '2017-07-21T17:32:28Z'
                description: The start of a date-time range. Initial value is 0001-01-01T00:00:0Z.
              end_at:
                type: string
                format: date-time
                example: '2017-07-21T17:32:28Z'
                description: The end of a date-time range. Initial value is 0001-01-01T00:00:0Z.
              status:
                type: string
                enum:
                  [unconfigured, accepted, pending, running, completed, failed]
                readOnly: true
              updated_at:
                type: string
                description: Timestamp when this job was last updated. Initial value is 0001-01-01T00:00:0Z.
                format: date-time
                readOnly: true
    AuditLogWebhook:
      description: Get response for audit log webhook
      content:
        application/json:
          schema:
            type: object
            properties:
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              enabled:
                type: boolean
                example: true
                description: Indicates whether audit data should be sent to the webhook.
              log_format:
                type: string
                example: cef
                enum: [cef, json]
                description: The output format of each log messages.
                default: cef
              skip_ssl_verification:
                type: boolean
                example: false
                description: |-
                  Indicates if the SSL certificate verification of the host endpoint should be skipped when delivering payloads.
                default: false
              updated_at:
                type: string
                description: Timestamp when this webhook was last updated. Initial value is 0001-01-01T00:00:0Z.
                format: date-time
                readOnly: true
          examples:
            Get Audit Log Webhook:
              $ref: '#/components/examples/Get-Audit-Log-Webhook'
    AuditLogDestinationSingle:
      description: Audit log destination response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuditLogDestination'
          examples:
            Audit Log Destination:
              $ref: '#/components/examples/Audit-Log-Destination'
    AuditLogDestinationCollection:
      description: Response for audit log destinations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListAuditLogDestinations'
          examples:
            Audit Log Destination Collection:
              $ref: '#/components/examples/Audit-Log-Destinations'
    AuditLogWebhookStatus:
      description: Get response for audit log webhook status
      content:
        application/json:
          schema:
            type: object
            properties:
              webhook_status:
                type: string
                example: active
                enum: [active, inactive]
                description: |-
                  Current status of a webhook. `active` indicates the webhook is sending or ready to send requests. 
                  `inactive` indicates the webhook has been turned off due to failed attempts.
              webhook_enabled:
                type: boolean
                example: true
                description: |-
                  Configured status of a webhook. `enabled` indicates the client will accept requests. 
                  `disabled` indicates the client will not accept requests.
              last_attempt_at:
                type: string
                format: date-time
                example: '2023-03-21T09:29:14.52Z'
                description: The last time a request was made to the webhook, regardless of outcome.
              last_response_code:
                type: integer
                example: 401
                description: The last response code received from the webhook.
              last_response_message:
                type: string
                example: Unauthenticated
                description: The last message received from the webhook. Useful for debugging.
          examples:
            Get Audit Log Webhook Status:
              $ref: '#/components/examples/Get-Audit-Log-Webhook-Status'
    JWKS:
      description: Get response for the audit log JSON Web Keys
      content:
        application/json:
          schema:
            type: object
            properties:
              keys:
                type: array
                items:
                  $ref: '#/components/schemas/JWK'
          examples:
            JWKS:
              $ref: '#/components/examples/JWKS'
    WebhookBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            Request Format is Invalid:
              $ref: '#/components/examples/400-request-format-is-invalid'
            Authorization Cannot be Blank:
              $ref: '#/components/examples/400-authorization-cannot-be-blank'
            Endpoint Cannot be Blank:
              $ref: '#/components/examples/400-endpoint-cannot-be-blank'
            Endpoint Must be a valid URL:
              $ref: '#/components/examples/400-endpoint-must-be-valid-url'
    AuditLogDestinationBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            Request Format is Invalid:
              $ref: '#/components/examples/400-request-format-is-invalid'
            Authorization Cannot be Blank:
              $ref: '#/components/examples/400-authorization-cannot-be-blank'
            Endpoint Cannot be Blank:
              $ref: '#/components/examples/400-endpoint-cannot-be-blank'
            Endpoint Must be a valid URL:
              $ref: '#/components/examples/400-endpoint-must-be-valid-url'
    ReplayJobBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
    ReplayJobConflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '../../../../common/definitions/errors.yaml#/components/schemas/ConflictError'
          examples:
            Job Running:
              $ref: '#/components/examples/409-job-running'
  requestBodies:
    ReplaceAuditLogReplayJob:
      description: The request schema to replace an audit log replay job.
      content:
        application/json:
          schema:
            type: object
            required:
              - start_at
              - end_at
            properties:
              start_at:
                type: string
                format: date-time
                description: |-
                  The start of a date-time range in RFC3339 format e.g. 2017-07-21T17:32:28Z.
                  Must be within the last 7 days.
              end_at:
                type: string
                format: date-time
                description: |-
                  The end of a date-time range in RFC3339 format e.g. 2017-07-21T17:32:28Z.
                  Must be within the last 7 days.
    UpdateAuditLogWebhook:
      description: The request schema to modify an audit log webhook.
      content:
        application/json:
          schema:
            type: object
            properties:
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              authorization:
                type: string
                example: 'Bearer sometoken'
                description: The value to include in the `Authorization` header when sending audit logs to the webhook.
              enabled:
                type: boolean
                example: true
                description: Indicates if the data should be sent to the webhook.
                default: false
              log_format:
                type: string
                example: cef
                enum: [cef, json]
                description: The output format of each log message.
                default: cef
              skip_ssl_verification:
                type: boolean
                example: false
                description: |-
                  Indicates if the SSL certificate verification of the host endpoint should be skipped when delivering payloads.
                  We strongly recommend not setting this to 'true' as you are subject to man-in-the-middle and other attacks.
                  This option should be considered only for self-signed SSL certificates used in a non-production environment.
                default: false
          examples:
            Disable Webhook:
              $ref: '#/components/examples/Disable-Audit-Log-Webhook'
            Enable Webhook:
              $ref: '#/components/examples/Enable-Audit-Log-Webhook'
            Update Webhook:
              $ref: '#/components/examples/Update-Audit-Log-Webhook'
    CreateAuditLogDestination:
      description: The request schema to create an audit log destination.
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                example: My Destination
                description: The name of the audit log destination.
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              authorization:
                type: string
                example: 'Bearer sometoken'
                description: The value to include in the `Authorization` header when sending audit logs to the webhook.
              log_format:
                type: string
                example: cef
                enum: [ cef, json ]
                description: The output format of each log message.
                default: cef
              skip_ssl_verification:
                type: boolean
                example: false
                description: |-
                  Indicates if the SSL certificate verification of the host endpoint should be skipped when delivering payloads.
                  We strongly recommend not setting this to 'true' as you are subject to man-in-the-middle and other attacks.
                  This option should be considered only for self-signed SSL certificates used in a non-production environment.
                default: false
          examples:
            Create Audit Log Destination:
              $ref: '#/components/examples/Create-Audit-Log-Destination'
    UpdateAuditLogDestination:
      description: The request schema to modify an audit log destination.
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                example: My Destination
                description: The name of the audit log destination.
              endpoint:
                type: string
                example: 'https://example.com/audit-logs'
                description: The endpoint that will receive audit log messages.
              authorization:
                type: string
                example: 'Bearer sometoken'
                description: The value to include in the `Authorization` header when sending audit logs to the webhook.
              log_format:
                type: string
                example: cef
                enum: [ cef, json ]
                description: The output format of each log message.
                default: cef
              skip_ssl_verification:
                type: boolean
                example: false
                description: |-
                  Indicates if the SSL certificate verification of the host endpoint should be skipped when delivering payloads.
                  We strongly recommend not setting this to 'true' as you are subject to man-in-the-middle and other attacks.
                  This option should be considered only for self-signed SSL certificates used in a non-production environment.
                default: false
          examples:
            Update Audit Log Destination:
              $ref: '#/components/examples/Update-Audit-Log-Destination'
    AuthFailureLogs:
      description: The request schema to create authentication failure audit logs.
      content:
        application/json:
          schema:
            type: object
            properties:
              logs:
                type: array
                items:
                  $ref: '#/components/schemas/StreamLog'
          examples:
            Auth-Failure-Logs:
              $ref: '#/components/examples/Auth-Failure-Logs'

  securitySchemes:
    personalAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
    systemAccountAccessToken:
      $ref: '../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken'
  examples:
    400-request-format-is-invalid:
      value:
        status: 400
        title: Bad Request
        detail: Could not parse request body
        instance: 'konnect:trace:3674017986744198214'
        invalid_parameters:
          - field: body
            reason: request format is invalid
    400-authorization-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        detail: Required field missing
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: authorization
            reason: cannot be blank
    400-endpoint-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        detail: Required field missing
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: endpoint
            reason: cannot be blank
    400-endpoint-must-be-valid-url:
      value:
        status: 400
        title: Bad Request
        detail: Invalid endpoint
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: endpoint
            reason: must be a valid URL
    409-job-running:
      value:
        status: 409
        title: Resource Conflict
        instance: 'konnect:trace:6644808935508571943'
        detail: A replay job is currently running
    Update-Audit-Log-Webhook:
      value:
        endpoint: https://example.com/audit-log-json
        log_format: json
        skip_ssl_verification: false
    Update-Audit-Log-Destination:
      value:
        endpoint: https://example.com/audit-log-json
        log_format: json
        skip_ssl_verification: false
    Disable-Audit-Log-Webhook:
      value:
        enabled: false
    Enable-Audit-Log-Webhook:
      value:
        enabled: true
    Get-Audit-Log-Webhook:
      value:
        endpoint: https://example.com/audit-log
        enabled: true
        log_format: cef
        skip_ssl_verification: false
        updated_at: '2023-03-21T09:29:14.52Z'
    Audit-Log-Destinations:
      value:
        data:
          - id: 07ec3858-066b-4629-bdc5-d4aa893b424d
            name: Destination-1
            endpoint: https://example.com/audit-log
            log_format: cef
            skip_ssl_verification: false
            created_at: '2023-03-20T09:29:14.52Z'
            updated_at: '2023-03-21T09:29:14.52Z'
          - id: e4374fdc-1f15-4da9-b2e8-7f13d822efe8
            name: Destination-2
            endpoint: https://example.com/audit-log
            log_format: json
            skip_ssl_verification: false
            created_at: '2023-03-20T09:29:14.52Z'
            updated_at: '2023-03-21T09:29:14.52Z'
        meta:
          next: '/api/v2/audit-log-destinations?page%5Bafter%5D=f11CXlAMGEVFB0AEQw19QhNYMV5CCkFYSltZUFgPSBJHFwwWFg%3D%3D&page%5Bsize%5=1'
          previous: '/api/v2/audit-log-destinations?page%5Bbefore%5D=dl8UWVYPEUZFA0sHQw19EUVYMV5BDhcISl1WWVgNQRBBS1gSFw%3D%3D&page%5Bsize%5D=1'
          size: 10
    Audit-Log-Destination:
      value:
        id: 07ec3858-066b-4629-bdc5-d4aa893b424d
        name: My Destination
        endpoint: https://example.com/audit-log
        log_format: cef
        skip_ssl_verification: false
        created_at: '2023-03-20T09:29:14.52Z'
        updated_at: '2023-03-21T09:29:14.52Z'
    Create-Audit-Log-Destination:
      value:
        id: 07ec3858-066b-4629-bdc5-d4aa893b424d
        name: My Destination
        endpoint: https://example.com/audit-log
        authorization: 'Bearer token'
        log_format: cef
        skip_ssl_verification: false
    Get-Audit-Log-Webhook-Status:
      value:
        webhook_enabled: true
        webhook_status: inactive
        last_attempt_at: '2023-03-21T09:29:14.52Z'
        last_response_code: 401
        last_response_message: Unauthorized
    JWKS:
      value:
        keys:
          - kty: OKP
            alg: EdDSA
            kid: 3f60bc4376c937154f3c004ebd180433ac0d03e6
            crv: Ed25519
            x: XWxGtApfcqmKI7p0OKnF5JSEWMVoLsytFXLEP7xZ_l8
    JWK:
      value:
        kty: OKP
        alg: EdDSA
        kid: 3f60bc4376c937154f3c004ebd180433ac0d03e6
        crv: Ed25519
        x: XWxGtApfcqmKI7p0OKnF5JSEWMVoLsytFXLEP7xZ_l8
    Auth-Failure-Logs:
      value:
        logs:
          - data:
              user_id: "auth0|1234"
              date: "2024-09-03T04:23:06.115Z"
              ip: "127.0.0.1"
              type: fp
              user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36"
  schemas:
    ListAuditLogDestinations:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogDestination"
        meta:
          $ref: '../../../../common/definitions/metadatas.yaml#/components/schemas/CursorMetaPage'
    AuditLogDestination:
       title: AuditLogDestination
       type: object
       description: Audit Log Destination Schema
       properties:
         id:
           type: string
           format: uuid
           description: The unique ID of the audit log destination.
         name:
           type: string
           description: The name of the audit log destination.
         endpoint:
           type: string
           example: 'https://example.com/audit-logs'
           description: The endpoint that will receive audit log messages.
         log_format:
           type: string
           example: cef
           enum: [ cef, json ]
           description: The output format of each log messages.
           default: cef
         skip_ssl_verification:
           type: boolean
           example: false
           description: |-
             Indicates if the SSL certificate verification of the host endpoint should be skipped when delivering payloads.
           default: false
         created_at:
           type: string
           description: Timestamp when this webhook was created.
           format: date-time
           readOnly: true
         updated_at:
           type: string
           description: Timestamp when this webhook was last updated. Initial value is 0001-01-01T00:00:0Z.
           format: date-time
           readOnly: true
       example:
         Audit Log Destination:
           $ref: '#/components/examples/Audit-Log-Destination'
    StreamLog:
      title: StreamLog
      type: object
      description: Auth Failure Log Stream Schema
      properties:
        data:
          type: object
          description: Log data
          properties:
            user_id:
              type: string
              description: Auth0 user ID
            date:
              type: string
              description: Date when the log is created
              format: date-time
              readOnly: true
            ip:
              type: string
              description: IP address of the client which failed to authenticate
            type:
              type: string
              description: Type of authentication failure
            user_agent:
              type: string
              description: User Agent of client which failed to authenticate
    JWK:
      title: JWK
      type: object
      description: An individual JSON Web Key.
      properties:
        kty:
          type: string
          description: The algorithm family of the key.
        alg:
          type: string
          description: The algorithm intended for use with the key.
        kid:
          type: string
          description: The unique ID of the key.
        crv:
          type: string
          description: The cryptographic curve used with the key.
        x:
          type: string
          description: The x coordinate for the Elliptic Curve point.
      example:
        $ref: '#/components/examples/JWK/value'
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Audit Logs
