openapi: 3.0.0
info:
  title: Runtime Groups API
  version: 2.0.0
  description: The API for Kong Konnect Runtime Groups.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Base URL
paths:
  /runtime-groups:
    get:
      summary: List Runtime Groups
      responses:
        '200':
          $ref: '#/components/responses/ListRuntimeGroupsResponse'
        '400':
          $ref: '#/components/responses/RuntimeGroupsBadRequest'
        '401':
          $ref: '#/components/responses/RuntimeGroupUnauthenticated'
        '403':
          $ref: '#/components/responses/RuntimeGroupPermissionDenied'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: list-runtime-groups
      description: Returns an array of runtime groups objects containing information about the Konnect Runtime Groups.
      parameters:
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageSize'
        - $ref: '../../../../../common/definitions/metadatas.yaml#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/FilterByNameEquality'
        - $ref: '#/components/parameters/FilterByNameEqualityShort'
        - $ref: '#/components/parameters/FilterByNameContains'
        - $ref: '#/components/parameters/FilterByNameNotEquals'
        - $ref: '#/components/parameters/FilterByIdEquality'
        - $ref: '#/components/parameters/FilterByIdEqualityShort'
        - $ref: '#/components/parameters/FilterByClusterTypeEquality'
        - $ref: '#/components/parameters/FilterByClusterTypeEqualityShort'
        - $ref: '#/components/parameters/FilterByClusterTypeNotEquals'
        - $ref: '#/components/parameters/FilterByLabels'
      tags:
        - Runtime Groups
    parameters: []
    post:
      summary: Create Runtime Group
      operationId: create-runtime-group
      responses:
        '201':
          $ref: '#/components/responses/CreateRuntimeGroupResponse'
        '400':
          $ref: '#/components/responses/RuntimeGroupsBadRequest'
        '401':
          $ref: '#/components/responses/RuntimeGroupUnauthenticated'
        '403':
          $ref: '#/components/responses/RuntimeGroupPermissionDenied'
        '409':
          $ref: '#/components/responses/RuntimeGroupConflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      tags:
        - Runtime Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeGroupRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/CreateRuntimeGroupRequestExample'
      description: 'Create a runtime group in the Konnect Organization.'
  /runtime-groups/{id}:
    parameters:
      - schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        name: id
        in: path
        required: true
        description: The runtime group ID
    get:
      summary: Fetch Runtime Group
      responses:
        '200':
          $ref: '#/components/responses/RetrieveRuntimeGroupResponse'
        '400':
          $ref: '#/components/responses/RuntimeGroupsBadRequest'
        '401':
          $ref: '#/components/responses/RuntimeGroupUnauthenticated'
        '403':
          $ref: '#/components/responses/RuntimeGroupPermissionDenied'
        '404':
          $ref: '#/components/responses/RuntimeGroupNotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: get-runtime-group
      description: Returns information about a team from a given team ID.
      tags:
        - Runtime Groups
    patch:
      summary: Update Runtime Group
      operationId: update-runtime-group
      responses:
        '200':
          $ref: '#/components/responses/UpdateRuntimeGroupResponse'
        '400':
          $ref: '#/components/responses/RuntimeGroupsBadRequest'
        '401':
          $ref: '#/components/responses/RuntimeGroupUnauthenticated'
        '403':
          $ref: '#/components/responses/RuntimeGroupPermissionDenied'
        '404':
          $ref: '#/components/responses/RuntimeGroupNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Update an individual runtime group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuntimeGroupRequest'
            examples:
              Example Request Body:
                $ref: '#/components/examples/UpdateRuntimeGroupRequestExample'
      tags:
        - Runtime Groups
    delete:
      summary: Delete Runtime Group
      operationId: delete-runtime-group
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/RuntimeGroupsBadRequest'
        '401':
          $ref: '#/components/responses/RuntimeGroupUnauthenticated'
        '403':
          $ref: '#/components/responses/RuntimeGroupPermissionDenied'
        '404':
          $ref: '#/components/responses/RuntimeGroupNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Delete an individual runtime group.
      tags:
        - Runtime Groups
components:
  parameters:
    FilterByLabels:
      name: 'labels'
      description: Filter runtime groups in the response by associated labels.
      in: query
      required: false
      schema:
        type: string
        example: 'key:value,existCheck'
    FilterByNameEquality:
      name: 'filter[name][eq]'
      description: Filter by direct equality comparison of the name property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 'test'
    FilterByNameEqualityShort:
      name: 'filter[name]'
      description: Filter by direct equality comparison (short-hand) of the name property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 'test'
    FilterByNameContains:
      name: 'filter[name][contains]'
      description: Filter by contains comparison of the name property with a supplied substring.
      in: query
      required: false
      schema:
        type: string
        example: 'test'
    FilterByNameNotEquals:
      name: 'filter[name][neq]'
      description: Filter by non-equality comparison of the name property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 'test'
    FilterByIdEquality:
      name: 'filter[id][eq]'
      description: Filter by direct equality comparison of the id property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    FilterByIdEqualityShort:
      name: 'filter[id]'
      description: Filter by direct equality comparison (short-hand) of the id property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    FilterByClusterTypeEquality:
      name: 'filter[cluster_type][eq]'
      description: Filter by direct equality comparison of the cluster_type property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: CLUSTER_TYPE_HYBRID
    FilterByClusterTypeEqualityShort:
      name: 'filter[cluster_type]'
      description: Filter by direct equality comparison (short-hand) of the cluster_type property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: CLUSTER_TYPE_HYBRID
    FilterByClusterTypeNotEquals:
      name: 'filter[cluster_type][neq]'
      description: Filter by non-equality comparison of the cluster_type property with a supplied value.
      in: query
      required: false
      schema:
        type: string
        example: 'test'
  responses:
    RetrieveRuntimeGroupResponse:
      description: A response to retrieving a single runtime group.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RuntimeGroup'
          examples:
            Single runtime group response:
              $ref: '#/components/examples/RuntimeGroupExample'
    CreateRuntimeGroupResponse:
      description: A response to creating a runtime group.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RuntimeGroup'
          examples:
            Create Runtime Group Response:
              $ref: '#/components/examples/RuntimeGroupExample'
    UpdateRuntimeGroupResponse:
      description: A response to updating a runtime group.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RuntimeGroup'
          examples:
            Update Runtime Group Response:
              $ref: '#/components/examples/RuntimeGroupExample'
    ListRuntimeGroupsResponse:
      description: A paginated list response for a collection of runtime groups.
      content:
        application/json:
          schema:
            title: 'ListRuntimeGroupsResponse'
            type: object
            additionalProperties: false
            properties:
              meta:
                $ref: '../../../../../common/definitions/metadatas.yaml#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/RuntimeGroup'
            required:
              - meta
              - data
          examples:
            Runtime Group Collection:
              value:
                meta:
                  page:
                    number: 1
                    size: 10
                    total: 10
                data:
                  - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
                    name: Test Runtime Group
                    description: A test runtime group for exploration.
                    labels:
                      test: 'true'
                    config:
                      control_plane_endpoint: 'https://acfe5f253f.cp0.konghq.com'
                      telemetry_endpoint: 'https://acfe5f253f.tp0.konghq.com'
                      cluster_type: 'CLUSTER_TYPE_HYBRID'
                    created_at: '2022-11-04T20:10:06.927Z'
                    updated_at: '2022-11-04T20:10:06.927Z'
    RuntimeGroupsBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/BadRequestError'
          examples:
            Request Format Invalid:
              $ref: '#/components/examples/400RequestFormatInvalidExample'
            Cannot Be Blank:
              $ref: '#/components/examples/400CannotBeBlankExample'
            Invalid ID Format:
              $ref: '#/components/examples/400InvalidIDFormatExample'
            Usage Limits Reached:
              $ref: '#/components/examples/400UsageLimitsReachedExample'
            Unknown Property:
              $ref: '#/components/examples/400UnknownPropertyExample'
    RuntimeGroupPermissionDenied:
      description: Permission denied
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/ForbiddenError'
          examples:
            Permission Denied:
              $ref: '#/components/examples/403PermissionDeniedExample'
    RuntimeGroupUnauthenticated:
      description: Unauthenticated
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/UnauthorizedError'
          examples:
            Unauthorized:
              $ref: '#/components/examples/401UnauthenticatedExample'
    RuntimeGroupNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/NotFoundError'
          examples:
            Not Found:
              $ref: '#/components/examples/404NotFoundExample'
    RuntimeGroupConflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '../../../../../common/definitions/errors.yaml#/components/schemas/ConflictError'
          examples:
            Conflict:
              $ref: '#/components/examples/409ConflictExample'
    InternalServerError:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            title: 'InternalServerError'
            type: object
            description: The error response object.
            properties:
              status:
                type: integer
                description: The HTTP status code.
                example: 500
                enum:
                  - 500
              title:
                type: string
                description: The error response code.
                example: Internal Server Error
              instance:
                type: string
                example: 'konnect:trace:2287285207635123011'
                description: The Konnect traceback code
              detail:
                type: string
                example: Could not propagate runtime group changes to control plane cluster service.
                description: Details about the error.
            required:
              - status
              - title
              - instance
          examples:
            Internal Server Error:
              $ref: '#/components/examples/500InternalKokoErrorExample'
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/problem+json:
          schema:
            title: 'ServiceUnavailableError'
            type: object
            description: Error response for temporary service unavailability.
            properties:
              status:
                type: integer
                description: The HTTP status code.
                example: 503
                enum:
                  - 503
              title:
                type: string
                description: The error response code.
                example: Service Unavailable
              instance:
                type: string
                example: 'konnect:trace:2287285207635123011'
                description: The Konnect traceback code
              detail:
                type: string
                example: Could not retrieve permissions to check resource accessibility.
                description: Details about the error.
            required:
              - status
              - title
              - instance
          examples:
            Service Unavailable:
              $ref: '#/components/examples/503PermissionReadFailureExample'
  schemas:
    CreateRuntimeGroupRequest:
      title: 'CreateRuntimeGroupRequest'
      description: The request schema for the create runtime group request.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          example: Test Runtime Group
          description: The name of the runtime group.
        description:
          type: string
          example: A test runtime group for exploration.
          description: The description of the runtime group in Konnect.
        cluster_type:
          type: string
          description: The ClusterType value of the Koko Cluster associated with the Runtime Group.
          example: CLUSTER_TYPE_HYBRID
          enum:
            - CLUSTER_TYPE_HYBRID
            - CLUSTER_TYPE_K8S_INGRESS_CONTROLLER
        labels:
          $ref: '#/components/schemas/Labels'
      required:
        - name
    UpdateRuntimeGroupRequest:
      title: 'UpdateRuntimeGroupRequest'
      description: The request schema for the update runtime group request.
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          example: Test Runtime Group
          description: The name of the runtime group.
        description:
          type: string
          example: A test runtime group for exploration.
          description: The description of the runtime group in Konnect.
        labels:
          $ref: '#/components/schemas/Labels'
    RuntimeGroup:
      title: Runtime Group
      type: object
      description: The runtime group object contains information about a Kong control plane.
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          description: The runtime group ID.
          readOnly: true
        name:
          type: string
          example: Test Runtime Group
          description: The name of the runtime group.
        description:
          type: string
          example: A test runtime group for exploration.
          description: The description of the runtime group in Konnect.
        labels:
          $ref: '#/components/schemas/Labels'
        config:
          type: object
          description: CP configuration object for related access endpoints.
          additionalProperties: false
          properties:
            control_plane_endpoint:
              type: string
              format: url
              example: 'https://acfe5f253f.cp0.konghq.com'
              description: Control Plane Endpoint.
              readOnly: true
            telemetry_endpoint:
              type: string
              format: url
              example: 'https://acfe5f253f.tp0.konghq.com'
              description: Telemetry Endpoint.
              readOnly: true
            cluster_type:
              type: string
              description: The ClusterType value of the Koko Cluster associated with the Runtime Group.
              example: CLUSTER_TYPE_HYBRID
              readOnly: true
              enum:
                - CLUSTER_TYPE_UNSPECIFIED
                - CLUSTER_TYPE_HYBRID
                - CLUSTER_TYPE_K8S_INGRESS_CONTROLLER
          required:
            - control_plane_endpoint
            - telemetry_endpoint
            - cluster_type
        created_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of runtime group creation date.
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          description: An ISO-8604 timestamp representation of runtime group update date.
          readOnly: true
      required:
        - id
        - name
        - description
        - labels
        - config
        - created_at
        - updated_at
    Labels:
      title: 'Labels'
      type: object
      example:
        test: 'true'
      description: Labels to facilitate tagged search on runtime groups. Keys must be of length 1-63 characters, and cannot start with 'kong', 'konnect', 'mesh', 'kic', or '_'.
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z\-\.\_]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
  securitySchemes:
    personalAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/personalAccessToken'
    systemAccountAccessToken:
      $ref: '../../../../../common/definitions/security.yaml#/components/securitySchemes/systemAccountAccessToken'
  examples:
    400RequestFormatInvalidExample:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:3674017986744198214'
        invalid_parameters:
          - field: body
            reason: request format is invalid
    400CannotBeBlankExample:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:6644808935508571943'
        invalid_parameters:
          - field: name
            reason: cannot be blank
    400InvalidIDFormatExample:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:8988732526256293040'
        invalid_parameters:
          - field: id
            reason: invalid ID format
    400UsageLimitsReachedExample:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:8988732526256293040'
        detail: Cannot create an additional runtime group because usage limits have been reached.
    400UnknownPropertyExample:
      value:
        status: 400
        title: Bad Request
        instance: 'konnect:trace:8988732526256293040'
        invalid_parameters:
          - field: id
            rule: unknownProperty
            reason: property id should not exist
    401UnauthenticatedExample:
      value:
        status: 401
        title: Unauthenticated
        instance: 'konnect:trace:952172606039454040'
        detail: A valid token is required
    403PermissionDeniedExample:
      value:
        status: 403
        title: Permission denied
        instance: 'konnect:trace:2822394689570210664'
        detail: Insufficient role-set to create runtime groups.
    404NotFoundExample:
      value:
        status: 404
        title: Not Found
        instance: 'konnect:trace:2287285207635123011'
        detail: The requested runtime group was not found.
    409ConflictExample:
      value:
        status: 409
        title: Conflict
        instance: 'konnect:trace:2287285207635123011'
        detail: Runtime group with provided name already exists.
    500InternalKokoErrorExample:
      value:
        status: 500
        title: Internal Server Error
        instance: 'konnect:trace:2287285207635123011'
        detail: Could not propagate runtime group changes to control plane cluster service.
    503PermissionReadFailureExample:
      value:
        status: 503
        title: Service Unavailable
        instance: 'konnect:trace:2287285207635123011'
        detail: Could not retrieve permissions to check resource accessibility.
    CreateRuntimeGroupRequestExample:
      value:
        name: 'Test Runtime Group'
        description: A test runtime group for exploration.
        cluster_type: CLUSTER_TYPE_K8S_INGRESS_CONTROLLER
        labels:
          test: 'true'
    UpdateRuntimeGroupRequestExample:
      value:
        name: 'Test Runtime Group'
        description: A test runtime group for exploration.
        labels:
          otherTest: 'true'
    RuntimeGroupExample:
      value:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: Test Runtime Group
        description: A test runtime group for exploration.
        labels:
          test: 'true'
        config:
          control_plane_endpoint: 'https://acfe5f253f.cp0.konghq.com'
          telemetry_endpoint: 'https://acfe5f253f.tp0.konghq.com'
          cluster_type: 'CLUSTER_TYPE_HYBRID'
        created_at: '2022-11-04T20:10:06.927Z'
        updated_at: '2022-11-04T20:10:06.927Z'
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Runtime Groups
